html,body,div,form,fieldset { margin:0; padding:0; border:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; } 

body { /* must be equal to Arial select option font in editor properties (keep spaces)*/ 
	font-family: Arial,Helvetica,sans-serif; 
	font-size: 12px;
    color: #333;
}

h1, h2, h3, h4, h5, h6 { margin: 0; padding:8px; font-weight: bold; }
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1em; }
h5 { font-size: 0.83em; }
h6 { font-size: 0.67em; }

p {
	margin:0px;
	padding:0px;
}

.mcmSelectBox {
	background-repeat:no-repeat;
	position:absolute;
	width:120px;
}

.mcmInputText {
	background-repeat:no-repeat;
	position:absolute;
	width:120px;
	padding:1px;
	border: 1px solid #7f9db9;
}

.mcmInputCB {
	position:absolute;
}

.mcmInputRB {
	position:absolute;
}

.mcmSendBT {
	position:absolute;
}

.mcmLabelText {
	position:absolute;
	padding:1px 0;
}

.mcmFormReg {
	position:absolute;
}

.mcmDivBox {
	position:absolute;
	background-repeat:no-repeat;
}

.mcmHtmlBox {
	position:absolute;
	background-repeat:no-repeat;
}

.mcmFlashBox {
	position:absolute;
}

.mcmIframeBox {
	position:absolute;
	background-repeat:no-repeat;
}

.mcmImgBox {
	position:absolute;
	background-repeat:no-repeat;
}

.mcmTextBox {
	position:absolute;
	background-repeat:no-repeat;
	line-height: 1;
}

.mcmAButton {
	background-repeat:no-repeat;
    display: block;
    padding: 1px;
    position: absolute;
}

#mcmPixel {
	position:absolute;
	width:1px;
	height:1px;
	left: 0px;
    top: 0px;
	overflow: hidden;
	display: block;
}

/* jquery tools */

.mcmCarrousel {
	direction:ltr;
	position:absolute;
	overflow:hidden;
	background-repeat:no-repeat;
}

.mcmCarrousel .carrouselItemsHorizan {
	position:absolute;
	width:40000px;
}

.mcmCarrousel .carrouselItemsHorizan div {
	float:left;
}

.mcmCarrousel .carrouselItemsVertical {
	position:absolute;
	clear:both;
}

a.mcmCarrouselButton {
	background-repeat:no-repeat;
	cursor: pointer;
	display:block;
	position: absolute;
    padding: 1px;
}

.mcmForm {
	direction:ltr;
	position:absolute;
	background-repeat:no-repeat;
}

.mcmCarrousel a.mcmCarrouselDisabled {
	background-repeat:no-repeat;
	visibility:hidden;		
}