body{margin:0px;padding:0px;width:100%;}

img{border:0px;}

h1,h2,p,span,bdo{margin:0px;padding:0px;}

#container{clear:both;float:left;width:100%;}
#container #header{clear:both;float:left;width:100%;background:#cde7f4 url('images/header.jpg') repeat-x;padding-bottom:5px;}
.center{clear:both;margin:0 auto;width:960px;}
.center1{clear:both;margin:0 auto;width:976px;}

#container #header .logo1{clear:both;float:left;width:210px;margin-top:15px;}
#container #header .logo1 .logod{clear:both;float:left;width:210px;height:21px;background:url('images/img2.jpg') no-repeat;}
#container #header .logo1 .logod3{clear:both;float:left;width:200px;height:21px;margin-top:9px;font:normal 14px 'Arial Unicode MS',arial;color:#ffffff;direction:rtl;margin-left:10px;}
#container #header .logo1 .face{clear:both;float:left;width:65px;height:20px;margin-top:9px;padding-bottom:13px;}
#container #header .logo1 .tw1{float:left;width:64px;height:20px;margin-top:9px;margin-left:7px;padding-bottom:13px;}

#container #header .logo2{float:right;width:672px;height:111px;}

#container #header .menu{clear:both;float:left;width:960px;}
#container #header .menu .mleft{clear:both;float:left;width:8px;height:45px;background:url('images/menuleft.jpg') no-repeat;}
#container #header .menu .mmid{float:left;width:935px;height:30px;background:url('images/menumid.jpg') repeat-x;padding-top:15px;padding-right:10px;}
#container #header .menu .mmid .search{clear:both;float:left;width:208px;height:20px;margin-left:5px;background:url('images/search.jpg') no-repeat;}
#container #header .menu .mmid .search .simg{clear:both;float:left;width:13px;height:13px;margin-left:7px;margin-top:6px;}
#container #header .menu .mmid .search .stxt{float:left;width:170px;margin-left:5px;background:url(0.jpg) no-repeat;}
#container #header .menu .mmid .search .stxt .stxt1{float:left;width:170px;margin-left:5px;background:url(0.jpg) no-repeat;border:solid 0px red;margin-top:2px;direction:rtl;margin-right:10px;}
#container #header .menu .mmid ul{list-style:none;margin:0px;padding:0px;}
#container #header .menu .mmid ul li{float:right;margin-left:15px;direction:rtl;font:normal 17px 'Spoiler',arial;color:#3e454b;}
#container #header .menu .mmid ul li a{color:#3e454b;text-decoration:none;}
#container #header .menu .mmid ul li a:hover{color:#3e454b;text-decoration:none;}
#container #header .menu .mmid ul li.mline{float:right;margin:0px;width:1px;height:15px;margin-left:12px;}
#container #header .menu .mright{float:left;width:7px;height:45px;background:url('images/menuright.jpg') no-repeat;}

#container #middle{clear:both;float:left;width:100%;background:url('images/top.jpg') no-repeat top;}
#container #middle .mtop{clear:both;float:left;width:956px;height:70px;background:url('images/top1.png') no-repeat;padding-right:20px;margin-top:15px;font:bold 30px arial;color:#3e454b;text-align:right;line-height:70px;}
#container #middle .mmid{clear:both;float:left;width:958px;background:#EEEEEE url('images/mid2.png') repeat-x;margin-left:10px;}
#container .orform{clear:both;float:left;width:330px;margin-left:9px;margin-top:3px;}
#container .orform .orftop{clear:both;float:left;width:309px;height:36px;background:url('images/ortop.png') no-repeat;font:bold 14px arial;color:#f6d0a8;}
#container .orform .orftop .orfm1{float:left;margin-left:13px;margin-top:13px;font:bold 14px arial;color:#f7e7db;}
#container .orform .orftop .orfm1 a{color:#f7e7db;text-decoration:none;}
#container .orform .orftop .orfm1 a:hover{color:#f7e7db;text-decoration:none;}
#container .orform .orftop .orfm2{float:left;margin-left:20px;margin-top:13px;font:bold 14px arial;color:#f7e7db;}
#container .orform .orftop .orfm2 a{color:#f7e7db;text-decoration:none;}
#container .orform .orftop .orfm2 a:hover{color:#f7e7db;text-decoration:none;}
#container .orform .orftop .orfline{float:left;margin-left:12px;margin-top:12px;}

#container .orform .orfmid{clear:both;float:left;width:309px;height:239px;background:url('images/tabbg.jpg') no-repeat;}
#container .orform .orfmid1{clear:both;float:left;width:309px;height:239px;background:url('images/tabbg1.jpg') no-repeat;}
#container .orform .orfhd{clear:both;float:left;width:263px;height:26px;margin-left:30px;margin-top:18px;}
#container .orform .select1{clear:both;float:left;width:263px;}
#container .orform .select1 select{clear:both;float:left;width:255px;margin-left:30px;margin-top:18px;font:normal 12px arial;color:#5e666c;direction:rtl;}
#container .orform .select2{float:left;width:122px;margin-right:10px;}
#container .orform .select2 select{clear:both;float:left;width:122px;margin-left:30px;margin-top:18px;font:normal 12px arial;color:#5e666c;direction:rtl;}
#container .orform .text{float:left;width:309px;height:23px;background:url('images/ortxt.jpg') center no-repeat;margin-top:18px;}
#container .orform .text input{float:left;width:245px;margin-left:30px;background:url('ortxt.jpg') no-repeat;border:0px;font:normal 12px arial;color:#5e666c;padding-top:4px;direction:rtl;}
#container .orform .button{clear:both;float:left;width:309px;margin-top:25px;}
#container .orform .button input{float:left;width:74px;height:30px;background:url('images/orfbtn.jpg') no-repeat;border:0px;margin-left:120px;}

#container #middle .mmid .dolor{float:left;width:555px;text-align:right;font:bold 14px arial;color:#3e454b;line-height:20px;margin-left:30px;}

#container #middle .mmid .smd{clear:both;float:left;width:956px;margin-top:50px;}

#container #middle .mmid .smd .smd1{float:left;width:300px;border-right:solid 1px #e8ebed;margin-left:10px;padding-right:14px;}

#container #middle .mmid .smd .smd1 h2{clear:both;float:left;text-align:right;direction:rtl;width:300px;font:normal 22px arial;color:#3e454b;}
#container #middle .mmid .smd .smd1 .smtxt{clear:both;float:left;width:190px;margin-top:10px;padding-bottom:15px;}
#container #middle .mmid .smd .smd1 .smtxt .smtxt1{clear:both;float:right;width:170px;font:bold 14px arial;color:#1f86de;text-decoration:underline;text-align:right;}
#container #middle .mmid .smd .smd1 .smtxt .smtxt1 a{color:#1f86de;text-decoration:underline;}
#container #middle .mmid .smd .smd1 .smtxt .smtxt2{clear:both;float:right;width:170px;font:normal 12px arial;color:#5e666c;text-align:right;margin-top:5px;line-height:17px;}
#container #middle .mmid .smd .smd1 .smtxt .star{clear:both;float:right;width:170px;font:normal 11px arial;color:#3e454b;text-align:right;margin-top:5px;}
#container #middle .mmid .smd .smd1 .smtxt .star b{font:normal 12px arial;color:#8a9095;}
#container #middle .mmid .smd .smd1 .rank{clear:both;float:left;direction:rtl;width:170px;}

#container #middle .mmid .smd .smd1 .smimg{float:left;width:100px;margin-left:10px;margin-top:10px;}
#container #middle .mmid .smd .smd1 .smimg .smimg1{clear:both;float:left;width:100px;height:67px;}
#container #middle .mmid .smd .smd1 .smimg .smbr{clear:both;float:left;width:86px;height:25px;margin-top:15px;margin-left:8px;}

#container #middle .mmid .smd .smd2{float:left;width:300px;}
#container #middle .mmid .smd .smd2 h2{clear:both;float:left;text-align:right;direction:rtl;width:290px;font:normal 22px arial;color:#3e454b;}
#container #middle .mmid .smd .smd2 .smtxt{clear:both;float:left;width:180px;margin-top:10px;padding-bottom:15px;}
#container #middle .mmid .smd .smd2 .smtxt .smtxt1{clear:both;float:right;width:170px;font:bold 14px arial;color:#1f86de;text-decoration:underline;text-align:right;}
#container #middle .mmid .smd .smd2 .smtxt .smtxt1 a{color:#1f86de;text-decoration:underline;}
#container #middle .mmid .smd .smd2 .smtxt .smtxt2{clear:both;float:right;width:170px;font:normal 12px arial;color:#5e666c;text-align:right;margin-top:5px;}
#container #middle .mmid .smd .smd2 .smtxt .star{clear:both;float:right;width:170px;font:normal 11px arial;color:#3e454b;text-align:right;margin-top:5px;}
#container #middle .mmid .smd .smd2 .smtxt .star b{font:normal 12px arial;color:#8a9095;}
#container #middle .mmid .smd .smd2 .smimg{float:left;width:100px;margin-left:10px;margin-top:10px;}
#container #middle .mmid .smd .smd2 .smimg .smimg1{clear:both;float:left;width:100px;height:67px;}
#container #middle .mmid .smd .smd2 .smimg .smbr{clear:both;float:left;width:86px;height:25px;margin-top:15px;margin-left:8px;}

#container #middle .mbtm{clear:both;float:left;width:958px;height:11px;background:url('images/mid1.png') repeat-x;margin-left:10px;}

#container #footer{clear:both;float:left;width:100%;margin-top:20px;padding-bottom:20px;}
#container #footer .fbox{clear:both;float:left;width:960px;}
#container #footer .fbox .ftop{clear:Both;float:left;width:960px;height:7px;}
#container #footer .fbox .fbmid{clear:both;float:left;width:958px;border-left:solid 1px #e0e4e9;border-right:solid 1px #e0e4e9;}

.lbutton{clear:both;float:left;width:282px;height:32px;margin-top:20px;padding-bottom:20px;}

#container #footer .fbox .fbmid .flist1{float:left;width:133px;margin-top:10px;}
#container #footer .fbox .fbmid .flist1 .head{float:left;width:130px;font:bold 12px arial;color:#454646;text-align:right;margin-bottom:5px;}
#container #footer .fbox .fbmid .flist1 ul{list-style:none;margin:0px;padding:0px;}
#container #footer .fbox .fbmid .flist1 ul li{float:left;width:133px;font:normal 12px arial;color:#7794b2;text-align:right;line-height:18px;}
#container #footer .fbox .fbmid .flist1 ul li a{display:block;text-decoration:underline;color:#7794b2;}
#container #footer .fbox .fbmid .flist1 ul li a:hover{display:block;text-decoration:underline;color:#7794b2;}
#container #footer .ftmenu{clear:both;float:left;width:960px;margin-top:20px;}
#container #footer .ftmenu .ftlogo{clear:both;float:left;width:149px;height:11px;}
#container #footer .ftmenu .ftmenu1{float:right;width:425px;}
#container #footer .ftmenu .ftmenu1 .fcopy{float:left;width:230px;font:normal 12px arial;color:#7d8487;}
#container #footer .ftmenu .ftmenu1  span{float:left;margin-left:10px;font:normal 12px arial;color:#7d8487;}
#container #footer .ftmenu .ftmenu1  span a{color:#7d8487;text-decoration:none;}
#container #footer .ftmenu .ftmenu1  span a:hover{color:#7d8487;text-decoration:none;}


/* melnt_Hotlist_compare */
#container #middle .mmid1{clear:both;float:left;width:958px;margin-left:10px;}
#container #middle .mmid1 .bbox{clear:both;float:left;width:958px;}
#container #middle .mmid1 .bbox .bbox1{float:left;width:292px;height:95px;background:url('images/timg3.jpg') no-repeat;margin-left:16px;margin-right:9px;}
#container #middle .mmid1 .bbox .bbox1 .text{float:left;width:170px;font:bold 16px arial;text-align:center;color:#fff;line-height:23px;margin-top:12px;}
#container #middle .mmid1 .bbox .bbox1 .imgs{float:right;width:113px;height:95px;font:bold 16px arial;}
#container #middle .mmid1 h1{clear:both;float:left;width:946px;font:bold 24px arial;color:#3e454b;direction:rtl;margin-top:25px;}
#container #middle .mmid1 .lorem{clear:both;float:left;width:946px;font:normal 12px arial;color:#3e454b;direction:rtl;margin-top:10px;line-height:19px;padding-bottom:10px;}

#container #middle .mmid1 .bbox .bbox2{float:left;width:290px;margin-left:16px;margin-right:12px;}
#container #middle .mmid1 .bbox .bbox2 .bboxtop{float:left;width:290px;height:7px;background:url('images/toggletop.jpg') no-repeat;margin-top:12px;}
#container #middle .mmid1 .bbox .bbox2 .bboxmid{float:left;width:290px;background:url('images/togglemid.jpg') repeat-y;}


#container #middle .mmid1 .bbox .bbox2 .bboxmid .tog1{clear:both;float:left;direction:rtl;width:260px;font:bold 18px arial;color:#6372b1;padding-right:22px;background:url('images/timg1.jpg') right no-repeat;margin-top:2px;}
#container #middle .mmid1 .bbox .bbox2 .bboxmid .tog2{clear:both;float:left;direction:rtl;width:240px;font:bold 18px arial;color:#6372b1;padding-right:22px;background:url('images/timg1.jpg') right no-repeat;margin-top:4px;}

#container #middle .mmid1 .bbox .bbox2 .bboxmid ul {list-style:none;margin:0px;padding:0px;}
#container #middle .mmid1 .bbox .bbox2 .bboxmid ul li{clear:both;float:left;direction:rtl;width:222px;font:bold 12px arial;color:#1f86de;background:url('images/timg8.jpg') right no-repeat;padding-right:18px;margin-right:10px;margin-top:10px;}
#container #middle .mmid1 .bbox .bbox2 .bboxmid ul li a{color:#1f86de;}
#container #middle .mmid1 .bbox .bbox2 .bboxbtm{float:left;width:290px;height:7px;background:url('images/togglebtm.jpg') no-repeat;}
#container #middle .mmid1 .button{clear:both;float:left;width:100%;text-align:center;margin-top:30px;}
#container #middle .button1{clear:both;float:left;width:50%;margin-top:75px;margin-left:15px;}
#container #middle .button2{clear:both;float:left;width:98%;text-align:center;margin-top:30px;}



/* melnt_Hotel_compare_between_hotels */
#container #middle .mmid1 .compare{clear:both;float:left;width:953px;margin-left:5px;padding-bottom:50px;}
#container #middle .mmid1 .compare img{float:left;}
#container #middle .mmid1 .compare .select1{float:left;width:255px;font:bold 18px arial;color:#5f71b2;margin-left:30px;}
#container #middle .mmid1 .compare .select1 select{clear:both;float:left;width:150px;font:bold 14px arial;color:#5e666c;direction:rtl;}

#container #middle .mmid1 .tabs{clear:both;float:left;width:900px;margin-left:7px;}
#container #middle .mmid1 .tabs .tab1{float:left;width:240px;height:68px;margin-left:-3px;background:url('images/comimg1.jpg') no-repeat;font:bold 24px arial;text-align:center;line-height:68px;color:#fff;}

#container #middle .mmid1 .table{font:bold 16px arial;color:#7a7a7a;}
#container #middle .mmid1 .row1{clear:both;float:left;width:948px;height:52px;background:url('images/comrow1.jpg') no-repeat;font:bold 16px arial;color:#7a7a7a;margin-left:5px;margin-top:0px;margin-top:-4px !importent;}
#container #middle .mmid1 .row2{clear:both;float:left;width:948px;background:url('images/comrow2.jpg') top no-repeat;font:bold 16px arial;color:#7a7a7a;margin-left:5px;}



/* melnt_Hotel1 */
#container #middle .mmid1 .orform1{clear:both;float:left;width:320px;}
#container #middle .mmid1 .orform1 .leftbox{clear:both;float:left;width:320px;margin-left:18px;}
#container #middle .mmid1 .orform1 .leftbox .lbox{clear:both;float:left;width:293px;}
#container #middle .mmid1 .orform1 .leftbox .lefttop{clear:both;float:left;width:293px;height:7px;background:url('images/lefttop1.jpg') no-repeat;margin-top:15px;}
#container #middle .mmid1 .orform1 .leftbox .leftmid{clear:both;float:left;width:291px;background:#F6F6F8 url('images/leftmid1.jpg') repeat-x;border-left:1px solid #e7e8ec;border-right:1px solid #e7e8ec;}
#container #middle .mmid1 .orform1 .leftbox .leftmid .htxt{float:left;width:280px;font:bold 22px arial,'Arial Unicode MS';color:#3e454b;text-align:right;}
#container #middle .mmid1 .orform1 .leftbox .leftmid .htxt a{font:normal 11px arial;color:#71787e;}
#container #middle .mmid1 .orform1 .leftbox .leftmid .chkbox{float:left;width:280px;font:bold 12px arial;color:#1f86de;text-align:right;padding-bottom:8px;}
#container #middle .mmid1 .orform1 .leftbox .leftmid .chkbox p{float:right;color:#1f86de;margin-top:2px;}
#container #middle .mmid1 .orform1 .leftbox .leftmid .chkbox p a{color:#1f86de;}
#container #middle .mmid1 .orform1 .leftbox .leftmid .chkbox input{float:right;}
#container #middle .mmid1 .orform1 .leftbox .leftmid .lbtn{float:left;width:142px;height:20px;background:url('images/btn.png') center top no-repeat;font:bold 16px arial;color:#ffffff;text-align:center;margin-top:10px;margin-left:70px;}
#container #middle .mmid1 .orform1 .leftbox .leftmid .lbtn a{display:block;color:#ffffff;text-decoration:none;}
#container #middle .mmid1 .orform1 .leftbox .leftmid .link{float:left;width:293px;height:20px;font:normal 11px arial;color:#71787e;margin-top:8px;text-align:center;}
#container #middle .mmid1 .orform1 .leftbox .leftmid .link a{color:#71787e;}

#container #middle .mmid1 .orform1 .leftbox .leftbtm{clear:both;float:left;width:293px;height:9px;background:url('images/leftbtm1.jpg') no-repeat;}

.htxt1{clear:both;float:left;width:290px;font:bold 22px arial,'Arial Unicode MS';color:#3e454b;text-align:right;margin-top:20px;}
.htxt2{clear:both;float:left;width:283px;font:bold 22px arial,'Arial Unicode MS';color:#3e454b;text-align:right;margin-top:5px;}
#container #middle .mmid1 .orform1 .leftbox .odrlist{clear:both;float:left;width:260px;direction:rtl;}
#container #middle .mmid1 .orform1 .leftbox .odrlist ol{clear:both;margin:0px;padding:0px;margin-top:10px;}
#container #middle .mmid1 .orform1 .leftbox .odrlist ol li{font:bold 12px arial;color:#1f86de;margin-top:5px;text-align:right;}
#container #middle .mmid1 .orform1 .leftbox .odrlist ol li a{color:#1f86de;}

.urlist{clear:both;float:left;width:280px;}
.urlist ul{list-style:none;clear:both;margin:0px;padding:0px;margin-top:10px;}
.urlist ul li{font:bold 12px arial;color:#1f86de;margin-top:5px;text-align:right;line-height:18px;}
.urlist ul li p{float:right;background:url('images/dot.jpg') no-repeat;width:18px;height:18px;text-align:center;font:normal 11px arial;color:#fff;line-height:18px;margin-left:5px;}
.urlist ul li a{color:#1f86de;}

.urlist1{clear:both;float:left;width:288px;}
.urlist1 ul{list-style:none;clear:both;margin:0px;padding:0px;margin-top:8px;}
.urlist1 ul li{font:bold 12px arial;color:#1f86de;margin-top:5px;text-align:right;line-height:18px;}
.urlist1 ul li p{float:right;background:url('images/dot.jpg') no-repeat;width:18px;height:18px;text-align:center;font:normal 11px arial;color:#fff;line-height:18px;margin-left:5px;}
.urlist1 ul li a{color:#1f86de;}


#container #middle .mmid1 .ortxt{float:left;width:623px;font:bold 14px arial;color:#3e454b;line-height:20px;margin-left:7px;}

#container #middle .mmid1 .ortxt .hrank{clear:both;float:left;width:309px;text-align:left;margin-top:4px;}
#container #middle .mmid1 .ortxt .hrank .hrank1{clear:both;float:left;width:309px;font:normal 11px arial;color:#3e454b;border-bottom:solid 1px #bcc1c8;padding-bottom:7px;}
#container #middle .mmid1 .ortxt .hrank .hrank2{clear:both;float:left;width:309px;font:normal 11px arial;color:#7d868c;margin-top:7px;}
#container #middle .mmid1 .ortxt .hrank .hrank2 b{color:#3e454b;font:normal 11px arial;}

#container #middle .mmid1 .ortxt .hshow{float:left;width:303px;margin-left:8px;}
#container #middle .mmid1 .ortxt .hshow .hsowimg{clear:both;float:left;width:303px;height:246px;}
#container #middle .mmid1 .ortxt .hshow .hsoword{clear:both;float:left;width:303px;margin-top:10px;}
#container #middle .mmid1 .ortxt .hshow .hsoword .hsimg{float:left;margin-left:5px;}
#container #middle .mmid1 .ortxt .hshow .hsoword .hsimg1{float:left;margin-left:1px;}

#container #middle .mmid1 .httab{clear:both;float:left;width:623px;margin-top:30px;}
#container #middle .mmid1 .httab .httab1{clear:both;float:left;width:623px;height:34px;background:url('images/tabtop.png') no-repeat;margin-right:30px;}
#container #middle .mmid1 .httab .httab1 .htmenuu{float:right;width:100px;font:bold 19px 'Spoiler','Arial Unicode MS',arial;color:#3e454b;text-align:center;line-height:27px;}
#container #middle .mmid1 .httab .httab1 .htmenuu a{display:block;color:#3e454b;text-decoration:none;width:101px;height:34px;}
#container #middle .mmid1 .httab .httab1 .htmenuu a:hover{color:#fff;text-decoration:none;background:url('images/tabhover.png') no-repeat;width:101px;height:34px;}

#container #middle .mmid1 .httab .httab1 .htmenu{float:right;width:100px;font:bold 19px 'Spoiler','Arial Unicode MS',arial;color:#3e454b;text-align:center;line-height:27px;}
#container #middle .mmid1 .httab .httab1 .htmenu a{display:block;color:#3e454b;text-decoration:none;width:101px;height:34px;}
#container #middle .mmid1 .httab .httab1 .htmenu a:hover{color:#fff;text-decoration:none;background:url('images/tabhover.png') no-repeat;width:101px;height:34px;}
#container #middle .mmid1 .httab .httab1 .htmenu1{float:right;width:1px;margin-top:3px;}

#container #middle .mmid1 .httab .htmid{clear:both;float:left;width:623px;background:url('images/htmid.jpg') repeat-x;padding-bottom:10px;}
#container #middle .mmid1 .httab .htmid .lorem{clear:both;float:left;width:585px;direction:rtl;margin-left:18px;font:normal 12px arial;color:#3e454b;line-height:20px;margin-top:5px;}
#container #middle .mmid1 .httab .htmid .lorem1{clear:both;float:left;width:585px;direction:rtl;margin-left:18px;font:bold 14px arial;color:#3e454b;margin-top:0px;}
#container #middle .mmid1 .httab .htmid .lorem1 img{margin-left:8px;}

#container #middle .mmid1 .httab .comstop{clear:both;float:left;width:623px;margin-top:25px;padding-bottom:15px;}
#container #middle .mmid1 .httab .comstop .con{clear:both;float:left;width:101px;height:28px;background:url('images/bluebtn.jpg') no-repeat;text-align:center;font:normal 15px arial;color:#fff;margin-left:175px;}
#container #middle .mmid1 .httab .comstop .con a{color:#fff;text-decoration:none;}
#container #middle .mmid1 .httab .comstop .sit{float:right;width:273px;font:normal 23px arial;color:#3e454b;margin-top:-2px;}

#container #middle .mmid1 .httab .comments{clear:both;float:left;width:623px;margin-top:18px;margin-left:5px;}
#container #middle .mmid1 .httab .comments .com{clear:both;float:left;width:140px;text-align:right;}
#container #middle .mmid1 .httab .comments .com .ran{clear:both;float:left;width:140px;font:normal 12px arial;margin-top:3px;}
#container #middle .mmid1 .httab .comments .com .ran b{color:#3e454b;}
#container #middle .mmid1 .httab .comments .com .ran1{clear:both;float:left;width:140px;font:bold 12px arial;color:#34383b;margin-top:3px;}
#container #middle .mmid1 .httab .comments .com .ran2{clear:both;float:left;width:140px;font:normal 11px arial;color:#61676c;margin-top:3px;}

#container #middle .mmid1 .httab .comments .combox{float:right;width:470px;}
#container #middle .mmid1 .httab .comments .combox .combox1{float:right;width:446px;height:40px;font:bold 12px arial;color:#5d71b2;background:url('images/comn1.png') no-repeat;line-height:38px;direction:rtl;padding-right:20px;}
#container #middle .mmid1 .httab .comments .combox .combox1 a{color:#5d71b2;}

#container #middle .mmid1 .httab .comments .combox .combox2{float:right;width:438px;height:40px;font:normal 12px arial;color:#f98437;background:url('images/comn2.png') no-repeat;line-height:40px;direction:rtl;padding-right:20px;margin-right:-3px;margin-top:-15px;}

#container #middle .mmid1 .httab .comments .combox .comboxx1{float:right;width:470px;margin-right:-2px;}
#container #middle .mmid1 .httab .comments .combox .comboxx1 .comtop{float:right;width:450px;height:37px;background:url('images/comntop.png') no-repeat;direction:rtl;padding-right:20px;font:bold 12px arial;color:#5d71b2;line-height:38px;}
#container #middle .mmid1 .httab .comments .combox .comboxx1 a{color:#5d71b2;}
#container #middle .mmid1 .httab .comments .combox .comboxx1 .commid{float:right;width:423px;background:url('images/comnmid.png') repeat-y;direction:rtl;padding-right:20px;padding-bottom:25px;font:normal 12px arial;color:#5e666c;padding-left:15px;line-height:18px;}
#container #middle .mmid1 .httab .comments .combox .comboxx1 .combtm{float:right;width:458px;height:17px;background:url('images/comnbtm.png') no-repeat;}

#container #middle .mmid1 .httab .comments .combox .comboxx2{float:right;width:470px;margin-right:-2px;margin-top:-15px;}
#container #middle .mmid1 .httab .comments .combox .comboxx2 .comtop{float:right;width:458px;height:17px;background:url('images/comntop1.png') no-repeat;}
#container #middle .mmid1 .httab .comments .combox .comboxx2 .commid{float:right;width:423px;background:url('images/comnmid.png') repeat-y;direction:rtl;padding-right:20px;font:normal 12px arial;color:#5e666c;padding-left:15px;line-height:18px;}
#container #middle .mmid1 .httab .comments .combox .comboxx2 .commid b{font:normal 12px arial;color:#f98437;}
#container #middle .mmid1 .httab .comments .combox .comboxx2 .combtm{float:right;width:458px;height:17px;background:url('images/comnbtm.png') no-repeat;}
#container #middle .mmid1 .httab .comments .ipsum{clear:both;float:left;width:623px;direction:rtl;font:normal 12px arial;}
#container #middle .mmid1 .httab .comments .ipsum a{color:#5d71b2;}

/* melnt_hm3 */
#container #header .hmhead{clear:both;float:left;width:958px;margin-top:20px;}
#container #header .hmhead .hmhd{clear:bth;float:left;width:324px;height:48px;background:url('images/hdtop1.png') no-repeat;font:bold 14px arial;color:#898067;text-align:center;line-height:32px;}

#container #header .hmhead .hmhd1{float:right;width:516px;height:63px;}

#container #middle .hm3{clear:both;margin:0 auto;width:958px;}
#container #middle .hm3 .hm3top{clear:both;float:left;width:958px;height:8px;background:url('images/hmtop.png') no-repeat;}
#container #middle .hm3 .hm3mid{clear:both;float:left;width:958px;background:url('images/hmmid.jpg') repeat-x;padding-bottom:2px;}
#container #middle .hm3 .hm3mid .orform1{clear:both;float:left;width:330px;margin-left:-10px;margin-top:-12px;}
#container #middle .hm3 .hm3mid .hmrt{float:left;width:630px;margin-left:5px;}
#container #middle .hm3 .hm3mid .hmrt .hmrt1{clear:both;float:left;width:100px;font:normal 12px arial;color:#6372b1;}
#container #middle .hm3 .hm3mid .hmrt .hmrt1 a{color:#6372b1;text-decoration:underline;}
#container #middle .hm3 .hm3mid .hmrt .hmrt1 a:hover{color:#6372b1;text-decoration:underline;}
#container #middle .hm3 .hm3mid .hmrt .hmrt2{float:right;width:140px;margin-right:15px;}

#container #middle .hm3 .hm3mid .hmrt .hmtip{clear:both;float:left;width:294px;height:158px;background:url('images/box.jpg') no-repeat;margin-top:10px;}
#container #middle .hm3 .hm3mid .hmrt .hmtip .hmtip1{clear:both;float:left;width:155px;margin-left:10px;margin-top:15px;direction:rtl;}
#container #middle .hm3 .hm3mid .hmrt .hmtip .hmtip1 .tiptxt{clear:both;float:left;width:155px;direction:rtl;font:bold 12px arial;color:#7f878f;}
#container #middle .hm3 .hm3mid .hmrt .hmtip .hmtip1 .tiptxt a{color:#5b77b5;text-decoration:none;}
#container #middle .hm3 .hm3mid .hmrt .hmtip .hmtip1 .tiptxt a:hover{color:#5b77b5;text-decoration:none;}
#container #middle .hm3 .hm3mid .hmrt .hmtip .hmtip1 .tiptxt1{clear:both;float:left;width:155px;direction:rtl;font:normal 12px arial;color:#44474f;}
#container #middle .hm3 .hm3mid .hmrt .hmtip .hmtip1 .tiptxt2{clear:both;float:left;width:155px;height:10px;margin-top:5px;text-align:right;}

#container #middle .hm3 .hm3mid .hmrt .hmtip .hmimg{float:left;width:100px;height:67px;margin-left:12px;margin-top:15px;}
#container #middle .hm3 .hm3mid .hmrt .hmtip .note{clear:both;float:left;width:270px;direction:rtl;margin-top:5px;font:normal 12px arial;color:#5e666c;}
#container #middle .hm3 .hm3mid .hmrt .hmtip .more{clear:both;float:left;width:200px;margin-top:5px;font:bold 12px arial;color:#1f86de;margin-left:20px;}
#container #middle .hm3 .hm3mid .hmrt .hmtip .more a{color:#1f86de;text-decoration:underline;}
#container #middle .hm3 .hm3mid .hmrt .hmtip .more a:hover{color:#1f86de;text-decoration:underline;}

#container #middle .hm3 .hm3mid .hmrt .hmtipp{clear:both;float:left;width:260px;margin-top:-8px;font:bold 12px arial;color:#34383b;direction:rtl;}

#container #middle .hm3 .hm3mid .hmrt .hmtip2{float:left;width:294px;height:158px;background:url('images/box.jpg') no-repeat;margin-top:-160px;margin-top:10px !importent;margin-left:65px;margin-left:30px !importent;}
#container #middle .hm3 .hm3mid .hmrt .hmtip2 .hmtip1{clear:both;float:left;width:155px;margin-left:10px;margin-top:15px;direction:rtl;}
#container #middle .hm3 .hm3mid .hmrt .hmtip2 .hmtip1 .tiptxt{clear:both;float:left;width:155px;direction:rtl;font:bold 12px arial;color:#7f878f;}
#container #middle .hm3 .hm3mid .hmrt .hmtip2 .hmtip1 .tiptxt a{color:#5b77b5;text-decoration:none;}
#container #middle .hm3 .hm3mid .hmrt .hmtip2 .hmtip1 .tiptxt a:hover{color:#5b77b5;text-decoration:none;}
#container #middle .hm3 .hm3mid .hmrt .hmtip2 .hmtip1 .tiptxt1{clear:both;float:left;width:155px;direction:rtl;font:normal 12px arial;color:#44474f;}
#container #middle .hm3 .hm3mid .hmrt .hmtip2 .hmtip1 .tiptxt2{clear:both;float:left;width:155px;height:10px;margin-top:5px;text-align:right;}

#container #middle .hm3 .hm3mid .hmrt .hmtip2 .hmimg{float:left;width:100px;height:67px;margin-left:12px;margin-top:15px;}
#container #middle .hm3 .hm3mid .hmrt .hmtip2 .note{clear:both;float:left;width:270px;direction:rtl;margin-top:5px;font:normal 12px arial;color:#5e666c;}
#container #middle .hm3 .hm3mid .hmrt .hmtip2 .more{clear:both;float:left;width:200px;margin-top:5px;font:bold 12px arial;color:#1f86de;margin-left:20px;}
#container #middle .hm3 .hm3mid .hmrt .hmtip2 .more a{color:#1f86de;text-decoration:underline;}
#container #middle .hm3 .hm3mid .hmrt .hmtip2 .more a:hover{color:#1f86de;text-decoration:underline;}

#container #middle .hm3 .hm3mid .hmrt .hmtippp{float:left;width:260px;margin-left:60px;margin-top:-8px;font:bold 12px arial;color:#34383b;direction:rtl;}

#container #middle .hm3 .hm3mid .hmrt .hmbtn{clear:both;float:left;width:630px;text-align:center;margin-top:25px;padding-bottom:10px;}
#container #middle .hm3 .hm3btm{clear:both;float:left;width:958px;background:url('images/hmbtm.png') bottom no-repeat;}

#container #middle .htleft{clear:both;float:left;width:310px;}
#container #middle .htleft .leftbox{clear:both;float:left;width:325px;padding-left:8px;}
#container #middle .htleft .leftbox .lefttop{clear:both;float:left;width:293px;height:7px;background:url('images/lefttop1.jpg') no-repeat;margin-top:15px;}
#container #middle .htleft .leftbox .leftmid{clear:both;float:left;width:293px;background:#F6F6F8 url('images/leftmid1.jpg') repeat-x;border-left:1px solid #e7e8ec;border-right:1px solid #e7e8ec;}
#container #middle .htleft .leftbox .leftmid .htxt{float:left;width:280px;font:bold 22px arial;color:#3e454b;text-align:right;}
#container #middle .htleft .leftbox .leftmid .htxt a{font:normal 11px arial;color:#71787e;}
#container #middle .htleft .leftbox .leftmid .chkbox{float:left;width:280px;font:normal 12px arial;color:#5e666c;margin-top:10px;direction:rtl;line-height:23px;}
#container #middle .htleft .leftbox .leftmid .chkbox p{float:left;width:211px;height:23px;background:url('images/textbox.jpg') no-repeat;font:normal 12px arial;color:#5e666c;margin-left:10px;}
#container #middle .htleft .leftbox .leftmid .chkbox p input{float:left;width:211px;bordeR:solid 0px red;background:url('textbox.jpg') no-repeat;direction:rtl;}

#container #middle .htleft .leftbox .leftmid .lbtn input{float:left;width:46px;height:24px;background:url('images/button2.jpg') center top no-repeat;border:0px;font:bold 16px arial;color:#ffffff;text-align:center;margin-top:10px;margin-left:10px;}
#container #middle .htleft .leftbox .leftmid .link{float:left;width:225px;height:20px;font:normal 11px arial;color:#71787e;margin-top:10px;text-align:right;}
#container #middle .htleft .leftbox .leftbtm{clear:both;float:left;width:293px;height:9px;background:url('images/leftbtm1.jpg') no-repeat;}
#container #middle .htleft .leftbox .box1{clear:both;float:left;width:273px;height:30px;background:url('images/box1.jpg') no-repeat;margin-top:10px;padding:10px;direction:rtl;font:normal 12px arial;color:#5e666c;}
#container #middle .htleft .leftbox .box1 a{color:#1f86de;text-decoration:underline;}



#container #middle .htright{float:left;width:654px;margin-left:3px;margin-top:15px;}
#container #middle .htright .htrtop{clear:both;float:left;width:654px;height:8px;background:url('images/rtop2.jpg') no-repeat;}
#container #middle .htright .htrmid{clear:both;float:left;width:651px;background:url('images/rmid2.jpg') repeat-x;border-right:solid 1px #e7e8ec;border-left:solid 1px #e7e8ec;padding-bottom:15px;}
#container #middle .htright .htrmid .htrmid1{clear:both;float:left;width:328px;border-right:solid 1px #e7e8ec;}
#container #middle .htright .htrmid .htrmid1 h2{clear:both;float:left;width:94%;height:20px;margin-right:15px;direction:rtl;}
#container #middle .htright .htrmid .htrmid1 .htblue{clear:both;float:left;width:190px;margin-top:15px;margin-left:10px;}
#container #middle .htright .htrmid .htrmid1 .htblue .htblue1{clear:both;float:left;width:185px;direction:rtl;font:normal 14px arial;color:#5e666c;}
#container #middle .htright .htrmid .htrmid1 .htblue .htblue1 a{color:#1f86de;text-decoration:underline;}
#container #middle .htright .htrmid .htrmid1 .htblue .htblue1 a:hover{color:#1f86de;text-decoration:underline;}
#container #middle .htright .htrmid .htrmid1 .htblue .htblue2{clear:both;float:left;width:185px;font:normal 11px arial;color:#3e454b;margin-top:5px;text-align:right;}
#container #middle .htright .htrmid .htrmid1 .htblue .htblue2 b{font:normal 12px arial;color:#8a9095;}

#container #middle .htright .htrmid .htrmid1 .htbimg{float:left;width:100px;margin-top:15px;margin-left:10px;}
#container #middle .htright .htrmid .htrmid1 .htbimg .htbimg1{clear:both;float:left;width:100px;height:67px;}
#container #middle .htright .htrmid .htrmid1 .htbimg .htbimg2{clear:both;float:left;width:87px;height:25px;margin-top:10px;margin-left:7px;}

#container #middle .htright .htrmid .htrmid2{float:left;width:320px;}
#container #middle .htright .htrmid .htrmid2 h2{clear:both;float:right;width:104px;height:20px;margin-right:15px;}
#container #middle .htright .htrmid .htrmid2 .htblue{clear:both;float:left;width:190px;margin-top:15px;margin-left:10px;}
#container #middle .htright .htrmid .htrmid2 .htblue .htblue1{clear:both;float:left;width:185px;direction:rtl;font:normal 14px arial;color:#5e666c;}
#container #middle .htright .htrmid .htrmid2 .htblue .htblue1 a{color:#1f86de;text-decoration:underline;}
#container #middle .htright .htrmid .htrmid2 .htblue .htblue1 a:hover{color:#1f86de;text-decoration:underline;}
#container #middle .htright .htrmid .htrmid2 .htblue .htblue2{clear:both;float:left;width:185px;font:normal 11px arial;color:#3e454b;margin-top:5px;text-align:right;}
#container #middle .htright .htrmid .htrmid2 .htblue .htblue2 b{font:normal 12px arial;color:#8a9095;}

#container #middle .htright .htrmid .htrmid2 .htbimg{float:left;width:100px;margin-top:15px;margin-left:10px;}
#container #middle .htright .htrmid .htrmid2 .htbimg .htbimg1{clear:both;float:left;width:100px;height:67px;}
#container #middle .htright .htrmid .htrmid2 .htbimg .htbimg2{clear:both;float:left;width:87px;height:25px;margin-top:10px;margin-left:7px;}

#container #middle .htright .htrbtm{clear:both;float:left;width:654px;height:9px;background:url('images/rbtm2.jpg') no-repeat;}

#container #middle .htright .orange{clear:both;float:left;width:650px;margin-top:15px;}
#container #middle .htright .orange .orgleft{clear:both;float:left;width:328px;}
#container #middle .htright .orange .orgleft h2{clear:both;float:left;width:318px;height:19px;text-align:right;}
#container #middle .htright .orange .orgleft .orgltop{clear:both;float:left;width:328px;height:5px;background:url('images/rtop1.jpg') no-repeat;margin-top:10px;}
#container #middle .htright .orange .orgleft .orglmid{clear:both;float:left;width:328px;background:#FB8426 url('images/rmid1.jpg') repeat-x;padding-bottom:4px;}
#container #middle .htright .orange .orgleft .orglmid .orghd{clear:both;float:left;width:310px;direction:rtl;font:bold 16px arial;color:#fff;margin-top:8px;}
#container #middle .htright .orange .orgleft .orglmid .orghd1{clear:both;float:left;width:310px;direction:rtl;font:normal 12px arial;color:#fff;margin-top:3px;}
#container #middle .htright .orange .orgleft .orglmid .orghd2{clear:both;float:left;width:310px;direction:rtl;font:normal 12px arial;color:#9f4513;text-decoration:underline;margin-top:3px;}

#container #middle .htright .orange .orgleft .orglmid .orwhite{clear:both;float:left;width:317px;margin-left:5px;margin-top:8px;}
#container #middle .htright .orange .orgleft .orglmid .orwhite .orwtop{clear:both;float:left;width:317px;height:7px;background:url('images/orangewhitetop.jpg') no-repeat;}
#container #middle .htright .orange .orgleft .orglmid .orwhite .orwmid{clear:both;float:left;width:317px;background:url('images/orangewhitemid.jpg') repeat-y;}
#container #middle .htright .orange .orgleft .orglmid .orwhite .orwmid .orw{float:left;width:100px;margin-left:4px;}
#container #middle .htright .orange .orgleft .orglmid .orwhite .orwmid .orw .orwimg{float:left;width:100px;height:67px;}
#container #middle .htright .orange .orgleft .orglmid .orwhite .orwmid .orw .orwtxt{float:left;width:90px;font:normal 12px arial;color:#5e666c;direction:rtl;margin-left:10px;}

#container #middle .htright .orange .orgleft .orglmid .orwhite .orwbtm{clear:both;float:left;width:317px;height:7px;background:url('images/orangewhitebtm.jpg') no-repeat;}

#container #middle .htright .orange .orgleft .orglmid .htfr{clear:both;float:left;width:328px;text-align:center;margin-top:8px;}

#container #middle .htright .orange .orgleft .orglbtm{clear:both;float:left;width:328px;height:5px;background:url('images/rbtm1.jpg') no-repeat;}

#container #middle .htright .orange .orgrt{float:left;width:310px;margin-left:10px;}
#container #middle .htright .orange .orgrt h2{clear:both;float:left;width:290px;height:19px;text-align:right;border-bottom:solid 1px #e8ebed;padding-bottom:10px;margin-bottom:5px;padding-right:13px;}
#container #middle .htright .orange .orgrt .orbtxt{clear:both;float:left;width:287px;height:19px;text-align:right;margin-top:10px;font:bold 14px arial;color:#40a3f7;}
#container #middle .htright .orange .orgrt .orbtxt a{color:#40a3f7;text-decoration:underline;}
#container #middle .htright .orange .orgrt .orbtxt a:hover{color:#40a3f7;text-decoration:underline;}
#container #middle .htright .orange .orgrt .orbtxt1{clear:both;float:left;width:287px;text-align:right;font:normal 12px arial;color:#5e666c;direction:rtl;}