@charset "UTF-8";
/* CSS Document */

.proper_contact_form_wrap {max-width: 350px;}

.proper_contact_form {padding: 12px; box-shadow: 0 1px 5px #aaa; border-radius: 6px; background: #f9f9f9;}
	
	.proper_contact_form .form_field_wrap {padding: 6px; margin: 0 0 8px}
	
	.proper_contact_form label {display: block; font-weight: bold; margin: 0 0 4px}
	
	.proper_contact_form input[type=text], 
	.proper_contact_form input[type=email], 
	.proper_contact_form input[type=url], 
	.proper_contact_form textarea,
	.proper_contact_form select {width: 98%; display: block; font-size: 1.1em; font-family: inherit}
	
	.proper_contact_form input[type=text], 
	.proper_contact_form input[type=email], 
	.proper_contact_form input[type=url], 
	.proper_contact_form textarea {border: 1px #ccc solid; border-radius: 2px; padding: 6px 2px;}
	
	.proper_contact_form textarea {height: 80px}
	
	.proper_contact_form input[type=submit] {padding: 8px 12px; color: #fff; background: #5cb200; border: none; border-radius: 4px; font-size: 14px; font-weight: bold; font-family: inherit}

.proper_error_box {padding: 12px; background: #ffbbba; margin: 0 0 20px; border-radius: 2px;}
	
	.proper_error_box h6 {font-size: 14px; font-weight: bold; margin: 0 0 6px;}
	
	.proper_contact_form .error input[type=text], 
	.proper_contact_form .error input[type=email], 
	.proper_contact_form .error input[type=url], 
	.proper_contact_form .error textarea {border-color: red}
