/*
Edit Flow Calendar CSS
Version 1.1
*/

#main-content {
	width:85%;
}

/*** Calendar Styles ***/

#ef-calendar-wrap {
	min-width:900px;
}

#ef-calendar-title {
}

#week-wrap {
	margin-bottom:5px;
	width: 100%;
	overflow: hidden;
}

.week-heading, .week-footing {
	background: #DFDFDF url('../img/menu-bits.gif') repeat-x scroll left top;
}

.week-unit {
	width:13.37%;
	padding-left:5px;
	padding-right: 5px;
	padding-top: 5px;
	float:left;
	border-right: 1px solid #e1e1e1;
	padding-bottom:9010px;
	margin-bottom:-9000px;	
}

.week-unit.left-column {
	border-left: 1px solid #e1e1e1;
}

.week-list {
	padding:0;
	min-height:115px; /*** Hack for when a list is empty. ***/
}

div#week-wrap div.today { /*** Different background color for today ***/
	background-color: #FFFFE0; /*** Light yellow: this is the same color as message notifications ***/
}

.week-list li {
	list-style-type:none;
	margin-left:0;
	margin-bottom:10px;
	word-wrap: break-word;
}

.week-heading {
	position: relative;
	height: 28px;
	-webkit-border-top-left-radius: 6px;	/*** Adds the rounded effect to fit with WP styles ***/
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-radius-topleft: 6px;
	border-radius-topright: 6px;
	margin-top:5px;
}

.week-footing {
	position: relative;
	height: 28px;
	-webkit-border-bottom-left-radius: 6px;	/*** Adds the rounded effect to fit with WP styles ***/
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	border-radius-bottomleft: 6px;
	border-radius-bottomright: 6px;
}

.day-heading {
	margin-right:5px;
	margin-top: 0.6em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	color: #333333;
	line-height: 1.3em;
	font-size: 11px;
	font-weight: bold;
	width: 13.8%;
	height: 100%;
	position: absolute;
}

.day-heading span {
	font-weight: normal;
}

.first-heading {
	margin-left:10px;
}

.week-list .item-metadata {
	padding-left:15px;
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
}

.week-list ul.item-metadata {
	margin-top: 4px;
	margin-left: 0;
	padding-left: 0;
}

.week-list ul.item-metadata li {
	margin-top: 2px;
	margin-bottom: 2px;
}

.week-list .item-metadata .item-author {
	
}

.week-list .item-metadata .item-category {
	
}

.ui-state-highlight {
	height:100px;
	background-color:#fcffb5;
}

.item-headline {
	font-size:12px;
	margin-bottom:5px;
	margin-top:0;
}

.item-status {
	font-size: 11px;
	font-style:italic;
	color: #999999;
}

.item-headline a {
	text-decoration:none;
}

.item-headline a:hover {
	text-decoration:underline;
	color:red;
}

.item-actions {
	font-family: "Lucida Grande",Verdana,Arial,sans-serif;
	font-size: 11px;
	visibility: hidden;
}

.week-item:hover .item-actions {
	visibility:visible !important;
}

div.item-actions a {
	text-decoration: none;
}

.week-list img {
	opacity:0.0;
	cursor:move;
}

.week-item {
	margin-top: 0;
	margin-bottom: 0 !important;
	padding: 5px;
}

.week-item:hover {
	background-color: ;
}

.week-list li:hover img {
	opacity:1.0;
}

/*** Week Navigation Links ***/

.day-navigation {
	padding:0;
	display:block;
	height:20px;
	margin-top:10px;
	margin-bottom:5px;
}

.day-navigation a {
	text-decoration:none;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #E3E3E3;
	padding: 3px 6px;
	color:#21759B;
	font-weight: bold;
	font-size: 11px;
	line-height: 30px;
	background: url("../img/menu-bits.gif") repeat-x scroll left -379px #EEEEEE;
}

.day-navigation a:hover {
	text-decoration:none;
	border-color: #D54321;
	color: #D54E21;
}

.day-navigation li {
	list-style-type:none;
	margin-bottom: 0;
	display: inline-block;
}

.day-navigation li#calendar-filter {
	margin-top: 2px;
}

.day-navigation li.performing-ajax {
	position: relative;
	display:none;
}

.day-navigation li.performing-ajax img {
	position: absolute;
	top: -12px;
	margin-left: 5px;
}

.day-navigation li.previous-week {
	float:right;
	margin-right: 15px;
}

.day-navigation li.next-week {
	float:right;
}