/** Story Budget **/
#ef-story-budget-tablenav {
	height: auto;
	overflow: hidden;
}

#dashboard-widgets-wrap .postbox {
	min-width: 0px;
}

.postbox-container {
	width: 99%;
}

.postbox {
	display: inline-block;
	margin: 0 0 20px;
	position: relative;
}

.story-budget thead tr th {
	background: #f1f1f1 !important;
}

.ef-updated {
	background-color: #FFFFE0;
	border-color: #E6DB55;
	-moz-border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	margin: 5px 15px 2px;
	padding: 0 0.6em;
}

.wrap .ef-updated  {
	margin: 5px 0 15px;
}

.ef-updated p {
	line-height: 1;
	margin: 0.5em 0;
	padding: 2px;
}

#start_date, #end_date {
	width: 100px;
}