body {
	direction: ltr;
}

.private_menu_title, .private_menu ul li { 
	float: left;
	border-right: 1px solid #bcc1c8;
	border-left: 0;
	font-size: 10px;
}
.header-right, .header-center, .header-left { float: left; }
.top_menu ul.menu > li:nth-child(1) { text-align: left; }
.top_menu ul.menu > li { float: left; }

#search-container input { 
	float: left;
	border: 1px solid #dfe6ee;
	border-right: none;

	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;

	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.a11y-toolbar.ltr {
    display: none;
}
div#chat_wrapper {
    display: none;
}
#search-button {
	float: left;
	padding: 6px 8px 2px 7px;

	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;

	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;


	border-right: 0;
	border-left: 1px solid #b5c817;
}

.top-small-menu a { 
	font-size: 14px;
}
.private_menu ul li:last-of-type { 
	border-right: 0;
}

.slider_menu .menu > li > a:after { 
	right: 5%;
	left: initial;
}

.slider_menu ul.menu > li > .sub-menu { 
	right: -340px;
	left: initial;
	box-shadow: inset 2px 0px 6px #A5A5A5;
}

.slider_menu ul.menu > li > .sub-menu > li { 
	float: left;
	margin-left: 10px;
	margin-right: 0;

}
.menu > .menu-item > .sub-menu > li { text-align: left; }


.col-right { float: left; }
.col-left { float: right; }

#home-feature { direction: ltr; }

.home-feature-pagination ul li { 
	float: right; 
}

#home-news-events .pagination ul li { float: right; }
#home-news-events .news-events-more-link { 
	float: right;
	margin-right: 10px;
	margin-left: 0;
}	


#footer-contact .wpcf7 .select-wrap { 
	border-right: 1px solid #d0d7de;
	border-left: 0;
}
#footer-contact .wpcf7 .select-wrap:after { 
	right: 10px;
	left: initial;
}

.col-1-6 { float: left; }

#footer-contact .wpcf7 p { 
	float: left;
	margin-left: 0;
	margin-right: 0.5%;
}

.three-columns > ul.sub-menu { 
	left: 0;
	right: initial;
}

.three-columns > ul.sub-menu > li { 
	float: left;
	border-left: 0;
	border-right: 1px solid #e0e6ee;
}

#news-events .slides .subtitle, #breadcrumbs .home { text-align: left; }

#main-content .content h2 { 
	padding: 5px 0px 5px 15px;
}

.col-1-5, .col-2-5, .col-3-5 { float: left; }


#page-side-menu .menu > li > a:after { 
	right: 0;
	left: initial;
}

.col-2-6, .col-4-6 { 
	float: left;
}
#main-content p { 
	text-align: left;
}

.icon:before { 
	margin-left: 0;
	margin-right: 5px;
}

#page-side-menu ul.menu li > ul { 
	left: initial;
	right: -170px;
	box-shadow: 1px 1px 3px rgb(148, 148, 148);
}

.col-3-5 { 
	padding-left: 0;
	padding-right: 1.5%;
}

.icon-envelop:before { 
	margin: 0 5px 0 0;
}

#page-side-menu ul.menu ul li.page_item_has_children:after { 
	left: initial;
	right: 0;
}


.top_menu ul.menu > li { 
	width: auto !Important;
	margin-right: 6px !Important;
}
::-webkit-input-placeholder {
text-align:left;
direction: ltr;
}

:-moz-placeholder { /* Firefox 18- */
text-align:left;
direction: ltr;
}

::-moz-placeholder {  /* Firefox 19+ */
text-align:left;
direction: ltr;
}

:-ms-input-placeholder {  
text-align:left;
direction: ltr; 
}
#sidebar-contact-form-widget .wpcf7 .wpcf7-form-control-wrap input{text-align: left;}