body {

}


::-webkit-input-placeholder {
text-align:right;
direction: rtl;
}

:-moz-placeholder { /* Firefox 18- */
text-align:right;
direction: rtl;
}

::-moz-placeholder {  /* Firefox 19+ */
text-align:right;
direction: rtl; 
}

:-ms-input-placeholder {  
text-align:right;
direction: rtl; 
}