/*
Theme Name: Ono College
Theme URI: 
Author: 
Author URI: 
Description:
Version: 1.1
*/

@font-face {
    font-family: 'Alef';
    src: url('font/Alef-Bold.eot');
    src: url('font/Alef-Bold.eot?#iefix') format('embedded-opentype'),
         url('font/Alef-Bold.woff') format('woff'),
         url('font/Alef-Bold.ttf') format('truetype'),
         url('font/Alef-Bold.svg#alefbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alef';
    src: url('font/Alef-Regular.eot');
    src: url('font/Alef-Regular.eot?#iefix') format('embedded-opentype'),
         url('font/Alef-Regular.woff') format('woff'),
         url('font/Alef-Regular.ttf') format('truetype'),
         url('font/Alef-Regular.svg#alefregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'Alef';
	font-size: 16px;
	color: #4a4a4a;
	font-weight: normal;
	direction: rtl;
}

body, ul {
	margin: 0;
	padding: 0;
	border: 0;
}

.container {
	max-width: 1020px;
	margin: 0 auto;
}

.row:after {
	clear: both;
	content: " ";
	display: table;
}

.relative {
	position: relative;
}

.clear:before,
.clear:after {
	content: " ";
	clear: both;
	display: table;
}

a.dark {
	text-decoration: none;
	color: #4a4a4a;
}
	a.dark:hover {
		text-decoration: underline;
	}

/*----------------------------------*/
/*----------- Grid ----------------*/
/*----------------------------------*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.col-1-2 { width: 50%; }

.col-1-4 {
	float: right;
	width: 23.8%;
	margin-left: 1.58%;
}

.col-1-4:last-of-type {
	margin-left: 0;
}

.col-1-6 {
	float: right;
	width: 16.6%
}

.col-2-3 {
/*	width: 75%;*/
	width: 74%;
}
.col-1-3 {
	width: 23%;
}

.col-1-5, .col-2-5, .col-3-5, .col-4-5 {
	float: right;
}
.en .col-1-5, .en .col-2-5, .en .col-3-5, .en .col-4-5 {
	float: left;
}
	.col-1-5 {
/*		width: 22%;*/
/*		width: 25%;*/
		width: 20%;
	}
.col-sidebar{width: 23%;}
.page-template-template-mba-php .col-1-5, .page-template-template-specialitie-php .col-1-5 {width: 28%;}
	.col-2-5 {
		width: 44%;
	}
	.col-3-5 {
/*		width: 48%;*/
		width: 53%;
/*		width: 54%;*/
/*		width: 70%;*/
/*		margin: 0 1%;*/
		margin: 0 0 0 1%;
		padding-left: 1.5%;
	}
	.col-4-5 {
		width: 70%;
		margin: 0 1%;
		padding-left: 1.5%;
	}

.col-2-6, .col-4-6 {
	float: right;
}
	.col-2-6 { 
		width: 33%
	}
	.col-4-6 {
		width: 67%
	}
	
.last-of-type { /* I still need it to fix ie7 & ie8 */
	margin-left: 0;
}


.col-right { float: right; }

.col-left { float: left; }


.col-sidebar {
		margin-top: 30px;
	}
/*---------------------------------------------------------*/
/*---------------------  Header  --------------------------*/
/*---------------------------------------------------------*/

#top-green-line {
/*	background: #c3d81b;*/
	background: #B4D701;
	width: 100%;
	height: 3px;
}
#header a {
	text-decoration: none;
}
#header a:hover {
	text-decoration: underline;
}
#language-container a {
	color: #80868c;
}
.header-right, .header-center, .header-left {
	float: right;
}
.header-right {
	width: 20%;
	padding-top: 32px;
}
.header-center {
	width: 55%;
}
.header-left {
	width: 25%;
}

#language-container {
	border-bottom: 1px solid #e0e6ee;
	padding: 7px 0;
}
#language-container .text-size-icons {
	display: inline-block;
	margin-right: 10px;
}

#header ul {
	list-style-type: none;
}
div#main-content .info {
    display: none;
}

.private_menu_wrap {
	background: #e0e6ee;
	color: #565155;
	font-size: 80% !important;
	height: 41px;
/*border-bottom-right-radius: 2px;*/
border-bottom-left-radius: 2px;
}
.en .private_menu_wrap {border-bottom-left-radius: 0px;border-bottom-right-radius: 2px;}
.private_menu_title {
	color:#fff;
	float: right;
/*	width: 27%;*/
/*	width: 17%;*/
	padding: 12px 3px;
/*	padding-left: 2px;*/
	text-align: center;
/*	border-left: 1px solid #bcc1c8;*/
	background: #9298A0;
	height:41px;
	border-bottom-right-radius: 2px;
}
.en .private_menu_title {
	float: left;
	padding: 12px 1px;
/*	padding-right: 2px;*/
	text-align: center;
	border: none;
/*	padding-top:4px;*/
border-bottom-left-radius: 2px;
border-bottom-right-radius: 0px;
}
.private_menu {
	float: right;
/*	width: 73%;*/
	width: 85%;
/*	border-bottom: 1px solid #e0e6ee;*/
}
.en .private_menu {
	width: 74%;
}
	.private_menu a {
		color: #565155;
	}
.en .private_menu a{font-size:10px;}
		.private_menu ul li {
/*			width: 33%;*/
			width: 25%;
			float: right;
/*			padding: 9px 0;
			padding: 9px 13px;*/
padding: 12px 0;
			text-align: center;
			border-left: 1px solid #bcc1c8;
height:41px;
		}
.en .private_menu ul li{width:25%!important;padding: 12px 0;}
		.private_menu ul li:last-of-type {
			border-left: none;
		}

#header-phone-number {
	text-align: center;
/*	color: #c3d81b;*/
	color:  #B4D701;
	font-weight: bold;
	font-size: 215% !important;
	/*border-left: 1px solid #e0e6ee;
	border-bottom: 1px solid #e0e6ee;
	border-right: 1px solid #e0e6ee;*/
	font-family: Arial;
	padding: 12px 0;
	height:62px;
}
#header-phone-number a:hover {text-decoration: none;}
span#main_menu_text img {
    padding-top: 10px;
    padding-bottom: 0px;
}	
span#main_menu_text span {
    vertical-align: super;
    margin: 10px;
}
.col-right .top-small-menu {
	border-right: 1px solid #e0e6ee;
	border-left: 1px solid #e0e6ee;
}
.col-left .top-small-menu {
	border-left: 1px solid #e0e6ee;
	margin-bottom: 5px;
}

.top-small-menu li {
	/*padding-right: 5px;*/
	padding-top: 5px;
	margin-bottom: 10px;
	/*padding-bottom: 2px;*/
	float:right;
	width: 25%;
	text-align: right;
}
.en .top-small-menu li{
	padding-top: 5px;
	margin-bottom: 10px;
	float:left;
	width: 22%!important;
	text-align: center;
}
	
.top-small-menu a {
	color: #575c64;
}

.icon:before {
	display: inline-block;
	margin-left: 5px;
	position: relative;
	top: 3px;
	width: 16px;
	height: 16px;
	content: " ";
}

.icon-man:before { background: url('img/icon-man.jpg'); }
.icon-map-pin:before { background: url('img/icon-map-pin.jpg'); }
.icon-phone:before { background: url('img/icon-phone.jpg'); }
.icon-facebook:before { background: url('img/icon-facebook.jpg'); }

.icon-envelop:before {
	display: inline-block;
	margin-left: 5px;
	position: relative;
	top: 3px;
	width: 22px;
	height: 14px;
	content: " ";
	background: url('img/icon-envelop.jpg');
}

/*------------ Main Menu  ------------*/

#smartphone-menu-btn,
#smartphone-submenu-btn {
	display: block;
}

#main-menu-container {
	padding: 10px 0;
	border-bottom: 1px solid #e0e6ee;
}

.top_menu ul.menu {
	position: relative;
}

.top_menu ul.menu a {
	color: #565155;
	font-weight: bold;
}
.top_menu ul.menu > li {
	display: block;
	float: right;
	width: 16.6%;
	text-align: center;
}
.en .top_menu ul.menu > li{margin-left: 10px !Important;}
	/*.top_menu ul.menu > li:nth-child(1) { width: 18%; text-align: right; }
	.top_menu ul.menu > li:nth-child(2) { width: 16%; }
	.top_menu ul.menu > li:nth-child(3) { width: 16%; }
	.top_menu ul.menu > li:nth-child(4) { width: 21%; }
	.top_menu ul.menu > li:nth-child(5) { width: 14%; }
	.top_menu ul.menu > li:nth-child(6) { width: 13%; }*/

.top_menu ul.menu > li:nth-child(1) { width: 20%; text-align: right; }
	.top_menu ul.menu > li:nth-child(2) { width: 20%; }
	.top_menu ul.menu > li:nth-child(4) { width: 23%; }
	.top_menu ul.menu > li:nth-child(5) { width: 22%; }
	.top_menu ul.menu > li:nth-child(6) { width: 10%; text-align: left; }

.top_menu ul.menu > li > a {
	display: block;
	position: relative;
	padding: 7px 0;
/*	font-size: 20px;*/
	font-size: 130%;
}
	.top_menu ul.menu > li.menu-item-has-children > a:hover:after {
		content: " ";
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
/*		border-bottom: 5px solid #c3d81b;*/
		border-bottom: 5px solid #B4D701;
		position: absolute;
		left: 50%;
		bottom: 0;
	}

.menu > .menu-item > .sub-menu {
	display: none;
	min-width: 130px;
	position: absolute;
	z-index: 900;
	background: white;
	padding: 10px;
/*	border-top: 3px solid #c3d81b;*/
	border-top: 3px solid #B4D701;
	box-shadow: 1px 1px 4px #e0e6ee;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.menu > .menu-item > .sub-menu > li {
	text-align: right;
	font-size: 90%;
	padding: 4px;
}

.menu > .menu-item > .sub-menu li a {
	font-weight: 400;
}
	
.three-columns > .sub-menu > li > a {
	display: none;
}

.three-columns > ul.sub-menu {
	display: none;
	position: absolute;
	width: 96%;
	right: 0;
	z-index: 900;
	background: white;
	padding: 15px 0;
/*	border-top: 3px solid #c3d81b;*/
	border-top: 3px solid #B4D701;
	box-shadow: 1px 1px 4px #e0e6ee;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
	.top_menu ul.menu > li:hover > ul.sub-menu {
		display: block;
	}

.three-columns > ul.sub-menu > li {
	float: right;
	width: 33%;
	border-left: 1px solid #e0e6ee;
	
}
	.three-columns > ul.sub-menu > li a { font-weight: normal; }
	.three-columns > ul.sub-menu > li ul.sub-menu li {
		text-align: right;
		padding: 6px 7px;
	}
	
/*----------Search Bar---------------*/

#search-container input {
	float:right;
	margin: 0;
	padding: 7px 6px 6px 6px;
	border: 1px solid #dfe6ee;
	border-left: none;
	/*border-top-right-radius: 3px;*/
	border-bottom-right-radius: 3px;
	/*width: 90%;*/
	width: 88%;
height: 29px;
}
#search-button, #search-button_ {
/*	background: #c3d81b;*/
	background: #B4D701;
	padding: 5px 7px 2px 8px;
	/*width: 6%;*/
	width: 12%;
	/*border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	border-right: 1px solid #b5c817;*/
	float: right;
height: 29px;
}



/*---------------------------------------------------------*/
/*---------------------  Sidebar  --------------------------*/
/*---------------------------------------------------------*/

#sidebar {
margin-top: 10px;
}

.home #sidebar {
margin-top: 0px;
}

#sidebar-contact-form-widget {
	padding: 10px;
	background: #f3f5f8;
	border: 1px solid #e3e8ef;
	margin-bottom: 15px;
}

#sidebar-contact-form-widget h4 {
	font-weight: normal;
	text-align: center;
	font-size: 150%;
	line-height: 30px;
	margin: 0 auto;
	margin-bottom: 10px;
	color: #696969;
	width: 82%;
}

#sidebar-contact-form-widget p {	
	margin: 0;
}

#sidebar-contact-form-widget .wpcf7 {
	padding: 0 17px;
}
#sidebar-contact-form-widget .wpcf7 .wpcf7-form-control-wrap input {
	border: 1px solid #e0e6ee;
	width: 100%;
	padding: 10px 6px;
	margin-bottom: 9px;
	font-family: Alef;
	font-size: 100%;
	text-align:right;
}
#sidebar-contact-form-widget .wpcf7 .wpcf7-submit {
	color: #83920f;
/*	background: #D3E925;*/
	background: #B4D701;
	text-align: center;
	border: 1px solid #a7b913;
	border-radius: 5px;
	width: 100%;
	font-size: 150%;
	font-family: Alef;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
}

#sidebar-contact-form-widget div.wpcf7-response-output {
	margin: 0em 0.5em 0em;
}

#sidebar .widgettitle {
	margin: 0;
	font-size: 200%;
	font-weight: normal;
	border-bottom: 1px solid #e0e6ee;
}

#ono-facebook-widget {
	height: 250px;
}

#sidebar-contact-list-widget {
	margin-bottom: 10px;
}

#sidebar-contact-list-widget .subtitle {
	font-size: 150%
}

#sidebar-contact-list-widget .content {
	font-size: 80%;
	margin-bottom: 10px;
}

#sidebar .inart-facebook-widget {
/*	float:left;*/
}

#news-list-widget {
	margin-top: 15px;
/*	float:left;*/
}

#events-list-widget {
	margin-bottom: 18px;
}

#events-list-widget .widgettitle,
#news-list-widget .widgettitle {
	margin-bottom: 10px;
}
#news-list-widget .widgettitle {
	font-size: 150%;
}
#events-list-widget .thumbnail,
#news-list-widget .thumbnail {
	margin: 0;
}
#events-list-widget .thumbnail img,
#news-list-widget .thumbnail img {
	width: 53px;
	height: auto;
}
#events-list-widget .title,
#news-list-widget .title {
	height: 38px;
	overflow: hidden;
	font-size: 90%;
}
#events-list-widget .title a,
#news-list-widget .title a {
	text-decoration: none;
	color: #4a4a4a;
}
#events-list-widget .date {
	font-size: 90%;
	color: #cccccc;
}
#events-list-widget .event,
#news-list-widget .event {
	news-bottom: 10px;
}
#events-list-widget .events-wrap,
#news-list-widget .events-wrap {
	border-bottom: 1px solid #e0e6ee;
}
#events-list-widget .more-link,
#news-list-widget .more-link {
	text-align: left;
}

.inart-stuff-thumb-widget {
	border: 1px solid #E0E6EE;
	padding: 5px;
	font-size: 90%;
	margin-bottom: 20px;
}
	.inart-stuff-thumb-widget .title {
		text-align: center;
		width: 80%;
		margin: 0 auto;
		color: #B5C722;
		font-weight: 700;
		margin-bottom: 6px;
	}
	.inart-stuff-thumb-widget a {
		text-decoration: none;
		color: #4a4a4a;
	}
	.inart-stuff-thumb-widget .thumbnail {
		text-align: center;
		width: 80%;
		margin: 0 auto;
	}
	.inart-stuff-thumb-widget .thumbnail img {
/*		width: 100%;*/
width: 80px;
height: auto;
	}
	.inart-stuff-thumb-widget .name {
		font-weight: 700;
		text-align: center;
	}
	.inart-stuff-thumb-widget .position {
		text-align: center;
		margin-bottom: 10px;
	}

.inart-faculty-stuff-link-widget {
	color: #83920f;
/*	background: #D3E925;*/
	background: #B4D701;
	text-align: center;
	border: 1px solid #a7b913;
	border-radius: 5px;
	font-family: Alef;
	font-weight: bold;
	padding: 10px 0;
	margin: 20px auto;
	margin-top: 20px;
	cursor: pointer;
}
	.inart-faculty-stuff-link-widget a {
		color: #83920f;
		font-size: 100%;
		padding: 0;
		text-decoration: none;
	}

.inart-faculty-stuff-list-widget {
	margin-bottom: 20px;
}
.inart-faculty-stuff-list-widget .thumbnail img {
	width: 100%;
}
.inart-faculty-stuff-list-widget .lecturer {	
	margin: 5px 0;
}	
.inart-faculty-stuff-list-widget .title {
	font-size: 150%;
	border-bottom: 1px solid #e0e6ee;
}
.inart-faculty-stuff-list-widget .name a {
	text-decoration: none;
	color: #4a4a4a;
	font-weight: 700;
}
	.inart-faculty-stuff-list-widget .name a:hover { text-decoration: underline; }
.inart-faculty-stuff-list-widget .position {
	font-size: 90%;
}
.inart-faculty-stuff-list-widget .more-link {
	text-align: left;
}

.inart-learning-program-widget {
	margin-bottom: 20px;
}
.inart-learning-program-widget .thumbnail {
	text-align: center;
}
.inart-learning-program-widget .button a {
	text-decoration: none;
	color: #83920f;
	display: block;
/*	background: #D3E925;*/
	background: #B4D701;
	text-align: center;
	border: 1px solid #a7b913;
	border-radius: 5px;
	width: 92%;
	margin: 0 auto;
	font-family: Alef;
	font-weight: bold;
	padding: 5px;
	padding-right: 12px;
	cursor: pointer;
}
.inart-learning-program-widget .button a:before {	
	content: " ";
	display: block;
	background: url('img/download.png');
	width: 18px;
	height: 23px;
	position: absolute;
}
	
/*---------------------------------------------------------*/
/*---------------------  Content  --------------------------*/
/*---------------------------------------------------------*/

#breadcrumbs {
	margin: 10px 0 0 0;
	font-weight: bold;
}

#breadcrumbs a,
#breadcrumbs .separator {
	color: #4a4a4a;
	text-decoration: none;
	font-weight: normal;
}
#breadcrumbs a:hover {
	text-decoration: underline;
}
#breadcrumbs .home {
	text-indent: -9999px;
	text-align: right;
	display: inline-block;
	background: url('img/icon-home.jpg') no-repeat;
	background-position-y: 3px;
	width: 16px;
}

.single-lecturer #breadcrumbs {
	margin-bottom: 15px;
}

.single-lecturer .thumbnail {
	overflow: hidden;
}
.single-lecturer .thumbnail img {
	width: 90%;
	height: initial;
}

#top-map {
}

.slider-container {
	position: relative;
}

#top-slider-home {
	width: 100%;
	max-height: 400px;
	overflow: hidden;
	margin-bottom: 30px;
	position: relative;
}
	#top-slider-home img {
		width: 100%;
		height:auto;
	}

.thumbnail-container {
	position: relative;
	max-height: 400px;
	width: 100%;
	overflow: hidden;
}
	.thumbnail-container > img {
		width: 100%;
		height: auto;
	}

#lecturer-thumbnail-container {
	position: absolute;
	bottom: 7%;
	width: 142px;
	z-index: 10;
}
#lecturer-thumbnail-container .thumbnail {
	height: 140px;
	overflow: hidden;
	border: 1px solid #ffffff;
}
#lecturer-thumbnail-container .thumbnail img {
	width: 100%;
}
#lecturer-thumbnail-container .name,
#lecturer-thumbnail-container .position {
	text-align: center;
	color: #ffffff;
	font-size: 90%;
}
#lecturer-thumbnail-container .name {
	font-weight: 700;
}
#lecturer-thumbnail-container .name a {
	color: #ffffff;
	text-decoration: none;
}
#lecturer-thumbnail-container .name a:hover { text-decoration: underline; }
#lecturer-thumbnail-container .position {
	line-height: 18px;
	height: 38px;
	overflow: hidden;
}
	
#main-title-container {
	position: absolute;
	bottom: 5px;
	background: url('img/slide-shadow.png') !important;
	background-repeat:repeat-x;
	width: 100%;
	height: 172px;=:10px;
}

.single #main-title-container {
}

#main-title {
	color: #e0e7f1;
	font-weight: normal;
	font-size: 200%;
	margin: 0 10%;
	/*	margin: 0 18%;*/
	/*	width: 80%;*/
	/*	position: absolute;*/
	/*	bottom: 25px;*/
	max-width: 1020px;
	margin: 0 auto;
	position: absolute !important;
	background: transparent !important;
}

.flipbook-container {
	direction: ltr;
}

.flipbook-container .page-content .preview-content {
	direction: rtl;
	text-align: right;
}
	
/*--------------------- slider menu ----------------------*/
.slider_menu ul {	
	list-style-type: none;
}
.slider_menu .menu {
	position: absolute;
	background: rgba(255,255,255,0.9);
	top: 0;
	bottom: 0;
	width: 300px;
	height: 200px;
	padding-top: 20px;
	z-index: 514;
	opacity: 0.97;
}
.slider_menu .menu > li {
	border-bottom: 1px solid #D8D8D8;
}
	.slider_menu ul.menu > li:hover {
		background: rgba(0,0,0,0.5);
/*		border-bottom: 3px solid #C3D81A;*/
		border-bottom: 3px solid #B4D701;
	}
	.slider_menu ul.menu > li:hover > .sub-menu {
		display: block;
	}
.slider_menu .menu > li > a {
	font-size: 130%;
	position: relative;
	display: block;
	padding: 15px 10px;
	font-weight: bold;
}
	.slider_menu .menu > li:hover > a {
		color: white;
		padding-bottom: 13px;
	}
	.slider_menu .menu > li > a:after {
		content: " > ";
		font-weight: bold;
		position: absolute;
		left: 5%;
	}
.slider_menu .menu a {
	color: #4a4a4a;
	text-decoration: none;
	font-wieght: bold;
}
.slider_menu ul.menu > li.menu-item-has-children {
	position: relative;
}
.slider_menu ul.menu > li > .sub-menu {
	display: none;
	position: absolute;
	background: rgba(255,255,255,0.9);
	left: -350px;
	width: 350px;
	padding: 10px 0;
	box-shadow: inset -2px 0px 6px #A5A5A5;
	top: 0;
}
.slider_menu ul.menu > li > .sub-menu > li {
	float: right;
	display: block;
	margin-right: 10px;
/*	width: 47%;*/
width: 100%;
line-height: 10px;
}
.slider_menu ul.menu > li > .sub-menu > li > a {
	font-size: 150%;
}
.slider_menu ul.menu > li > .sub-menu > li li {
	padding: 10px 0;
}
.slider_menu ul.menu > li > .sub-menu > li li:hover a {
	text-decoration: underline;
}


.slider_menu .menu > li.menu_slider_button {
/*	color: #83920f;*/
	color: #000;
/*	background: #D3E925;*/
	background: #B4D701;
	text-align: center;
	border: 1px solid #a7b913;
	border-radius: 5px;
	width: 80%;
	font-size: 150%;
/*	font-size: 300%;*/
	font-family: Alef;
	font-weight: bold;
	padding: 1px;
	margin: 0 auto;
/*	margin-top: 20px;*/
	
margin-top: 5%;
	cursor: pointer;
}
.slider_menu .menu > li.menu_slider_button:hover {
	border: 1px solid #a7b913;
/*	background: #D3E925;*/
	background: #B4D701;
/*	color: #83920f;*/
	color: #000;
}
.slider_menu .menu > li.menu_slider_button a:hover {
	color: #000;
}

.slider_menu .menu > li.menu_slider_button > a:after { content: "" }
.slider_menu .menu > li.menu_slider_button > a:hover {
/*	background: #D3E925;*/
	background: #B4D701;
/*	color: #83920f;*/
	color: #404233;
}
.slider_menu .menu > li.menu_slider_button > a {
/*	color: #83920f;*/
	color: #404233;
	font-size: 100%;
	padding: 0;
}


/*-------------- flexslider ---------------------*/
.flexslider {
	margin: 0 0 15px;
	direction: ltr;
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: initial;
	-moz-box-shadow: initial;
	-o-box-shadow: initial;
	box-shadow: initial;
}
.slide-img-container {
	height: 400px; /* one of options to keep slider on it’s place is by using fix height */
	overflow: hidden;
}
.slide-img-container img {
	width: 100%;
}

#lectures-slider .slides {
	height: 180px;
}

#lectures-slider .slides > li {
	height: 153px;
	position: relative;
}

#lectures-slider .slides .lecturer-wrap {
	position: absolute;
	bottom: -26px;
	display: block;
	width: 100%;
}

#lectures-slider .slides > li img {
	opacity: 0.6;
	-webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

#lectures-slider .slides > li:hover img {
	opacity: 1;
	-webkit-transform: translate(0,-28px);
    -moz-transform: translate(0,-28px);
    -o-transform: translate(0,-28px);
    -ms-transform: translate(0,-28px);
    transform: translate(0,-28px);
}
#lectures-slider .slides > li:hover .lecturer-name {
	display: block;
}

#lectures-slider .slides .lecturer-wrap img {
	z-index: 10;
	position: absolute;
	bottom: 0;
	width: 95%;
}

#lectures-slider .lecturer-name {
	position: absolute;
	bottom: 0;
	z-index: 9;
	background: #BAD200;
	width: 100%;
	padding: 3px;
	display:none;
	text-align: center;
}
#lectures-slider .slides > li .lecturer-name {
	color: white;
	width: 95%;
	height: 28px;
	overflow: hidden;
}
#lectures-slider .flex-direction-nav a {
	opacity: 1;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
#lectures-slider .flex-direction-nav .flex-prev {
	left: -17px;
}
#lectures-slider .flex-direction-nav .flex-next {
	right: -13px;
}
#lectures-slider .flex-direction-nav a:before {
	background: #BAD200;
	font-size: 20px;
	width: 33px;
	text-align: center;
	height: 35px;
	line-height: 37px;
	color: white;
	opacity: 1;
}

/*-------------- side menu -------------------*/
#page-side-menu ul.menu {
	list-style-type: none;
/*	width: 90%;*/
	width: 88%;
	position: relative;
	margin-top: 30px;
}

#page-side-menu ul.menu a {
	color: #4a4a4a;
	text-decoration: none;
}
#page-side-menu .menu > li {
	border-bottom: 1px solid #D8D8D8;
	padding: 15px 5px 15px 0;
	position: relative;
}
	#page-side-menu ul.menu > li:hover, #page-side-menu-wrap .current_page_item {
		background: rgba(0,0,0,0.2);
/*		border-bottom: 3px solid #C3D81A!important;*/
		border-bottom: 3px solid #B4D701!important;
	}
	#page-side-menu .menu > li > a:after {
		content: " > ";
		font-weight: bold;
		position: absolute;
		left: 0;
		display:none;
	}

#page-side-menu ul.menu ul,
#page-side-menu ul.menu ul.children {
	display: none;
}
#page-side-menu ul.menu li > ul {
	list-style-type: none;
	position: absolute;
/*	left: -170px;*/
/*	left: -180px;*/
	left: -100%;
	top: 0;
/*	width: 170px;*/
	width: 100%;
	box-shadow: -1px 1px 3px rgb(148, 148, 148);
	padding: 5px;
	background: white;
}
	#page-side-menu ul.menu ul li {
/*		padding: 3px 0;*/
		padding: 15px 5px 15px 0;
		border-bottom: 1px solid #D8D8D8;
	}
#page-side-menu ul.menu ul li:last-child{border-bottom: none;}
	#page-side-menu ul.menu li.page_item_has_children {
		position: relative;
	}
	#page-side-menu ul.menu ul li.page_item_has_children:after {
		content: " > ";
		color: #aaaaaa;
		position: absolute;
		left: 0;
	}
	#page-side-menu ul.menu li:hover > ul.children {
		display: block;
		z-index: 1000;
	}
	#page-side-menu ul.menu li > ul li:hover {
		background: rgba(0,0,0,0.2);
	}
	#page-side-menu ul.menu li > ul ul.children {
		position: absolute;
		z-index: 100;
	}

	

.icon-list:before {
	background: url('img/icon-list.jpg');
	display: inline-block;
	margin-left: 5px;
	position: relative;
	top: 4px;
	width: 21px;
	height: 23px;
	content: " ";
}

.show-more {
/*	color: #a8bb0c;*/
	color: #B4D701;
	text-decoration: none;
	font-weight: bold;
	display: block;
}
	.show-more:hover {
		text-decoration: underline;
	}

.icon-plus:before {
	content: "+";
	font-weight: bold;
}
.icon-gt:after {
	content: " > ";
	font-weight: bold;
}

/*--------------- Page Content ---------------*/
#page-subtitle {
	color: #4a4a4a;
	font-weight: normal;
	font-size: 170%;
}

#main-content .content h2 {
	font-size: 120%;
	background: #e6e9ea;
	padding: 5px 15px 5px 0;
}
#main-content .content h2 a, .content a {
/*	color: #94AA1D;*/
	
color: #5D822E;
}
#main-content .content ul li p {
	margin: 0;
}
#main-content .content ul li,
.single-lecturer .content ul li {
	background: url(img/bulet-hebrew.png) no-repeat right 2px;
	padding: 0 20px 0 0;
	list-style: none;
	margin: 7px 0 10px 0;
	border-bottom: 1px dashed #cdced0;
}
.en #main-content .content ul li,
.en .single-lecturer .content ul li {
	background: url(img/bulet-english.png) no-repeat left 2px;
	padding: 0 0 0 20px;
}
#main-content p {
	margin: 0;
}

#main-content table {
	border-collapse: collapse;
	border: 0;
	border-top: 2px solid #bad200 !important;
	background: #f3f5f8;
	margin-top: 15px;
width: 100%!important;
margin-right:0px;
}
#main-content #table1 {
	width: 100%;
}
#main-content table td {
	border: 0;
	padding: 6px;
	text-align: right;
}
#main-content table tr:nth-child(1) td {
	border-bottom: 1px solid #DBDBDB;
}
#main-content form table tr:nth-child(1) td {
	border-bottom: 0;
}
#main-content .jumping_form table td {
	border: 1px solid rgb(220, 220, 220);
	text-align: right;
}
#main-content form table .wpcf7-submit {
	color: #83920f;
/*	background: #D3E925;*/
	background: #B4D701;
	text-align: center;
	border: 1px solid #a7b913;
	border-radius: 5px;
	font-size: 100%;
	font-family: Alef;
	font-weight: bold;
	padding: 5px 20px;
	cursor: pointer;
}

.single-lecturer .content p {
	margin: 0;
}
.single-lecturer .content h2 {
	font-size: 120%;
	background: #e6e9ea;
	padding: 5px 15px 5px 0;
	margin: 0;
}

.lecturer-excerpt {
	border-top: 3px solid #BAD200;
/*	background: #e6e9ea;*/
	padding: 5px;
	display: none;
}
.lecturer-excerpt h2 {
	margin-bottom: 0;
	font-size: 180%;
	font-weight: normal;
}
.lecturer-excerpt .subtitle {
	font-size: 130%;
	margin-bottom: 15px;
}
.lecturer-excerpt .show-more {
	float: left;
	margin: 10px;
}
.lecturer-excerpt .thumbnail img {
/*	width: 90%*/
max-width: 180px;
height: auto;
margin: 35px 0px 0 0;
}


/*------------ Home Feature Widget ----------*/
#home-feature {
	direction: rtl;
}
#home-feature .thumbnail {
	position: relative;
	height: 240px;
	float: left;
}
#home-feature .thumbnail {
	border-right: 3px solid #535353;
	height: 240px;
	display: block;
}
#home-feature .thumbnail:before {
	content: " ";
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid #535353;
	top: 20%;
	right: -8px;
	position: absolute;
}
#home-feature .thumbnail img {
	height: 240px;
}
#home-feature .content {
	margin-bottom: 10px;
	height: 159px;
    overflow:hidden;
}
#home-feature .content-wrap {
	padding-left: 7%;
	height: 240px;
	direction: rtl;
	text-align: right;
	position: relative;
}
#home-feature .title {	
	font-size: 130%;
	margin-bottom: 10px;
}
#home-feature ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#home-feature .flex-next,
#home-feature .flex-prev {
	visibility: hidden;
}
.home-feature-pagination {
	border-bottom: 1px solid #e0e6ee;
	width: 46%;
	margin-top: 24px;
	z-index: 6;
}
	.home-feature-pagination ul {
		list-style-type: none;
	}
	.home-feature-pagination ul li {
		float:left;
		bottom: 29px;
		position: relative;
		padding: 4px 9px;
		/*		background: #c3d81b;*/
		background: #B4D701;
		color: white;
		font-weight: bold;
		cursor: pointer;
	}
#home-feature .show-more {
    position: absolute;
    /* z-index: 999999; */
    display: inline-block;
} 
#home-news-events {
	position: relative;
	margin-top: 30px;
}
#home-news-events .title {
	font-size: 130%;
	margin-bottom: -20px;
}
	#home-news-events .news-events-more-link {
		float: left;
		margin-left: 10px;
		margin-top: 4px;
	}
#home-news-events .pagination {
	border-bottom: 1px solid #e0e6ee;
	bottom: 0;
	width: 100%;
	margin-bottom: 10px;
}
	#home-news-events .pagination ul {
		list-style-type: none;
	}
	#home-news-events .pagination ul li {
		float:left;
		padding: 4px 9px;
/*		background: #c3d81b;*/
		background: #B4D701;
		color: white;
		font-weight: bold;
		cursor: pointer;
	}
#home-news-events .thumbnail {
	position: relative;
	height: 170px;
}
#home-news-events .col-left .thumbnail {
	float: left;
}
#home-news-events .col-right .thumbnail {
	float: right;
}
#home-news-events .thumbnail .subtitle {
	background: rgba(0,0,0,0.5);
	color: white;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 3px;
}

#news-events .slides .content {
/*	width: 98%;*/
	width: 100%;
	display: inline-block;
	position: relative;
	height: 160px;
	overflow: hidden;
}

#news-events .slides li:nth-of-type(odd) .content {
	float: left;
}

#news-events .slides li:nth-of-type(even) .content {
	float: right;
}

#news-events .slides img {
	width: 100%;
	height: 100%;
}

#news-events .slides > li {
	text-align: center;
	/*margin-right: 2px;*/
	margin-left: 3px;
	max-width: 380px;
	width: 374px!important;
}
#news-events .slides > li:nth-child(even){margin-left:7px;}
#news-events .slides > li:nth-child(odd){margin-left:0px;}
#news-events .slides .subtitle {
	text-align: right;
	color: white;
	position: absolute;
	background: rgba(0,0,0,0.8);
	bottom: 0;
	width: 100%;
	padding: 3px 4px;
	min-height: 50px;
}
#news-events .slides .date-subtitle {
position: absolute;
top: 0px;
text-align: right;
background: rgba(0, 0, 0, 0.34);
width: 100%;
padding: 3px 4px;
}
#news-events .slides .subtitle a, #news-events .slides .date-subtitle a {
	color: white;
	text-decoration: none;
}
#news-events .slides .subtitle a:hover {
	text-decoration: underline;
}
#news-events .flex-next,
#news-events .flex-prev {
	visibility: hidden;
}

.share-block {
	border: 1px solid #D2D2D2;
	/*	margin-top: 10px;*/
	margin-top: 100px;
	margin-left: 20px;
	margin-bottom: 5px;
	/*	width: 150px;*/
	float:right;
}
.share-block:after {
	content: " ";
	clear: both;
	display: table;
}
.share-block .icon-share {
	display: block;
/*	float: right;*/
	margin: 14px 9px;
}


/*------------- Tabs -----------------------*/

.ui-tabs .ui-tabs-nav li.ui-tabs-active, .tabs > ul > li:hover{
margin:0px!important;
padding:0px!important;
/*border-top: 3px solid #C3D81A!important;*/
border-top: 3px solid #B4D701!important;
}
.ui-widget-content, .ui-widget-header, .tabs > ul > li a, .tabs > ul > li a:hover{
background: none!important;
border: none!important;
}

.ui-tabs .ui-tabs-nav li:first-child{
border: 1px solid #e3e8ef;
border-right: 1px solid #e3e8ef!important;
}
.ui-tabs .ui-tabs-nav li{
float:right!important;
margin:0px!important;
border: 1px solid #e3e8ef!important;
border-right:none!important;
padding: 2px 0 0 0!important;
}
.ui-tabs .ui-tabs-nav li:last-child{
border-right:none!important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
border-radius: 0px;
background: #f3f5f8!important;
border: 1px solid #e3e8ef!important;
border-right:none!important;
color: #000!important;
/*border-top: 42px solid #C3D81A;*/
border-top: 42px solid #B4D701;

}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
border: 1px solid #e3e8ef!important;
color: #000;
border-radius: 0px;
background: none!important;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited, .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{color: #000!important;}
.ui-tabs .ui-tabs-nav, .ui-tabs .ui-tabs-panel{
padding: 0!important;
}
.tabs > ul {
	list-style-type: none;
}
.tabs > ul:after {
	content: " ";
	clear: both;
	display: table;
}
.tabs > ul > li {
	float: right;
	width: 25%;
	text-align: center;
	font-size: 110%;
	padding: 7px 0;
	outline: none;
	border: 1px solid #F5F5F9;
}
	.tabs > ul > li:hover {
		background: #F5F5F9;
	}
	.tabs .ui-tabs-active {
/*		border-top: 2px solid #C3D81A;*/
		border-top: 2px solid #B4D701;
		background: #F5F5F9;
	}
.tabs > ul > li a {
	text-decoration: none;
	outline: none;
	width: 100%;
	display: inline-block;
	color: #000;
/*	background: #f3f5f8;*/
/*	border: 1px solid #e3e8ef;*/
font-family: 'Alef';
}
.tabs > ul > li a:hover {
	text-decoration: none;
}

.tabs > div {
	min-height: 400px;
	background: #F5F5F9;
}

.tabs p {
	padding: 10px;
}

.transport-table-wrap {
	background: #F5F5F9;
	padding: 13px;
}
.transport {
	width: 100%;
	background: #F5F5F9;
	border-collapse: collapse;
}
.transport td {
	padding: 7px 0;
	border-top: 10px solid #F5F5F9;
}
.transport tr:nth-child(odd) td {
	background: white;
}
.transport tr.head td {
	border-top: none;
	color: #6d6d6d;
	background: #F5F5F9;
}
.transport tr.head td div {
	padding: 7px 0;
	font-weight: bold;
	border-bottom: 1px solid #E1E5EE;
}
#main-content .transport td.logo,
#main-content .transport td.number {
	text-align: center;
}
.transport .number {
	border-left: 4px solid #F5F5F9;
}

#main-content table.transport tr:nth-child(1) td,
#main-content table.transport tr.head td div {
	border: 0;
}


.archive .pagination {
	text-align: center;
	margin: 10px 0;
}




/*----------- News ------------------------*/

.single-news h2.subtitle {
	margin-bottom: 5px;
}

.single-news .thumbnail {
	display: block;
	float: right;
}

.single-news .excerpt {
	margin-bottom: 10px;
	font-weight: 700;
}

.single-news .date {
	color: #cacaca;
	margin-bottom: 10px;
}

/*----------- Events ------------------------*/
.event-subtitle, .staff-subtitle {
	margin: 0;
	font-size: 190%;
	font-weight: normal;
}

.event-date {
	margin: 0 0 10px 0;
	font-size: 120%;
}

.single-event .thumbnail {
	float: right;
	margin: 5px -55px 10px 10px;
	height: 150px;
	width: auto;
}

.single-event .subtitle {
	margin-bottom: 3px;
}

.single-event .info {
	margin-bottom: 10px;
}

/*--------------- Staff ------------------------*/
.staff-position {
	margin: 0 0 10px 0;
	font-size: 110%;
}

.single-lecturer #accordion .ui-accordion-header {
	border: 1px solid #DFE6EE;
	padding: 3px;
	margin-bottom: 0;
	position: relative;
	cursor: pointer;
	outline: none;
}

.single-lecturer #accordion .ui-accordion-header-active {
/*	background: #C3D81A;*/
	background: #B4D701;
}

.single-lecturer #accordion .ui-accordion-header .ui-accordion-header-icon:before {
	content: "+";
	display: block;
	width: 34px;
	height: 32px;
	text-align: center;
	line-height: 30px;
	position: absolute;
	left: 0;
	top: 0;
/*	background: #C3D81A;*/
	background: #B4D701;
}
	.single-lecturer #accordion .ui-accordion-header-active .ui-accordion-header-icon:before {
		content: "-";
	}

.single-lecturer #accordion .ui-accordion-content {
	border: 1px solid #DFE6EE;
	padding: 0 10px;
}


/*------------ Phone Table ------------------*/

#phone-table-wrap {
	border-top: 2px solid #bad200;
	background: #f3f5f8;
	padding: 0 30px;
}

#phone-table {
	width: 100%;
}

#phone-table .title {
	border-bottom: 1px solid #e0e6ee;
	font-weight: bold;
}

#phone-table td {
	padding: 10px 0;
}



/*---------------------------------------------------------*/
/*---------------------  Footer  --------------------------*/
/*---------------------------------------------------------*/
.footer {
	background: #dfe6ee;
	margin-top: 50px;
}
	.footer a {
/*		color: #767b7f;*/
		color: #3A3C3D;
	}

#footer-widgets {
	padding-top: 30px;
}
	
.footer .widgettitle {
	color: #4a4f53;
	font-weight: bold;
	margin-bottom: 20px;
}

#social-links-container {
	text-align: center;
}

#social-links-list {
	list-style-type: none;
}


.copyright {
	background: #d7dde9;
	color: #767b7f;
	line-height: 44px;
}

#kcs-logo {
	display: block;
	padding-top: 9px;
}

/*------------ contact form in the footer ------------*/

#footer-contact {
	border-top: 1px solid #d0d7de;
	background: #f1f3f5;
	padding-top: 15px;
	padding-bottom: 35px;
}

#footer-contact .title {
	text-align: center;
	font-size: 180%;
}
#footer-contact .subtitle {
	text-align: center;
	font-size: 110%;
}

#footer-contact .wpcf7 p {
	float: right;
/*	width: 16%;*/
	width: 13%;
	margin-left: 0.5%;
	font-size: 80%;
	color: #62666a;
}
#captcha{
	width: 11%;
	float: right;
	margin-right: 1.8%;
	font-size: 80%;
	color: #62666a;
	margin-top: 3px;
}
#footer-contact .wpcf7 input,
#footer-contact .wpcf7 select {
	width: 90%;
	border: 1px solid #d0d7de;
	color: #95999e;
	padding: 5px;
}

#footer-contact .wpcf7-mail-sent-ok,
#footer-contact .wpcf7-validation-errors {
	float: right;
	margin: 0;
}

#footer-contact .wpcf7 .wpcf7-submit {
	color: #83920f;
/*	background: #D3E925;*/
	background: #B4D701;
	text-align: center;
	border: 1px solid #a7b913;
	border-radius: 5px;
	width: 80%;
	font-size: 150%;
	font-family: Alef;
	font-weight: bold;
	padding: 1px;
	margin-top: 18px;
	cursor: pointer;
}

#footer-contact .wpcf7 .select-wrap {
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 140px;
	height: 28px;
	border-left: 1px solid #d0d7de;
	border-bottom: 1px solid #d0d7de;
/*	margin: 1px 0;*/
	margin: 0px;
}
#footer-contact .wpcf7 .select-wrap:after {
	content: " ";
	display: block;
	background: url('img/arrow.png');
	width: 6px;
	height: 6px;
	position: absolute;
	left: 10px;
	top: 13px;
}
#footer-contact .wpcf7 .select-wrap select {
	width: 170px;
	margin: 0;
	border: 1px solid #d0d7de;
	color: #95999e;
	padding: 5px;
}


#footer-widgets ul.menu {
	list-style-type: none;
	font-size: 90%;
	width: 90%;
}
#footer-widgets ul.menu li {
	margin: 5px 0;
}
#footer-widgets ul.menu a { text-decoration: none; }
#footer-widgets ul.menu a:hover { text-decoration: underline; }


















@media handheld, only screen and (max-width: 1450px) {
	.slider_menu .menu {
		margin: 0 0 15px;
	}
}





@media handheld, only screen and (max-width: 1000px) {
	#news-events .slides .content {
		height: initial;
	}
	#news-events .slides li:nth-of-type(odd) .content,
	#news-events .slides li:nth-of-type(even) .content {
		float: none;
	}
}


@media handheld, only screen and (max-width: 900px) {
	.header-right {
		float: none;
		width: 100%;
		text-align: center;
		padding-top: 0;
	}
	.header-left {
		width: 40%;
	}
	.header-center {
		width: 60%;
	}
	.slider_menu {
		display: none;
	}
	
	#main-title {
		bottom: 10px;
	}
	
	/*--------------- Content ----------------*/
	.col-1-5.col-menu {
		width: 25%;
	}
	#main-content.col-3-5 {
		width: 73%;
	}
	.col-1-5.col-sidebar {
		width: 100%;
	}
}


@media handheld, only screen and (max-width: 767px) {
    .mobile-btn{display:block !important;}
	.home #display{display:block;}
	#smartphone-menu-btn {
/*		display: block;*/
		cursor: pointer;
		margin-right: 10px;
	}
	#smartphone-submenu-btn {
		display: block;
		cursor: pointer;
		margin-top: 10px;
		margin-right: 10px;
	}
	#top_menu_id .menu {
	/*	display: none;*/
	}
	
	.col-1-4 {
		float:right;
		width: 46%;
		margin-right: 2%;
		margin-left: 2%;
	}
	.a11y-toolbar{
		bottom: 0%!important;
		top: auto!important;
		right: 50%!important;
	}
	.en .a11y-toolbar{
		left: 50%!important;
		right: auto!important;
	}
	.a11y-toolbar ul{
		border-top-right-radius: 4px;
		border-bottom-right-radius: 0px;
	}
	.a11y-toolbar ul li:first-child a{
		border-top-left-radius: 0px!important;
		border-top-right-radius: 4px!important;
	}
	.a11y-toolbar ul li:last-child a{
		border-top-left-radius: 4px!important;
		border-top-right-radius: 0px!important;
		border-bottom-left-radius: 0px!important;
	}
	.a11y-toolbar ul li {
		display: none !important;
	}
	
	/*-------------- Menu ---------------------*/
	
	.top_menu {
		position: relative;
	}
	.top_menu ul.menu {
		padding: 0 30px;
/*		position: absolute;*/
/*		box-shadow: 1px 3px 5px rgb(167, 167, 167);*/
		width: 100%;
		background: rgba(255,255,255,0.9);
		z-index: 100;
	}
	.top_menu ul.menu > li {
		float: initial;
		width: 100% !important;
		text-align: right;
		padding: 5px 0;
		border-bottom: 1px solid #E2E2E2;
	}
	.en .top_menu ul.menu > li {
		text-align: left;
		float:initial;
	}
	.top_menu ul.menu > li:nth-child(6){text-align:right;}
	.top_menu li.menu-item > ul.sub-menu {
		width: 100%;
		right: 0;
	}
	.top_menu li.menu-item > ul.sub-menu li {
		padding: 6px 7px;
	}
	.top_menu li.menu-item > ul.sub-menu li.menu-item-has-children {
		padding: 0;
	}
	.three-columns > ul.sub-menu {
		display: none;
	}
	.top_menu ul.menu > li:hover ul.sub-menu {
		display: block;
	}
	.three-columns > ul.sub-menu {
		position: initial;
	}
	.three-columns > ul.sub-menu > li {
		float: none;
		width: 100%;
		border: 0;
	}
	.top_menu ul.menu > li > a {
		display: inline;
	}
	.top_menu ul.menu > li.menu-item-has-children > a:hover:after {
		border: 0;
	}
	
	.thumbnail-container img {
		height: auto;
		width: 100%;
	}
	#main-title {
		font-size: 150%;
		margin: 0 4%;
		
		
	}
	.event-subtitle, .staff-subtitle {
		font-size: 150%;
	}

	/*-------------- Side Menu --------------------*/
	
	#page-side-menu ul.menu {
		display: none;
		position: absolute;
		background: white;
		z-index: 10;
		box-shadow: 1px 4px 5px rgb(153, 153, 153);
	}
	#page-side-menu .menu > li > a:after {
		left: 5%;
	}
	#page-side-menu .menu li.page_item_has_children:hover {
		padding-bottom: 0;
	}
	#page-side-menu .menu li.page_item_has_children:hover > ul.children {
		display: block;
		position: relative;
		width: 80%;
		left: 0;
	}
	#page-side-menu .menu ul li.page_item_has_children:hover > ul.children {
		width: 100%;
		right: 10%;
	}
	#page-side-menu ul.menu ul li.page_item_has_children:after {
		left: 5%;
	}
	#page-side-menu .menu > li {
		padding: 10px 5px 10px 0;
	}
	
	/*--------------- Content Grid -----------------*/
	.col-1-5.col-menu {
		width: 100%;
	}
	#main-content.col-3-5 {
		width: 100%;
	}
.speciallize_list li .pic{width: 30%!important;}
.speciallize_list li .text{width: 70%!important;}
	.speciallize_list li{width: 90%;}
	.col-1-5.col-sidebar {
		width: 100%;
	}
	
	/*------------- Content -------------------------*/
	
	.tabs > ul > li {
		font-size: 80%;
	}
	
	#sidebar .inart-facebook-widget {
		text-align: center;
	}

	/*------------- Footer -------------------------*/
	
	#footer-widgets{display:none;}
}


@media handheld, only screen and (max-width: 600px) {
body{overflow-x: hidden;}
	.col-1-4, .col-1-4:last-of-type {
		float: none;
		width: 95%;
		margin-right: auto;
		margin-left: auto;
	}

	.col-1-2, .col-1-3, .col-2-3 {
		width: 95%;
		display: block;
		margin: 0 auto;
		float: none;
	}
	.col-1-2:after {
		content: " ";
		display: block;
		clear: both;
	}

	.col-1-3, .col-1-2 {
		margin-bottom: 15px;
	}
	.col-2-6, col-4-5, .col-4-6 {
		width: 100%;
		float: none;
	}
	
	#news-list-widget .col-1-3 {
		width: 23%;
		float: right;
	}
	#news-list-widget .col-2-3 {
		width: 75%;
	}
	
	/*------------- Header -------------------*/
	.header-right, .header-center, .header-left {
		width: 100%;
	}
	.header-right {
		text-align: center;
	}
	#language-container .text-size-icons {
		display: none;
	}
	.header-left .col-1-2 {
		width: 50%
	}
	.header-left .col-left {
		float: left;
	}
	.header-left .col-right {
		float: right;
	}
.top_menu ul.menu > li:last-child{border:none;}
	#search-container {
		margin: 10px 10px 20px 0;
	}
	#search-button,#search-button_ {
		width: 8%;
	}
	.private_menu_title, .a11y-toolbar-widget, .fontResizer{display:none!important;}
	.a11y-toolbar.rtl, #is_normal_fontsize{display:block!important;}
	ul.top-small-menu {margin-right: 19px;}
	.top-small-menu li{padding-top: 5px;}
	.icon:before{margin-left: -15px;left: 17px;}
	.a11y-toolbar ul li a{font-size: 1.2em!important;padding:4px!important;}
.icon-phone{padding-left: 20px;}
#lang_sel_list{margin-right:0px!important;}

	/*------------- Content -------------------*/
	#home-feature .content-wrap {
		height: initial;
	}
	#home-feature .thumbnail,
	#home-feature .thumbnail img	{
		float: none;
		border: 0;
		width: 100%;
		height: initial;
	}
	#home-feature .thumbnail:before {
		border: 0;
	}
	.home-feature-pagination {
		width: 100%;
		bottom: 0px;
	}
	#news-events .slides > li{max-width:100%;margin:0px;}
	#home-news-events .thumbnail{height:220px;}
	.single-lecturer .thumbnail img {
		
	}
	#main-content table{}
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required, input.wpcf7-form-control.wpcf7-captchar{width: 80%;}
	#main-content table td{}

	.ui-tabs .ui-tabs-nav li{font-size: 50%;} 

	/*--------------- Widgets -------------------*/	
	.inart-faculty-stuff-list-widget .lecturer .col-1-3 {
		margin-bottom: 0;
		width: 45%;
	}
	.inart-faculty-stuff-list-widget .lecturer .col-2-3 {
		width: 45%;
		margin: 0 auto;
	}
	.inart-faculty-stuff-list-widget .more-link {
		text-align: center;
	}
	#news-list-widget .widgettitle {	
		text-align: center;
	}
	#news-list-widget .events-wrap {
		/*width: 70%;*/
		margin: 0 auto;
width: 100%;
padding-right: 60px;
	}
	#news-list-widget .events-wrap .col-1-3 {
		margin-bottom: 0;
	}
	#sidebar .inart-facebook-widget, #news-list-widget{float:none;width:100%;}
	#sidebar .inart-facebook-widget{margin:0 auto;}
	.prepration{float:none!important;margin: 0 8%;}
	.prepration a{float:none!important;}
	#sidebar-contact-form-widget{display:none;}

	/*--------------- Footer -------------------*/
	#footer-contact .wpcf7 p, #captcha {
		float: none;
		width: 95%;
		margin: 2% 5%;
	}
	#footer-widgets ul.menu {
		width: 100%;
	}
	#footer-contact  span.wpcf7-form-control-wrap {
		display: block;
	}
	#footer-contact .wpcf7 .wpcf7-submit {
		margin: 20px 5%;
		display: block;
		float: none;
	}
	.col-1-6 {
		float: none;
		width: 100%;
		text-align: center;
	}
	.footer .widgettitle {
		margin-bottom: 0;
	}
	.copyright .col-left,
	.copyright .col-right {
		width: 100%;
		float: none;
		text-align: center;
	}
	#kcs-logo {
		display: inline;
		height: 27px;
	}
	
}




#lang_sel_footer, .icl_post_in_other_langs { display: none !Important; }


div.excerpt { display: none !important; }
.speciallize_list li {
float: right;
/*border-radius: 10px;*/
border: #e1e1e1 1px solid !important;
padding: 10px !important;
background: #f9f9f9 !important;
list-style: none;
margin: 0px 20px 20px 0;}
.sidebar_h2 {
font-size: 24px !important;
color: #afc11c !important;
margin-top: 40px;
margin-bottom: 0px;
background: 0 !important;}
.lecture {
padding: 14px 18px 50px;
/*border-radius: 10px;*/
border: 1px solid #e1e1e1;
margin-bottom: 25px;
overflow: visible !important;
}
.lecture a{text-decoration: none;/*color: #94AA1D;*/color:#B4D701;}
.lecture h3{/*color: #94AA1D;*/color:#B4D701;font-size: 16px;margin:0px;padding-top:0px;}
.lecture img{float: right;
margin-left: 15px;}
.conditions {
padding: 17px 17px 15px 17px;
margin-bottom: 18px;
/*border-radius: 10px;*/
border: #e1e1e1 1px solid;}
.conditions li {
background: url(img/v.jpg) top right no-repeat;
padding: 0px 47px 8px 0px;
margin-bottom: 7px;
font-size: 14px;
min-height: 40px;
list-style: none;
}
.conditions li a {
color: #333;text-decoration: none;}
.sidebar_button_lnk a {
background: #81868c;
padding: 5px 5px;
border-radius: 5px;
line-height: 120%;
color: #fff;
/*margin-right: 10px;*/
margin-top: 10px;
text-align: center;
display: block;
/*float: right;*/
font-size: 14px;
text-decoration: none;
text-align:center;
}
.sidebar_button+.sidebar_button {
/*margin-right: 15px;
float:right;*/
}
.lecture span{font-size: 13px;}
#sidebar_study .header {
background: #81868c;
width: 100%;
height: 33px;
border-top: #a1a5a8 1px solid;
border-bottom: #696e72 1px solid;
color: #FFF;}
#sidebar_study .header .right{float: right;
margin: 5px 10px;
font-weight: bold;
cursor: pointer;}
#sidebar_study .header_text {
text-align: center;
background: #b8bcc0;
height: 50px;
padding-top: 1px;
width: 100%;
/* border-bottom: #cdd0d3 1px solid; */
font-size: 12px;}
#sidebar_study .header_text p{color:#fff;margin: 0px;}
.speciallize_list li .pic {
width: 101px;
height: 101px;
overflow: hidden;
float: right;}
.speciallize_list li .text {
/* margin-right: 10px; */
position: relative;
width: 172px;
height: 120px;
overflow: hidden;
float: right;}
.speciallize_list li .text span {
text-align: justify;
display: block;
font-size: 12px;
}
.speciallize_list li .text h2 {
font-size: 18px !important;
color: #494949 !important;
background: none !important;
padding: 0 !important;
margin: 0 !important;}
.speciallize_list li .text .button {
left: 0;
padding: 4px 8px;
text-align: center;
position: absolute;
bottom: 0;
text-decoration: none !important;
color: #000;
font-weight: bold;
/*	background: #c3d81b;*/
	background: #B4D701;
border-radius: 5px;
display: block;}
.specility {
border-bottom: 1px dashed #e1e1e1;
padding-bottom: 105px;
}
.specility .blockText {
float: right;
padding-bottom: 7px;width: 85%;}
.specility .blockText h3 {
font-size: 1.4em !important;
color: #494949 !important;
margin: 0px;
position: relative;
top: -9px;}
.specility .block {
clear: both;
padding-top: 22px;
}
.specility .block img {
float: right;
margin: 0 0 0 10px !important;
display: block;
}

.graduate .blog {
margin-top: 17px;
border: 1px solid #e1e1e1;
border-radius: 4px;
height: 75px;}
.graduate .blog img{float:right;margin-left:20px;}
.graduate .blog h3{margin:0px;color: #8b9298;}
.lecture .block {padding: 0 100px 15px 0px;
position: relative;min-height: 100px;}
.lecture .block img{right: 0;
position: absolute;
top: 8px;}
.prepration {
padding: 15px 0 20px;
overflow: hidden;
float:left;}
.prepration a {
background: #ADB3BC;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ADB3BC), to(#82878e));
background: -webkit-linear-gradient(#ADB3BC, #82878e);
background: -moz-linear-gradient(#ADB3BC, #82878e);
background: -ms-linear-gradient(#ADB3BC, #82878e);
background: -o-linear-gradient(#ADB3BC, #82878e);
background: linear-gradient(#ADB3BC, #82878e);
-pie-background: linear-gradient(#ADB3BC, #82878e);
width: 115px;
float: right;
/* height: 40px; */
padding: 28px 10px;
margin-right: 10px;
text-align: center;
font-size: 16px;
line-height: 120%;
font-weight: 700;
color: #fff;
border-radius: 4px;
box-shadow: 0 1px 2px #81868c inset;
box-shadow: 0 1px 2px #999;
text-shadow: 1px 1px #666;
text-decoration: none;
min-height:100px;
}
.prepration a.space{padding: 20px 10px!important;}

.slider_menu .trans > a{display:none;}
#news-list-widget .title
{
display: table-cell;
vertical-align: bottom;
}
div.pp_default .pp_close{color: transparent;}
#sidebar .inart-facebook-widget{
/*border-radius: 10px;*/
border: 1px solid #e1e1e1;
/*width: 255px;*/
/*padding: 10px 0 0px 10px;*/
}
.print{clear:both;}
.event-subtitle{margin-top: 30px;}
#main-content p{text-align:justify}
.conditions li a{font-size: 16px;}
img.video_lightbox_anchor_image{padding-right:10px;}
.ui-autocomplete{z-index:515;}
ul#ui-id-1{background: rgb(255, 255, 255) !important;width:225px;}
.hidden {display: none!important}
#lang_sel_list{display: inline-block;height:18px;margin-right: -47px;}
#lang_sel_list ul a{padding: 3px 5px!important;}
.en #lang_sel_list{margin-left: 8px;margin-right: -10px;}
#lang_sel_list ul{border:none;}
#lang_sel_list li{width: auto;}
#lang_sel_list a, #lang_sel_list a:visited{
color: #80868c;
font-family: 'Alef';
font-size: 16px;
border:none;
}

.mobile-btn{
  box-sizing: border-box;
  color: rgb(63, 65, 50) !important;
  cursor: auto;
  direction: rtl;
  display: none;
  font-family: Alef;
  font-size: 24px;
  font-weight: bold;
  height: 32px;
  margin: 0 auto;
  list-style-type: none !important;
  background: rgb(177, 211, 3);
  padding: 0px;
  position: relative;
  text-align: center;
  border-radius: 3px;
  text-decoration: none !important;
  width: 236px;
  border: 1px solid rgb(163, 181, 19);
}
/* WP Accessibility Style */
.a11y-toolbar-widget {
display: inline-block;
height: 18px;
}
.a11y-toolbar-widget li {
float: right;
margin-right: 35px;
}

.a11y-toggle-contrast {
	outline: none !important;
}

.toggle-font img{
	background-color: white !important;
}

.a11y-toolbar.rtl{display:none;}
.fontResizer{list-style-type: none;display: inline-block;padding-right: 25px;}
.en .fontResizer{padding-left: 25px;padding-right:0px;}
#is_normal_fontsize {display: none;}
.ui-menu .ui-menu-item{border-bottom: 1px solid black;}
.ui-menu .ui-menu-item:last-child{border-bottom: none;}
#display{display:none;}
.fb_iframe_widget iframe{max-width:320px;}
.page-template-template-mba-php .fb_iframe_widget iframe, .page-template-template-specialitie-php .fb_iframe_widget iframe{max-width:283px;}
.home #sidebar-contact-form-widget{display:none;}

a#font_size_2 img {
	width: 13.5px;
}
a#font_size_1 img {
	width: 10px;
}
span.aticon.aticon-adjust {
    display: none;
}
div#main-title-container h1 {
    font-size: 17px;
    margin-right: 10px;
    margin-left: 10px;
}span.aticon.aticon-tint {
    display: none;
}
#lang_sel_list {
    width: 120px !important;
}
#lang_sel_list {
    margin-right: 0 !important;
        height: initial !important;
}
#lang_sel_list li {
    width: 50% !important;
}
#lang_sel_list a{
    border:none !important;
}
#lang_sel_list ul {
    width: 80px !important;
    border-top: none !important;
}
#main-content img {
    max-width: 80%;
    height: auto;
}
.a11y-toolbar-widget li:first-of-type {
    margin-right: 0;
}
#main_menu_text{
    display:none;
        background: #B7D900;
    color: white;
    text-shadow: 1px 1px 3px #545454;
    font-size: 20px;
    padding-right: 10px;
}
.page-id-1184 #smartphone-submenu-btn,.page-id-30271 #smartphone-submenu-btn, .page-id-30275 #smartphone-submenu-btn, .page-id-29300 #smartphone-submenu-btn, .page-id-30280 #smartphone-submenu-btn, .page-id-30285 #smartphone-submenu-btn, .page-id-30288 #smartphone-submenu-btn, .page-id-30291 #smartphone-submenu-btn, .page-id-32088 #smartphone-submenu-btn{
        display:none;
    }
@media only screen and (max-width: 767px) {
    #header a {
    font-size: 11px;
    }
    #main-menu-container {
     padding: 0px; 
    }
   #main_menu_text{
    display:block;
   }
    
    #top_menu_id .menu{
        display:none;
    }
    #kcs-logo {
    display: inline;
    height: 27px;
    float: left;
    margin-left: 10px;
    margin-top: -5px;
    margin-bottom: 10px;
    }
    #main-content iframe {
    max-width: 320px;
    height: auto;
    }
    #main-content.col-4-5 {
        width: 90%;
    }
    #header-phone-number:before {
    background: url('img/icon-phone.jpg');
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: 3px;
    width: 16px;
    height: 16px;
    content: " ";
    }
    #header-phone-number a {
    font-size: 15px !important;
    }
    #header-phone-number {
        padding: 0px 0;
        height: 35px;
    }
    img#header-logo {
    width: 150px;
}
    
}
@media only screen and (min-width: 768px) {
    div#main-title-container h1 {
        font-size: 45px;
    }
    #main-title {
        vertical-align: bottom;
        bottom: 0;
    }
    #smartphone-menu-btn, #smartphone-submenu-btn {
    display: none;
    }
}
					.rtl #news-events .slides .subtitle {
	direction: rtl !important;
}
.single-event img.thumbnail.wp-post-image,.single-news img.thumbnail.wp-post-image{
    display: none;
}
.print {
    display: none;
}
.printfriendly.pf-alignright {
    margin-top: 20px;
}