@charset "utf-8";
/* CSS Document 
Author:Tejaswini
Website:http://www.clickonf5.org
*/

#smooth_sldr div{display:block;}
#smooth_sldr span{display:inline;}
#smooth_sldr{overflow:hidden;margin: 0px auto;line-height:0px;}
#smooth_sldr a{text-decoration:none;}
#smooth_sldr_items{width:100%;}
#smooth_sldr_body{width:100%;}
#smooth_sliderc{position:relative;text-align:justify;}
#smooth_sliderc .smooth_sliderb{position:absolute;/*dont change this value*/left:0;top:0;}
.smooth_slideri{padding-right:0px;overflow:hidden;line-height:0px;}
.sldr_title{margin:0;}
#smooth_sldr_body h2{clear:none;display:block;padding:0px;}
.slider_item {padding-left:0px;}
#smooth_sldr_body p.more a{text-decoration:underline;float:right;}
#smooth_sldr_body p.more a:hover{text-decoration:none;}
#smooth_sliderc_nav{background:url(images/ih_arrow.png) no-repeat;height:25px;width:126px;position:absolute;top:34px;right:0}
#smooth_sliderc_nav img{float:left;margin:3px 0 0 2px;cursor:pointer;}
#smooth_sliderc_nav li{float:left;width:16px;background:url(images/ih_a.png) no-repeat;height:20px;margin:3px 0 0 0}
#smooth_sliderc_nav li:hover {background:url(images/ih_ahover.png) no-repeat}
.sldrbr{line-height:0px;}
.sldrlink{display:block;font-size:0px;float:right;font-family:Verdana, Helvetica, sans-serif;}
.sldrlink a{color:#333333;}
.sldr_clearlt{display:block;visibility:hidden;clear:left;height:0;content:".";}
.sldr_clearrt{display:block;visibility:hidden;clear:right;height:0;content:".";}


