@font-face {
    font-family: 'FoodiFOTBold';
    src: url('images/foodifot-bold-webfont.eot');
    src: url('images/foodifot-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('images/foodifot-bold-webfont.woff') format('woff'),
         url('images/foodifot-bold-webfont.ttf') format('truetype'),
         url('images/foodifot-bold-webfont.svg#FoodiFOTBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FoodiFOTLight';
    src: url('images/foodifot-light-webfont.eot');
    src: url('images/foodifot-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('images/foodifot-light-webfont.woff') format('woff'),
         url('images/foodifot-light-webfont.ttf') format('truetype'),
         url('images/foodifot-light-webfont.svg#FoodiFOTLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FoodiFOTRegular';
    src: url('images/foodifot-regular-webfont.eot');
    src: url('images/foodifot-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('images/foodifot-regular-webfont.woff') format('woff'),
         url('images/foodifot-regular-webfont.ttf') format('truetype'),
         url('images/foodifot-regular-webfont.svg#FoodiFOTRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.title{
font-family: 'FoodiFOTBold';
}
.input{
  background: transparent;
  font-family: Arial ,Helvetica ,sans-serif;
}