.sqldebug {
	width: 99%;
	margin: 0 auto;
	clear: both;
	background: #CCC;
	border: 2px solid #777;
	border-collapse: collapse;
	font-family: monaco, monospace;
}

.sqldebug .sqldebug { border-color: #BBB; }

.sqldebug td, .sqldebug th {
	padding: 2px;
	border: 1px solid #CCC;
}

.sqldebug tr > td { border-bottom: 0px solid #777; }
.sqldebug .sqldebug tr > td { border-bottom: 1px solid #CCC; }

.sqldebug thead, .sqldebug tbody {
	color: #514E4E;
	background: #EEE;
	font: x-small Verdana, sans-serif;
	text-align: left;
}

.sqldebug .query {
	color: #2C428C;
	font-size: 12px;
	line-height: 140%;
	display:block;
	padding:5px;
	background: #C9DCF7;
}

.sqldebug .explain { margin: 3px 0; }
.sqldebug .red { color: red !important; }
.sqldebug .green { color: green !important; }
.sqldebug .orange { color: orange !important; }
.sqldebug .darkcyan { color: darkcyan !important; }

.sqldebug.res thead, .sqldebug.res tbody { color: #222; }

.sqldebug .warning { color: red; font-weight: bold; }

.sqldebug .title {
	margin: 10px 0 0;
	color: green;
	font-weight: bolder;
}
