body{
    font-family: Arial, sans-serif;
    font-size: 150%; /*change according to your desire*/
    font-weight: 600; /*change according to your desire*/
    line-height: 1.4; /*change according to your desire*/
}

.ui-datepicker-calendar {
	z-index: 100;
}
span.author {
    display: none;
}
