*{
direction:rtl;

}
.hd{
display:none;
}
.upper_banner{
display:none;
}

#content{
display:block;
margin-right:30px;
}

.footer{
display:none;
}
.nav_menu{
display:none;
}
#lang_sel_footer{
display:none;
}
.shareinpost{
display:none;
}
*{
margin-right:45px;
direction:rtl;
list-style:none;
float:none !important;

}
.interactive_bottom{
display:none;
}
#content .entry-title{
padding-right:60px;
}
#bread{
display:none;
}

.jumping_form {
    display:none;
}
#lpButDivID-1296374881567 {
    display:none;
}
#lpButDivID-1296375712440{
    display:none;
}
.lang_link {
    display:none;
}
.wpcf7-form {
    display:none;
}

.post-content {
    line-height:16px !important;
    font-size:11px !important;
}
.entry-content {
     margin-right: -100px;
}