#aspdf a
{
    display: block;
    float: left;
    clear: left;
    height: 32px;
    margin-bottom: 20px;
    padding-left: 34px;
    padding-top: 10px;
    background-image: url('as-pdf.png');
    background-repeat: no-repeat;
    
}

