﻿* {margin:0;padding:0;text-decoration:none;list-style:none }

/*       testing start                             

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
*/
/*        testing end                                         */

body {direction:rtl;font-family:arial;font-size:12px;background: /*url(images/bg.png)*/ repeat-x #fff;color:#1f2022;}
.hfeed {position:absolute;width:980px;right:50%;margin:26px -490px 0 0}
.hd {height:89px;border-bottom:3px solid #C3D81B;position:relative;width:980px}
.hd a img {border:0;float:right;margin:0px 19px 0 20px}
a:hover {cursor:pointer}

#magic-line { 
	position: absolute; 
	bottom: +2px; 
	left: 420px; 
	width: 100px; 
	height: 10px; 
	background: url(images/menu-s.png) center bottom no-repeat; 
	height:20px;

}


#content {
	width:630px !important;
}
/*
table{
border:inherit;

}
table td{
border:inherit;
}
*/
#sb-title-inner{display:none;}

.top_menu {width:425px;float:right;position: relative;}
	.top_menu .lang {height:28px;margin:16px 0 0 0}
		.top_menu .lang ul {float:right;width:218px;margin:6px 0 0 0}
		.top_menu .lang ul li {float:right;height:11px;border-left:1px solid #8b9298;padding:0 7px;line-height:7px}
		.top_menu .lang ul li  a{font-size:11px;color:#8b9298}
		
		.top_menu .lang .b_s {width:56px; height:23px; background:url(images/small.png) no-repeat; float:left; cursor:pointer; margin:3px 0px 0px 5px;}
		.top_menu .lang .b_b {width:56px;height:23px;background:url(images/big.png) no-repeat;float:left;cursor:pointer;margin:2px 0px 0px 45px;}
		.top_menu .lang .b_bs {width:56px;height:23px;background:url(images/glass.png) no-repeat;float:left;cursor:pointer;margin:2px 0px 0px 45px;}	
		.top_menu .lang .chatbtn {background:url(images/english/chatbtn.png) no-repeat;width:80px;height:21px;float:left}

	.mainmenu {width:420px;background:url(images/english/menu.png) no-repeat;height:41px;margin:7px 7px 0 0; top:0; left:0; position:relative;}
		.mainmenu li {float:left;height:30px;}
		.mainmenu .menu1 p {width:47px;height:30px}
		/*.mainmenu .menu5 p:hover {background:url(images/english/menu.png) 0px 41px}*/
		.mainmenu .menu2 p {width:97px;height:30px}
		/*.mainmenu .menu4 p:hover {background:url(images/english/menu.png) 137px 41px}*/
		.mainmenu .menu3 p {width:86px;height:30px}
		/*.mainmenu .menu3 p:hover {background:url(images/english/menu.png) 280px 41px}*/
		.mainmenu .menu4 p {width:103px;height:30px}
		/*.mainmenu .menu2 p:hover {background:url(images/english/menu.png) 363px 41px}*/
		.mainmenu .menu5 p {width:77px;height:30px;}
		/*.mainmenu .menu1 p:hover {background:url(images/english/menu.png) 0 41px}*/
		.mainmenu .menu5 {cursor:pointer;}
		.menu_li2{margin-left:40px; width:80px;}
	.footer span{
	
	}
	

	#main .widget-area .current_page_item ul.children {
	background-color:#ffffff;
	text-indent:15px;
	
	}

		
	#chatbtn {background:url(images/chatbtn.png) no-repeat;width:80px;height:21px;position:absolute;top:14px;right:200px;text-align:center;color:#ffffff;}
	#chatbtn a{color:#ffffff}
	#chatbtn a:hover {color:#ffffff}
	#chatbtn a:visited {color:#ffffff}
	

	.menuleft {border:0; float:left;width:316px;height:78px;margin:15px 0 0 0}
	.login {height:21px;border:0; background:url(images/english/menu_sm.png) no-repeat}
        .login ul {padding:0 0px 0 0}
	.login ul li {float:right;padding:0 13px 0 0}
        .login ul li a {font-size:12px;font-weight:bold;color:#fff;line-height:21px}
        .login ul li a:hover {text-decoration:underline}
	.mysearch {height:31px;border:0;background:url(images/search.png) no-repeat;width:316px;margin:17px 0 0 0;}
	
	.searchfieldHolder{background:url(images/input_search.png) no-repeat;width:150px;height:23px;float:left;margin:3px 0px 0 0;}
	.mysearch  input[type="text"]{border:0;background: none repeat;width:150px;height:23px;float:left;margin:0px 0px 0px -5px;padding:0px 0px 0px 0px;color:#8B9298;font-size:12px;line-height:24px;}
	.mysearch  input[type="submit"]{border:0;background:url(images/search_btn.png);width:25px;height:23px;float:left;margin:3px 0 0 0;cursor:pointer;}

	.mysearch_page {height:31px;width:200px;margin:17px 0 0 0}
	
	.searchfieldHolder{background:url(images/input_search.png)no-repeat;width:150px;height:23px;float:left;margin:3px 0px 0 0;}
	#mysearch_page  input[type="text"]{background: none repeat;width:150px;height:23px;float:left;margin:0px 0px 0px -5px;color:#8B9298;font-size:12px;line-height:24px;}
	.mysearch_page  input[type="submit"]{background:url(images/search_btn.png)no-repeat;width:25px;height:23px;float:left;margin:3px 0 0 0;cursor:pointer;}

	.home-contact {position:absolute;top:455px;left:0;cursor:pointer;}
	.home-contact-open{background:url(images/english/contact-h.png)no-repeat !important;width:326px;height:239px;margin:3px 0px 0 0;position:absolute;bottom:48px;left:0;display: none; }
	.open-contact {height:200px;padding:40px 35px 0 0}
	.open-contact input[type="text"]{background:#ffffff;width:220px;height:17px;float:right;margin:10px 0 0 0px;padding:0 6px 0 0;}
	.open-contact input[type="select"]{background:#ffffff;width:247px;height:26px;float:right;margin:10px 0 0 0px;}
	.open-contact input[type="submit"]{background:url(images/english/contact-hbtn.png) no-repeat;width:72px;height:28px;float:right;margin:-7px 0 0 0 !important;cursor:pointer;}

	.arias_select_open {color:#888888;font-family:arial;font-size:12px;height:26px;width:253px;height:26px;float:right;margin:10px 0 0 20px}
.arias_select_open{padding:5px 3px;}
	
	.open-contact .wpcf7-response-output{padding:0px 0 0 0;  position:absolute !important; top:9px; border:0 none;}
	.arias_select {color:#888888;font-family:arial;font-size:12px;height:26px;width:247px;height:26px;float:right;margin:10px 0 0 20px}
.arias_select{padding:5px;}
	
	.imghome {position:relative}
	.arrow {background:url(images/ih_arrow.png) no-repeat;height:25px;width:126px;position:absolute;top:34px;right:0}
	.arrow  img{float:left;margin:3px 0 0 2px}
	.arrow a{float:left;width:16px;background:url(images/ih_a.png) no-repeat;height:20px;margin:3px 0 0 0}
	.arrow a:hover {background:url(images/ih_ahover.png) no-repeat}
	
	.content_h {margin:6px 0 0 0}
	.contenthome {width:322px;height:169px;background:url(images/contenthome.png)repeat-x center bottom;float:right;margin:0 0 0 6px;position:relative}
	.contenthome p {color:#1f2022;margin:18px 23px 0 15px}
	.contenthome p strong {color:#94aa1d;text-decoration:underline}
	.contenthome .year {font-weight:bold;background:url(images/year.png)no-repeat;width:42px;height:20px;float:right;line-height:20px;color:#fff;text-align:center}
	.contenthome .date {font-weight:bold;background:url(images/date.png)no-repeat 1px center;width:42px;height:20px;float:right;line-height:20px;color:#fff;text-align:center}
	.contenthome .hour {line-height:20px;font-size:17px;font-weight:bold;color:#535861;margin:0 5px 0 0}
	
	.odot_news {width:322px;height:500px;background:url(images/contenthome.png) repeat-x center bottom;float:right;margin:20px 0 0 6px;position:relative}
	.odot_news p {color:#1f2022;margin:18px 23px 0 15px}
	.odot_news p strong {color:#94aa1d;text-decoration:underline}
	.odot_news .year {font-weight:bold;background:url(images/year.png) no-repeat;width:42px;height:20px;float:right;line-height:20px;color:#fff;text-align:center}

	.odot_news .date {font-weight:bold;background:url(images/date.png)no-repeat 1px center;width:42px;height:20px;float:right;line-height:20px;color:#fff;text-align:center}
	.odot_news .hour {line-height:20px;font-size:17px;font-weight:bold;color:#535861;margin:0 5px 0 0}
	
	
	.more {position:absolute;top:5px;right:10px;text-decoration:underline}
	.more:hover {color:#ffffff;text-decoration:none}
	.more:link{color:#ffffff;}
	.more:visited{color:#ffffff;}

	.news_more {color:#94AA1D;float:left;margin-top:7px;}
	.news_more:visited{color:#94AA1D;}
	.news_more:hover{color:#94AA1D;}

	
	.homevideo {width:323px;height:169px;float:left; background:url(images/english/homevideo.png) no-repeat !important; direction:ltr;}
	.homevideo p {margin:79px 35px 0 35px;color:#757c80;text-align:left;line-height:13px}
	
	.footer {clear:both}
	.footer * {border:0;}
	.contact {background:url(images/contact_bg.png)repeat-x;height:79px;padding:30px 56px 0 0; width:925px;}
	.contact input[type="text"]{background:url(images/input_text2.png);/*width:242px;*/width:152px;height:26px;float:right;margin:10px 0 0 20px;padding-right:5px;color:#777; line-height:22px;}
	.contact input[type="select"]{background:url(images/input_text.png);width:247px;height:26px;float:right;margin:10px 0 0 20px}
	.contact input[type="submit"]{background:url(images/english/contact_btn.png);width:64px;height:22px;cursor:pointer;font-size:0;color:#fff; }
	.arias_select {color:#888888;font-family:arial;font-size:12px;height:26px;width:247px;height:26px;float:right;margin:10px 0 0 20px}
	.arias_select{padding-top:5px; direction:ltr;}
	.contact_me {height:400px;width:300px;padding:30px 56px 0 0}
	.contact_me input[type="text"]{background:url(images/input_text.png);width:247px;height:26px;float:right;margin:0px 0 30px 20px}
	.contact_me input[type="select"]{background:url(images/input_text.png);width:247px;height:26px;float:right;}
	.contact_me input[type="submit"]{background:url(images/contact_btn.png);width:64px;height:22px;margin:10px 0 0 0;cursor:pointer;}
	.arias_select option{height:26px;}

	#smooth_sldr {
	height:476px;
	}
	
	.ft_links {background:url(images/ft_links.png);height:128px;margin:0px 0 25px 0}
	.link_up {padding:10px 0 0 0;position:relative}
	.link_up ul li {float: right;
    height: 18px;
    line-height: 16px;
    padding: 0 20px;
    width: 145px;}
	
	.link_up ul li a {color:#868f95;font-weight:bold}
	.link_up ul li a:hover {text-decoration:underline}
	.lin {height: 16px;
    left: 11px;
    position: absolute;
    top: 65px;}
	.lin a img{margin:0 10px 0 0;width:50px}
	
	.slider_content{
		position:absolute;
		width:322px;
		height:169px;
		display:none;
	}
		
	.odot_news_content{
		width:322px;
		height:120px;
		/*border:0 0 2px 0;*/
	}
	
	
	
	
	.top_submenu_odot {
		padding:0px 0 0 0;position:absolute;
		height:20px;
		top:7px;
		right:0;
		width: 980px;
		display:none;
		
	}
	.top_submenu_akademya {
		padding:0px 0 0 0;position:absolute;
		height:20px;
		top:7px;
		right:0;
		width: 980px;
                display:none;		
	}
	.top_submenu_euch {
		padding:0px 0 0 0;position:absolute;
		height:20px;
		top:7px;
		right:0;
		width: 980px;
                display:none;		
	}
	
	.top_submenu_chorKesher {
		padding:0px 0 0 0;position:absolute;
		height:20px;
		top:7px;
		right:0;
		width: 980px;
		display:none;

		
	}
	
	.top_submenu_thumejLimud {
		padding:0px 0 0 0;position:absolute;
		height:20px;
		top:7px;
		right:0;
		width: 980px;
		display:none;
	}

	.side_menu_top{
		background:url(images/menu-side_top.png)no-repeat;height:6px;width:324px;margin:0px;position:relative;top:1px; border:none 0px;	
		
	}	
	
	.side_menu_bot{
		background:url(images/menu-side_bottom.png)no-repeat;height:6px;width:324px;margin:0px 0 0px 0;position:relative;top:-1px;
	}	
	
	
	
	

	.top_submenu ul li {float:right;height:12px;border-left:1px solid #80868c;line-height:11px; direction:ltr; }
	.top_submenu ul li:last-child {border:0}
	.top_submenu ul li a {font-size:9px;color:#8b9298;font-weight:bold; margin:0 11px 0px 10px; }
	.top_submenu ul li a:hover {color:#94AA1D}

	.top_submenu{
		position: absolute;
		top:90px;
		right:-176px; 
		height:25px;
		z-index:100;	
	}
	.submenu_slider{
		width:980px;
		height:5px;
	}

	.forum_banner{
		background:url(images/bogrim-top-banner.jpg);
		width:980px;
		height:215px;
		margin:0px 0px 20px 0px;	
	}
	.odot_banner{
		background:url(images/odot_banner.jpg);
		width:980px;
		height:215px;
		margin:0px 0px 20px 0px;	
	}
	.forum_side_banner{
		background:url(images/bogrim_banner.jpg);
		width:326px;
		height:80px;
		margin:20px 0 20px 0;
		
	}
	.upper_banner{
		width:980px;
		height:215px;
		margin:0px 0px 20px 0px;	
		padding-top:30px;
	}
	
	.nav_menu  li {width:324px;border-top:1px solid #a1a5a8;border-bottom:1px solid #6A6D72;line-height:30px; direction:ltr;}
	.nav_menu  ul {background-color:#81868c;}
	
	.nav_menu li a {color:#ffffff;margin-top:10px;font-size:10px !important;font-weight:bold;padding:0 0px 0px 20px;cursor:pointer; margin-right:4px; text-indent:7px;}	
	.nav_menu a:link{color:#ffffff;}
	#menufather{
	background-color:#c3d81b;
	}
		
	
	.nav_menu a:hover {text-decoration:none;color:#ffffff;}
	.nav_menu a:visited{color:#ffffff;}

	.widget_subpages  li {width:326px;/*height:30px;*/border-top:1px solid #a1a5a8;border-bottom:1px solid #6A6D72;line-height:30px;}
	.widget_subpages  ul {background-color:#81868c;}
	
	.widget_subpages li a {color:#ffffff;margin-top:10px;font-size:12px;font-weight:bold;padding:0 16px 0 0;cursor:pointer;}	
	.widget_subpages a:link{color:#ffffff;}
	
	
	
	
	.widget_subpages a:hover {text-decoration:none;color:#ffffff;}
	.widget_subpages a:visited{color:#ffffff;}


	.side_menu  li {width:326px;/*height:30px;*/border-top:1px solid #a1a5a8;border-bottom:1px solid #6A6D72;line-height:30px;}
	.side_menu  ul {background-color:#81868c;}
	
	.side_menu li a {color:#ffffff;margin-top:10px;font-size:12px;font-weight:bold;padding:0 16px 0 0;cursor:pointer;}	
	.side_menu a:link{color:#ffffff;}
	
	
	.side_menu a:hover {text-decoration:none;color:#ffffff;}
	.side_menu a:visited{color:#ffffff;}

	.forum_news{
		width:980px;
		height:169px;
		float:left;	
	}
	.stories{
		width:590px;
		height:150px;
		position:relative;

	}

	.glidetext{color:#172022;float:left;margin:15px 0 0;width:294px; direction:ltr;}
	.news_title {
		color:#94AA1D;
		text-decoration:underline;
	}
	.glidetext div {
		clear:both;
		color:#1F2022;
		font-size:12px;
		margin:10px 0 0 15px;
		text-align:justify;
	}
	
	


	.stories_text{color:#172022;margin:15px 3px 0;width:660px;}

	
	
	.stories_text img {
		max-width:160px;
		max-height:160px;
		float:right;
		margin: 0 0 8px 20px;
	}

	.stories{
		width:660px;
		height:220px;		
		
	}
	.stories_header{
		/*background:#e1e4list-style-type:circlee4;*/

		width:640px;
		height:30px;
		color:#cccccc;
		font-size:20px;
		font-weight:bold;
		padding:3px 9px 0 0;
		margin-top:5px;		
	}
	.stories_content{
		width:570px;
		height:190px;
		float:left;
		color:#1F2022;
		font-size:12px;
		margin:0px 0 0 15px;
		text-align:justify;
	}
	.stories_content div{
		width:560px;
		height:190px;
		color:#1F2022;
		font-size:12px;
		margin:10px 0 0 15px;
		text-align:justify;
	}
	

	.stories_more{
		width:640px;
		height:30px;
	}


















/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/

#container {

	margin: 0 -240px 0 0;
	width: 100%;
}
#content {
	margin: 0 280px 0 20px;
	direction:ltr !important;
	
}
#primary,
#secondary {
	float: right;
	overflow: hidden;
	width: 326px;
}
#secondary {
	clear: right;
}
#footer {
	clear: both;
	width: 100%;
}



/* Text elements */
p {
	margin-bottom: 0px;
}
ul {
	list-style: square;
	margin: 0 0 0px 0px;
}
ol {
	list-style: decimal;
	margin: 0 0 0px 0em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
#respond input[type="text"],
textarea {
	background: #f9f9f9;
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	padding: 2px;
}


a:link {
	color: #94AA1D;
}
a:visited {
	color: #94AA1D;
}
a:active,
a:hover {
	color: #94AA1D;
}




/* =Menu
-------------------------------------------------------------- */

#access {
	background: #000;
	display: block;
	float: left;
	margin: 0 auto;
	width: 940px;
}
#access .menu-header,
div.menu {
	font-size: 13px;
	margin-left: 12px;
	width: 928px;
}
#access .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
}
#access .menu-header li,
div.menu li {
	float: left;
	position: relative;
}
#access a {
	color: #aaa;
	display: block;
	line-height: 38px;
	padding: 0 10px;
	text-decoration: none;
}
#access ul ul {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	top: 38px;
	left: 0;
	float: left;
	width: 180px;
	z-index: 99999;
}
#access ul ul li {
	min-width: 180px;
	border:1px solid;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul a {
	background: #333;
	line-height: 1em;
	padding: 10px;
	width: 160px;
	height: auto;
}
#access li:hover > a,80868C
#access ul ul :hover > a {
	background: #333;
	color: #fff;
}
/*#access ul li:hover > ul {
	display: block;
}*/
#access ul li.current_page_item > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a {
	color: #fff;
}
* html #access ul li.current_page_item a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li a:hover {
	color: #fff;
}
.nav_menu .current_page_item a{color: #cacacc;}

.widget_subpages .current_page_item a{color: #4e5154;}
.top_submenu .current_page_item a{color: #4e5154;}



/* =Content
-------------------------------------------------------------- */

#main {
	clear: both;
	overflow: hidden;
	padding: 20px 0 0 0;
}
#content {
	margin-bottom: 36px;
}
#content,
#content input,
#content textarea {
	color: #333;
	
	line-height: 24px;
}
#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
	margin-bottom: 0px;
}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}
#content pre,
#content kbd,
#content tt,
#content var {
	font-size: 15px;
	line-height: 21px;
}
#content code {
	font-size: 13px;
}
#content dt,
#content th {
	color: #000;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	color:#8b9298;
	
	margin: 0 0 0px 0;
}
#content h2 span{
font-size: 18px !important;
}


#content a{
	text-decoration:underline;
}

#content a:hover {text-decoration:none}

#content ul li {list-style:circle}

.hentry {
	margin: 0 0 48px 0;
}
.home .sticky {
	background: #f2f7fc;
	border-top: 4px solid #000;
	margin-left: -20px;
	margin-right: -20px;
	padding: 18px 20px;
}
.single .hentry {
	margin: 0 0 36px 0;
}
.page-title {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 36px 0;
}
.page-title span {
	color: #333;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}
.page-title a:link,
.page-title a:visited {
	color: #888;
	text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
	color: #ff4b33;
}
#content .entry-title {
	float:none;
	color: #4a4e53;
	font-size: 21px;
	font-weight: bold;
	line-height:28px;
	margin-bottom: 0;
	background:#6A6D72;
	width:100%;
		
}
.entry-title a:link,
.entry-title a:visited {
	color: #000;
	text-decoration: none;
}
.entry-title a:active,
.entry-title a:hover {
	color: #ff4b33;
}
.entry-meta {
	color: #888;
	font-size: 12px;
	margin-top:17px;}
.entry-meta abbr, .entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
.entry-content ul{
/*float:right;*/
width:550px;
}
.menulevel2 li{
color:#ffffff !important;
background:url(images/slash.png) center right no-repeat;
border:0;height:30px;margin:0 20px 0 0
}

.nav_menu ul.menulevel2 {background:url(images/menulevel2.png) no-repeat center top #b8bcc0;border-top:1px solid #6A6D72}


.current_page_item .menulevel2 li a{
color: #ffffff;text-decoration:none;

padding-left:15px;
}

.current_page_item .menulevel2 li a:hover {text-decoration:underline; color:#94aa1d;}

.current_page_item a {text-decoration:underline}

.entry-content,
.entry-summary {
	clear: both;
	padding: 12px 0 0 0;
}
#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content fieldset {
	border: 1px solid #e7e7e7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input {
	margin: 0 0 24px 0;
}
.entry-content input.file,
.entry-content input.button {
	margin-right: 24px;
}
.entry-content label {
	color: #888;
	font-size: 12px;
}
.entry-content select {
	margin: 0 0 24px 0;
}
.entry-content sup,
.entry-content sub {
	font-size: 10px;
}
.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}
.page-link {
	color: #000;
	font-weight: bold;
	margin: 0 0 22px 0;
	word-spacing: 0.5em;
}
.page-link a:link,
.page-link a:visited {
	background: #f1f1f1;
	color: #333;
	font-weight: normal;
	padding: 0.5em 0.75em;
	text-decoration: none;
}
.home .sticky .page-link a {
	background: #d9e8f7;
}
.page-link a:active,
.page-link a:hover {
	color: #ff4b33;
}
body.page .edit-link {
	clear: both;
	display: block;
	width:30px;
}
#entry-author-info {
	background: #f2f7fc;
	border-top: 4px solid #000;
	clear: both;
	font-size: 14px;
	line-height: 20px;
	margin: 24px 0;
	overflow: hidden;callback
	padding: 18px;
}
#entry-author-info #author-avatar {
	background: #fff;
	border: 1px solid #e7e7e7;
	float: left;
	height: 60px;
	margin: 0 -104px 0 0;
	padding: 11px;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 104px;
}
#entry-author-info h2 {

	color: #000;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
}
.entry-utility {
	clear: both;
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
.entry-meta a,
.entry-utility a {
	color: #888;
}
.entry-meta a:hover,
.entry-utility a:hover {
	color: #ff4b33;
}
#content .video-player {
	padding: 0;
}


/* =Asides
-------------------------------------------------------------- */

.home #content .category-asides p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}
.home .hentry.category-asides {
	padding: 0;
}
.home #content .category-asides .entry-content {
	padding-top: 0;
}


/* =Gallery listing
-------------------------------------------------------------- */

.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.home #content .category-gallery .entry-utility {
	padding-top: 4px;
}


/* =Attachment pages
-------------------------------------------------------------- */

.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {;
	content: '\00a0\2192';
}


/* =Images
-------------------------------------------------------------- */

#content img {
	margin: 15px;
	height: auto;
	max-width: 640px;
	width: auto;
}
#content .attachment img {
	max-width: 900px;

}

#content .alignleft,
#content img.alignleft {
	display: inline;


	float: left;
	margin-right: 24px;
	margin-top: 4px;
}



#content .alignright,
#content img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
#content .aligncenter,
#content img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#content img.alignleft,
#content img.alignright,
#content img.aligncenter {
	margin-bottom: 12px;
}
#content .wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	padding: 4px;
	text-align: center;
	
}
#content .wp-caption img {
	margin: 5px 5px 0;
}
#content .wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}
#content .wp-smiley {
	margin: 0;
}
#content .gallery {
	margin: 0 auto 18px;
}
#content .gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
#content .gallery img {
	border: 2px solid #cfcfcf;
}
#content .gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
#content .gallery dl {
	margin: 0;
}
#content .gallery img {
	border: 10px solid #f1f1f1;
}
#content .gallery br+br {
	display: none;
}
#content .attachment img { /* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}


/* =Navigation
-------------------------------------------------------------- */

.navigation {
	color: #888;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
	color: #888;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #ff4b33;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: -18px 0 0 0;
}


/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 56px;
	position: relative;
}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 4px;
	left: 0;
}
.comment-author {
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #888;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #ff4b33;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
	color: #888;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #ff4b33;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #888;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}

/* Comments form */
input[type=submit] {
	color: #333;
	background:url(images/contact_btn.png);width:64px;height:22px;cursor:pointer;font-size:0;color:#fff;border:none;
}
#respond {
	border-top: 1px solid #e7e7e7;
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	color: #888;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	width: 98%;
}
#respond textarea {
	width: 98%;
}
#respond .form-allowed-tags {
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}


/* =Widget Areas
-------------------------------------------------------------- */

#search_results_activity_indicator{
top:85px !important;
display:none;
}
#tableheader div div{
float:right !important;
}
.fh1{
float:right !important;
}

.widget-area ul {
	list-style: none;
	margin-left: 0;
}
.widget-area ul ul {
	list-style: square;
	margin-left: 1.3em;
}
.widget_search #s {/* This keeps the search inputs in line */
	width: 60%;
}
.widget_search label {
	display: none;
}
.widget-container {
	margin: 0 0 18px 0;
}
.widget-title {
	color: #222;
	font-weight: bold;
}
.widget-area a:link,
.widget-area a:visited {
	text-decoration: none;
}
.widget-area a:active,
.widget-area a:hover {
	text-decoration: underline;
}
.widget-area .entry-meta {
	font-size: 11px;
}
#wp_tag_cloud div {
	line-height: 1.6em;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	color: #222;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 4px;
	text-align: left;
}
#wp-calendar thead {
	font-size: 11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	padding: 3px 0 2px;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.widget_rss a.rsswidget {
	color: #000;
}
.widget_rss a.rsswidget:hover {
	color: #ff4b33;
}
.widget_rss .widget-title img {
	width: 11px;
	height: 11px;
}

/* Main sidebars */
#main .widget-area ul {
	margin-left: 0;
	padding: 0 20px 0 0;
	background-color:FF0000;
}
#main .widget-area ul ul {
	border: none;
	margin-left: 1.3em;
	padding: 0;
}
#primary {
	margin-top:17px;
}
#secondary {
}

/* Footer widget areas */
#footer-widget-area {
}


/* =Footer
-------------------------------------------------------------- */

#footer {
	margin-bottom: 20px;
	border:0;
}
#colophon {
	border-top: 4px solid #000;
	margin-top: -4px;
	overflow: hidden;
	padding: 18px 0;
}
#site-info {
	font-weight: bold;
}
#site-info a {
	color: #000;
	text-decoration: none;
}
#site-generator {
	font-style: italic;
	position: relative;
}
#site-generator a {
	background: url(images/wordpress.png) center left no-repeat;
	color: #666;
	display: inline-block;
	line-height: 16px;
	padding-left: 20px;
	text-decoration: none;
}
#site-generator a:hover {
	text-decoration: underline;
}
img#wpstats {
	display: block;
	margin: 0 auto 10px;
}


/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
#access,
.entry-meta,
.entry-utility,
.navigation,
.widget-area {
	-webkit-text-size-adjust: 120%;
}
#site-description {
	-webkit-text-size-adjust: none;
}

ul.sub-menu{
	display:none;
	background:url(images/li_bg.png)#b8bcc0 no-repeat;
	/*height:0px;*/
	}
	.sub-menu{
	display:none;
	background:#cccccc;
}
	ul.sub-menu li{
			
			width:326px;
			
		}
	






/* =Print Style
-------------------------------------------------------------- */

@media print {
	body {
		background: none !important;
	}
	#wrapper {
		clear: both !important;
		display: block !important;
		float: none !important;
		position: relative !important;
	}
	#header {
		border-bottom: 2pt solid #000;
		padding-bottom: 18pt;
	}
	#colophon {
		border-top: 2pt solid #000;
	}
	#site-title,
	#site-description {
		float: none;
		line-height: 1.4em;
		margin: 0;
		padding: 0;
	}
	#site-title {
		font-size: 13pt;
	}
	.entry-content {
		font-size: 14pt;
		line-height: 1.6em;
	}
	.entry-title {
		font-size: 21pt;
	}
	#access,
	#branding img,
	#respond,
	.comment-edit-link,
	.edit-link,
	.navigation,
	.page-link,
	.widget-area {
		display: none !important;
	}
	#container,
	#header,
	#footer {
		margin: 0;
		width: 100%;
	}
	#content,
	.one-column #content {
		margin: 24pt 0 0;
		width: 100%;
	}
	.wp-caption p {
		font-size: 11pt;
	}
	#site-info,
	#site-generator {
		float: none;
		width: auto;
	}
	#colophon {
		width: auto;
	}
	img#wpstats {
		display: none;
	}
	#site-generator a {
		margin: 0;
		padding: 0;
	}
	#entry-author-info {
		border: 1px solid #e7e7e7;
	}
	#main {
		display: inline;
	}
	.home .sticky {
		border: none;
	}
}


/** Dave's WordPress Live Search CSS **/
ul.search_results
{
display: block;
background-color:#f6f7f8;
width:155px;
max-height: 500px;
position:absolute;
top:20px;
left:0px;
overflow:auto;
z-index: 9999;	

list-style-type: none;
list-style-image: none;
list-style-position: inside;

padding: 0px;
margin: 0px;


}

ul.search_results li
{
display: block;
padding: 5px 10px 5px 10px;
margin: 0px 0px 0px 0px;
border-top: 1px solid #eee;
border-bottom: 1px solid #aaa;
text-align: right;	

color: #80868c;
background-color: #f6f7f8;
text-decoration: none;

}

ul.search_results li:hover
{
background-color: #fff;	
}

ul.search_results li a, ul.search_results li a:visited
{
display: block;
color: #80868c;
margin-left: 0px;
padding-left: 0px;
text-decoration: none;
font-weight: bold;
}

ul.search_results p#daves-wordpress-live-search_author
{
margin: 0px;
font-size: 90%;
font-weight: bold;
}

ul.search_results p#daves-wordpress-live-search_date
{
margin: 0px;
font-size: 90%;
}

/* BEGIN post thumbnails */
ul.search_results li.post_with_thumb a {
width:150px;
float:left;
margin-bottom: 5px;
}

ul.search_results li.post_with_thumb img.post_thumb
{
float: left;
margin: 3px 10px 10px 0px;
height: 48px;
width: 48px;
border: 1px solid #888;
}
/* END post thumbnails */

/* BEGIN post excerpt */
ul.search_results .excerpt, ul.search_results .meta
{
font-size: 75%;
width: 100%;
}
/* END post excerpt */

ul.search_results .clearfix
{
float: none !important;
clear: both !important;
}

.search_footer {
background-color: #888;
width: 100%;
text-align: right;
padding: .5em 0;
font-size: .9em;
}

.search_footer a,
.search_footer a:visited {
color: #fff;	
margin-right: 1em;
}
.search_footer a:hover{
	text-decoration:underline;
}

#lang_sel_footer {height:28px;margin:16px 0 0 0; position:absolute;top:0;right:287px;}
	#lang_sel_footer ul {float:right;width:190px;margin:6px 0 0 0}
	#lang_sel_footer ul li {float:right;height:11px;border-left:1px solid #8b9298;padding:0 7px;line-height:7px}
	#lang_sel_footer ul li  a{font-size:11px;color:#8b9298}
	#lang_sel_footer ul li  a:hover{text-decoration:underline;}
	#lang_sel_footer ul li:last-child{border:0}


/* try 2nd magicline */
.top_submenu { margin: 10px auto;  }
#magicname { margin: 0 auto; list-style: none; position: relative; width: 960px; }
#magicname li { display: inline; height:10px; }
#magicname li a { color: #bbb; font-size: 14px; display: block; float: left; padding: 6px 10px 4px 10px; text-decoration: none; text-transform: uppercase; }
#magicname li a:hover { color: white; }
/*#magic_line2 { position: absolute; bottom: 28px; left: 0; width: 100px; height: 5px; background-image: url(images/mainmenu_sub.png); 
	background-repeat: no-repeat; 
	background-position: center bottom;
	border:none; }*/
#mycarousel ul li{
width:40px;
height:40px;
}

/*bread*/
#bread a {text-decoration:underline}
#bread a:hover {text-decoration:none; padding:5px;}
.callback{}

.staff_dir{
	display:none ;
	
}

.magic_menu_bottom {
position:relative;

}

.magic_menu_bottom a{
display:block;
float:right;
padding: 8px;
}

.magic_line2 { position: absolute; bottom: 28px; left: 0; width: 100px; height: 5px; background-image: url(images/mainmenu_sub.png); 
	background-repeat: no-repeat; 
	background-position: center bottom;
	border: 0px none; 
	border-left:0px !important;}

.minhalaul {
	display:none;
}
.wrapmagic2{
	width:980px;
	margin-right:320px;
}
#magic_top{
padding-bottom:20px;
}
#magic_top  li{
	display:inline-block;
	padding:10px;
}
.bottom_category{
	margin-right:60px;
	
}
.bottom_category a{
	float:right;padding:0 10px;height:12px;border-left:1px solid #80868c;line-height:11px;
}
.staff_category_type {
	float:right;
	width:250px;
	padding-right:50px;
	padding-top:15px;
	padding-bottom:15px;
	overflow-y:scroll;
	overflow-x:hide;
	height:300px;	
	}
	
.staff_category_type_title{

	background-color:#eff1f0;
	font-size:200%;
}
	
.magic_line2 { position: absolute; bottom: 28px; left: 0; width: 100px; height: 5px; background-image: url(images/mainmenu_sub.png); 
	background-repeat: no-repeat; 
	background-position: center bottom;
	border:none; }
.staff_category_type div {
	/*float:right;*/
	padding-right:10px;
}

.staff_category_type .bio_div{
	margin-top:20px;
	/*13/1 11:48  width:70%%;*/
	
}
.bio_div{
}

staff_info {
	display:none;
}
.anyClass{
	height:200px;
}

#makeMeScrollable{
height:218px;
}

#makeMeScrollable div.scrollableArea *
{
	position: relative;
	display: block;
	float: left;
	padding: 0;
	margin: 0;
}

.grey_image { position:absolute; z-index: 101; cursor:pointer; bottom:-70px;}
.colour_image { position:absolute; z-index: 100; }



.img_div {

	display:none;
	float:left;
	}
.img_div a{
	border:none;
}

.img_div a img{
	border:none;
	height:60px;
}
.bio_section ul{
	display:none;
	
}
.bio_section{
height:243px;
margin-right:30%;
width:400px;
}
.bio_section h1{
color:#7D868D;
}

.magic2categories{
 	
	}
	
	.magicline3 { position: absolute; top: -10px; left:789px; width: 100px; height: 5px; background-image: url(images/mainmenu_sub.png); 
	background-repeat: no-repeat; 
	background-position: center bottom;
	border:none;	}
	

	
.academicul,.minhalaul{
position:relative;
width:100%;
height:50px;

	}
	
.green_hr{
position:relative;
top:-15px;
}
	
#magicup3 { 
padding:0px !important;
position: relative; top: 17px; left:136px; width: 100px; height: 15px; background-image: url(images/menu-s.png); 
	background-repeat: no-repeat; 
	background-position: center bottom;
	border:none;	
	
	;}
	
.top_bio_div{

display:none;

}


#homepage_submit{
text-indent:99999px;
border:0 none;
}


#b_bs{
display:none;
}

.open-contact p{
float:right !important;
padding-top:5px;
}

.open-contact .wpcf7-text{
height:20px;
}
.smooth_slider_thumbnail{
/*padding-top:16px;*/
}

#submit_staff_search{
border:0;
background:url(images/search_btn.png);width:25px;height:23px;
}

#staff_search_field{
border:0;background: none repeat;width:150px;height:23px;margin:0px 0px 0px -5px;padding:0px 0px 0px 0px;color:#8B9298;font-size:12px;line-height:24px;
}

.special_r {float:right;width:250px;height:102px;}
.special_r img {float:right;margin:0 0 0 10px}


.pagenav .children{
background:url(images/menulevel2.png) no-repeat center top #b8bcc0;border-top:1px solid #6A6D72
}
.pagenav .children li{
color:#ffffff !important;
background:url("images/english/bulet-hebrew_white.png") no-repeat scroll left center transparent !important;
border:0;
height:30px;   
margin:0 0 0 20px;


}
.pagenav .children li a{

}
.nav-wrap{

}
.special{
clear:both;
}

.widget_categoryposts .widget-title{
background-color:#6A6D72;
font-weight:900;



}
.widget_categoryposts .widget-title a{
font-size:22px;
margin:14px;
color:#fff;
}
.widget_categoryposts .news_slider{
width:290px;
margin-right:15px;
}
/*
.xoxo *{
border: 0px none !important;
}*/

.myformtable{
border: 0;
}

.smooth_arrow{
margin-left:5px;
margin-right:5px;

}
#smooth_sliderc_nav li{
margin: 0 1px 0 !important; 

}

.footer .wpcf7-response-output{
position:absolute;
left:49px;
top:-10px;
}

#content .wpcf7-response-output{
position:absolute;
left:49px;
top:-10px;
}

.contact{
/* position:relative; */
}

#smooth_sliderc_nav img{
margin: 2px -2px 0px !important;
}

.cat_name_title{
font-size:24px;
padding: 5px 0 5px;
}


.new_menulevel2 li{
/*color:#ffffff !important;
background:url("images/bulet-hebrew_white.png") no-repeat scroll right center transparent !important;
border:0;height:30px;margin:0 20px 0 0*/

background: url("images/bulet-eng_white.png") no-repeat scroll left center transparent !important;
    border: 0 none;
    color: #FFFFFF !important;
    height: 30px;
    margin: 0 20px 0 29px;
    
}

.nav_menu ul.new_menulevel2 {background:url(images/menulevel2.png) no-repeat center top #b8bcc0 ;border-top:1px solid #6A6D72}


 .new_menulevel2 .current_page_item a{

font-size:12px;
padding-left:15px;
}


.contactdiv span{


}

.menulevel1 .current_page_ancestor{
background:url(images/current_page.png) repeat-x;color:#fff;
}
.menulevel1 .current_page_ancestor a{
color:#fff;
}
#kcslink {
    color: #FFFFFF;
    height: 20px;
    left: -4px;
    position: absolute;
    top: 39px;
    width: 65px;
}

.entry-meta .meta-sep {
display:none;
}
.entry-meta .author{
display:none;
}

table{ /* 13/1 11:30, in ie7 table destroys page layout*/
max-width:621px;
}

.footer form{/* 11:30, in fixes problem positioning reply message*/
position:relative;
height:50px;
}
.footer .wpcf7-response-output{/* 11:30 13/1, in fixes problem positioning reply message*/
top:-43px;
}
#content form{ /* answer after submit needs this to be 13/1*/
position:relative;
}

.shareinpost .socialwrap{/* yishur to left, 13/1 14:27*/
width:100%;
}
.clear_both{
clear:both;
}

ajax-loader{
clear:both;
}

#wpcf7-f13-p1208-o1 .wpcf7-form{ /*fix jumping form */
min-height:300px;
}

.custom_sidebar .wpcf7-form{
position:block;
}
.custom_sidebar .wpcf7-response-output{
position:static !important;
margin-top:-15px;
width:134px;


}
#bogrim_slider .slider_content{
width:460px;
}

#use_terms{
position: absolute; height: 15px; width: 100px; left: 615px; top: 30px; 
}

.search_div{
display:none;
}

#wpml_credit_footer{
display:none;
}
#bread{
direction:ltr;
}

.icl_lang_sel_translated{
display:none;
}

.allnav{
direction:ltr !important;
}
.allnav li{
text-indent:10px;
}

.next_slide {position:absolute;top:5px;right:50px; left:235px !important;color:#fff;text-decoration:underline;border-right:1px solid #fff;padding:0 10px 10px 5px !important; border-left:0px none !important;}


.open-contact{
text-align:left;
margin:63px 53px 0px 0px !important;

direction:ltr;
text-indent:10px;
}

.open-contact input[type="text"]{
margin: 0px 0px 19px !important;
}

.search_results{
display:none;
}

.b_b{
display:none !important;
}
.b_s{
display:none !important;
}
.resume_div #content{
padding: 0 82px 0 0;
}

.menulevel2 li {
    background: url("images/bulet-eng_white.png") no-repeat scroll left center transparent !important;
    margin: 3px 18px 0 29px !important;
}
#kidumitimg {
    left: 300px;
    position: absolute;
    top: 39px;
}
#kidumitlink {
    color: #FFFFFF;
    position: absolute;
    right: -195px;
    top: 40px;
}