.staff_search{
top:723px !important;
left:210px !important;
}
/*
.contactdiv{
position:relative;
top:0;
left:0;
}
.contactdiv span{
position:relative;
top:0;
right:-320px;
float:right;
}
*/
.link_up ul li{
height:14px;

}
.link_up ul {
height:14px;
}


.children li a{

position:relative;
padding:0px !important;
margin:0px !important;
text-indent:15px;
}
.children li {
padding:0px !important;
margin:0px !important;
position:relative;
right:20px;

}
.nav_menu li a {color:#ffffff;margin-top:10px;font-size:12px;font-weight:bold;padding:0 0px 0px 0 !important;cursor:pointer; margin-right:0px !important; text-indent:20px !important;}	
.wpcf7-form img{

}
#wpcf7-f13-p1208-o1 .wpcf7-form{ /*fix jumping form */
min-height:300px;
}
.entry-content .wpcf7-form{

min-height:300px;
}
.smooth_slider_thumbnail{
/*padding-top:16px;*/
}
.home-contact{
	top:470px;
}
#content {
    margin: 0 0 156px !important;
}
#primary {


	margin-right:32px;
}

.hfeed{
	margin:0 !important;
}
