
#content ul li {background:url(images/bulet-hebrew.png) no-repeat right 2px;padding:0 20px 0 0;list-style:none;margin:7px 0 10px 0;border-bottom:1px dashed #cdced0}

#content {margin:0 0 56px 0 !important}

#content, #content input, #content textarea {line-height:18px}

.entry-content {width:621px !important}

#content .entry-content img {}

#resume_head img{
float:right;
margin:23px 0 15px 15px;
}
#content .entry-title {color:#80868c;background:none;margin:0 0 10px 0;font-size:26px !important}
.contact {clear:both;background:url(images/contact_bg.png) no-repeat}

#bread {font-size:11px;margin:4px 0 20px 0;border-bottom:1px dotted #cdced0;min-width:600px;padding-top:0}
#bread a:hover {text-decoration:none;border-bottom:1px dotted #94AA1D;padding:0}
.upper_banner {margin:0}

.img_div {float:right}

#magic_top li a {width:120px; color:#7d868d;font-size:14px;font-weight:bold; float:right; padding-right:10px;}
#magic_top li {padding:0 0 0 0 !important;float:right; width:120px;}
#magic_top li.staff_search {margin:4px 0 0 24px; padding:0;width:115px; position:absolute; left:0 !important; top:0 !important;}
#magic_top li#staff_search_field {padding:3px 3px 0 0}
#staff_search_field {background:url(images/search_small.png) no-repeat;width:88px;height:23px;float:right;padding:0 3px 0 0}
#submit_staff_search {float:left}
#submit_staff_search:{cursor:pointer}
#magic_top li#magicup3 {float:none}
#magic_top {position:relative;width:548px}


.staff_category_type_title {background:#eef0f0;color:#80868d;font-size:18px;font-weight:bold;padding:4px}
.staff_category_type {padding:0 10px 6px 10px;width:306px;overflow-x:hidden}
.bio_div h4 {color:#2a2b2c;font-weight:normal;font-size:12px}
.bio_div .open_info {color:#94AA1D;text-decoration:underline}
.bio_div .open_info h3 {font-size:14px}

.new_class .open_info h3 {text-decoration:underline;color:#000;font-size:12px}
.new_class .open_info:hover {text-decoration:none}
.new_class .open_info h3:hover {text-decoration:none;color:#000}
.new_class {background:url(images/new_class.png) no-repeat;width:295px;height:79px;padding:10px 0 0 0}
.staff_category_type .new_class {padding:5px 0 0 0}

.new_class .email_div a {margin:0px 116px 0 0}
.new_class .email_div a :hover {text-decoration:underline}
.new_class .email_div {margin:10px 0 0 0}


.img_div a {font-size:11px}

#content #resume_head img {float:right;margin:0 0 19px 15px}
#content h4 {font-size:16px;color:#4e5154;margin:16px 0 0 0}

#content h2 {color:#80868c;font-size:18px;background:#e6e9ea;padding:5px 15px 5px 0;margin:0 0 10px 0; clear:both;}/*added clear to solve problem with h2 right aftert picrture 16/1 */
#content .post h2{padding:5px 0px 5px 0}
#content .qa_faqs h2{padding:5px 0px 5px 0}

.wrapmagic2 {background:url(images/wrapmagic2.png) no-repeat;width:548px;height:34px;margin-right: 247px;margin-top:40px;}

.academicul, .minhalaul {margin:12px 171px 0 0}

.imghome  {width:980px}

.homevideo {background:url(images/homevideo.png) no-repeat}

#smooth_sliderc_nav img  {width:20px;margin:0;}
.contenthome {background:url(images/contenthome.png) repeat-x center bottom}
.contenthome .year {background:url(images/year.png) no-repeat}
.contenthome .date {background:url(images/date.png) no-repeat;width:41px}
.glidetext div {margin-top:4px}
.glidetext {margin-top:11px}



.arias_select {background:url(images/input_text.png) no-repeat !important; }

.home-contact-open {background:url(images/contact-h.png) no-repeat}

.bio_section h1 {color:#80868c;font-size:25px}
.bio_section h3 {color:#80868c;font-size:16px}

.staff_category_type div {padding:0}
.staff_category_type .staff_category_type_title {padding:3px 10px 3px 0}

/*contact*/
.open-contact {padding:0px;margin:62px 35px 0 0}
.open-contact p {float:none;padding:0;height:46px}
.open-contact .wpcf7-response-output {top:15px;color:#fff;font-weight:bold}
.open-contact input[type="text"] {margin:4px 0 5px 0}
.open-contact input[type="submit"] {margin:0}


.glidetext {float:none;margin:15px 15px 0 15px}

.top_menu .lang {width:425px;position:relative}
.top_menu .lang .b_s {margin:0 0 0 5px;width:90px;height:34px;position:absolute;top:3px;left:128px}
.top_menu .lang .b_b {margin:0 130px 0 10px;width:90px;height:34px;position:absolute;top:3px;right:0px;}

.next_slide {position:absolute;top:5px;left:63px;color:#fff;text-decoration:underline;border-left:1px solid #fff;padding:0 0 0 5px}
.next_slide:hover {color:#fff;text-decoration:none}
#content .english_bullet ul li {background:url(images/bulet-eng.png) no-repeat left 2px;padding:0 0 0 25px}
.english_bullet {direction:ltr}

.menulevel2 li {background:url(images/bulet-hebrew_white.png) no-repeat center right;margin:3px 21px 0 0}

.nav_menu .current_page_item {background:url(images/current_page.png) repeat-x;color:#fff}
.nav_menu .current_page_item a {color:#faffcf}
.nav_menu .papa_page {background:url(images/papa_page.png) repeat-x;border-top:0}
.nav_menu .papa_page a {color:#fff;font-size:14px}

.contact input[type="submit"] {margin:12px 0 0 0}

#content .socialwrap li {width:32px;height:32px}

.faq-answer ul {clear:both}

#smooth_sldr {margin:15px 0 0 0 !important}
#smooth_sliderc_nav {top:10px !important;right:27px!important;width:126px !important;}
#smooth_sldr {
    position: relative !important;
}
#smooth_sldr_body span {
    display: none !important;
    visibility: hidden !important;
}
#header{position:relative;}

#lang_sel_footer ul {float:none}
#lang_sel_footer ul li {height:11px;line-height:11px;border:0;padding:0}
#lang_sel_footer ul li a {display:inline-block; border-left: 1px solid #8B9298;padding:0 7px}
.home-contact {top:453px !important}
.lpPoweredBy {
display:none;
}
.chat {
    left:355px;position: absolute;top: 15px;
}