* {margin:0;padding:0;text-decoration:none;list-style:none;border:0}
body {direction:rtl;font-family:arial;font-size:12px;background:url(images/bg.png) repeat-x #fff}
.holder {position:absolute;width:980px;right:50%;margin:26px -490px 0 0}
.hd {height:89px;border-bottom:3px solid #C3D81B}
.hd a img {float:right;margin:0 0 0 20px}

.menu {width:425px;float:right}
	.menu .lang {height:28px;margin:16px 0 0 0}
		.menu .lang ul {float:right;width:218px;margin:6px 0 0 0}
		.menu .lang ul li {float:right;height:11px;border-left:1px solid #8b9298;padding:0 7px;line-height:7px}
		.menu .lang ul li  a{font-size:11px;color:#8b9298}
		.menu .lang ul li  a:hover {color:#5E6468}
		.menu .lang ul li:last-child{border:0}
		.menu .lang .b_s {width:104px;height:19px;background:#ccc;float:right}
		.menu .lang .chatbtn {background:url(images/chatbtn.png) no-repeat;width:80px;height:21px;float:left}

	.mainmenu {width:420px;background:url(images/menu.png) no-repeat;height:41px;margin:7px 7px 0 0}
		.mainmenu li {float:right;height:41px}
		.mainmenu .menu1 p {width:53px;height:41px}
		.mainmenu .menu1 p:hover {background:url(images/menu.png) 53px 41px}
		.mainmenu .menu2 p {width:84px;height:41px}
		.mainmenu .menu2 p:hover {background:url(images/menu.png) 137px 41px}
		.mainmenu .menu3 p {width:103px;height:41px}
		.mainmenu .menu3 p:hover {background:url(images/menu.png) 240px 41px}
		.mainmenu .menu4 p {width:103px;height:41px}
		.mainmenu .menu4 p:hover {background:url(images/menu.png) 343px 41px}
		.mainmenu .menu5 p {width:77px;height:41px}
		.mainmenu .menu5 p:hover {background:url(images/menu.png) 0 41px}
                
         
        .mainmenu_sub {height:36px}        
        .mainmenu_sub ul li{float:right}
        .mainmenu_sub ul li a {color:#80868c;font-size:12px;line-height:36px;border-left:1px solid #80868c;padding:0 15px}
	.mainmenu_sub ul li:last-child a {border:0}
        .mainmenu_sub ul li a:hover {color:#4e5154}	
	
	.menuleft {float:left;width:316px;height:78px;margin:15px 0 0 0}
	.login {height:21px;background:url(images/menu_sm.png) no-repeat}
        .login ul {margin:0 48px 0 0}
	.login ul li {float:right;padding:0 28px 0 0}
        .login ul li a {font-size:12px;font-weight:bold;color:#fff;line-height:21px}
        .login ul li a:hover {text-decoration:underline}
	.search {height:31px;background:url(images/search.png) no-repeat;width:316px;margin:17px 0 0 0}
	.search  input[type="text"]{background:url(images/input_search.png);width:176px;height:23px;float:left;margin:5px 0 0 0}
	
        .home-contact {position:absolute;top:455px;left:0}
        
        
	.imghome {position:relative}
	.arrow {background:url(images/ih_arrow.png) no-repeat;height:25px;width:126px;position:absolute;top:34px;right:0}
	.arrow  img{float:left;margin:3px 0 0 2px}
	.arrow a{float:left;width:16px;background:url(images/ih_a.png) no-repeat;height:20px;margin:3px 0 0 0}
	.arrow a:hover {background:url(images/ih_ahover.png) no-repeat}
	
	.content_h {margin:6px 0 0 0}
	.contenthome {width:322px;height:169px;background:url(images/contenthome.png)repeat-x center bottom;float:right;margin:0 0 0 6px;position:relative}
	.contenthome p {color:#1f2022;margin:18px 23px 0 15px}
	.contenthome p strong {color:#94aa1d;text-decoration:underline}
	.contenthome .year {font-weight:bold;background:url(images/year.png)no-repeat;width:42px;height:20px;float:right;line-height:20px;color:#fff;text-align:center}
	.contenthome .date {font-weight:bold;background:url(images/date.png)no-repeat 1px center;width:42px;height:20px;float:right;line-height:20px;color:#fff;text-align:center}
	.contenthome .hour {line-height:20px;font-size:17px;font-weight:bold;color:#535861;margin:0 5px 0 0}
	
	
	.more {position:absolute;top:5px;left:10px;color:#fff;text-decoration:underline}
	.more:hover {text-decoration:none}
	
	.homevideo {width:323px;height:169px;float:left;background:url(images/homevideo.png)no-repeat}
	.homevideo p {margin:79px 35px 0 35px;color:#757c80;text-align:center;line-height:16px}
	
	.ft {clear:both}
	.contact {background:url(images/contact_bg.png)repeat-x;height:79px;padding:30px 56px 0 0}
	.contact input[type="text"]{background:url(images/input_text.png);width:247px;height:26px;float:right;margin:10px 0 0 20px}
	.contact input[type="submit"]{background:url(images/contact_btn.png);width:64px;height:22px;margin:10px 0 0 0}
	
	.ft_links {background:url(images/ft_links.png);height:65px;margin:23px 0 25px 0}
	.link_up {padding:10px 0 0 0;position:relative}
	.link_up ul li {float:right;padding:0 20px;height:12px;border-left:1px solid #868f95;line-height:11px}
	.link_up ul li:last-child {border:0}
	.link_up ul li a {color:#868f95;font-weight:bold}
	.link_up ul li a:hover {text-decoration:underline}
	.lin {position:absolute;left:11px;height:16px}
	.lin a img{margin:0 10px 0 0;width:50px}

