/**
 * NAVT Word Press Plugin
 * Copyright (c) 2006-2008 Greg A. Bellucci/Atalaya Studio
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software
 * and associated documentation files (the "Software"), to deal in the Software without restriction,
 * including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense,
 * and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so,
 * subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial
 * portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
 * LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
 * IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 * WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
 * SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 *
 * @package NAVT Word Press Plugin
 * @author Greg A. Bellucci <greg[AT]gbellucci[DOT]us
 * @copyright Copyright &copy; 2006-2008 Greg A. Bellucci
 * @license http://www.opensource.org/licenses/mit-license.php The MIT License
 * @since .96
 *
 * -----------------------------------------------------------------------------
 * $Id: navt.css 81217 2008-12-19 21:47:54Z gbellucci $:
 * $Date: 2008-12-19 21:47:54 +0000 (Fri, 19 Dec 2008) $:
 * $Revision: 81217 $:
 * -----------------------------------------------------------------------------
 */

@charset "utf-8";

/* - reset all wp styles - */

p, li, dl, dd, dt {
	line-height:normal;
}
li, dd {
	margin:0;
	padding:0;
}
h2 {
	border-bottom:none;
	font-weight:400;
	line-height:normal;
}
h3 {
	font-size:1em;
	font-weight:400;
	margin:0;
	padding:0;
}
a, a:visited, a:hover {
	border-bottom:none;
	color: /* #333; */ #ddd;
	text-decoration:none;
}
ul {
	list-style:none;
	padding:0;
	margin: 0;
}
textarea, input, select {
	background:none;
	border:none;
	color:#333;
	font-family:verdana, arial, helvetica, serif;
	font-size:11px;
	padding:0px;
}
img {
	border: none;
	padding: 0;
}

#wpcontent select {
    height: auto;
    margin-bottom: 5px;
    }

 a:active, a:focus {
    color: #ddd;
 }

 #ASSETS a:active,
 #ASSETS a:focus {
    color: #333;
 }

/*- start -*/

div.navt-wrap {
    opacity: 1;
	clear:both;
	color:#888;
	font-family:verdana, arial, helvetica, serif !important;
	margin:0;
	padding:0;
	padding-left: 10px;
	float:left;
	width:950px;
}
#navt {
    width: 100%
}
div.navt-wrap h2 {
	font-size:2em;
	margin:0 5px;
}
div.navt-wrap p, #navt-footer p {
	font-size:1em;
	letter-spacing: 0px;
	margin:0 8px;
}
#navt-footer p {
	color:#888;
}
#navt-footer p {
	text-align:center;
}
div.navt-wrap p a {
	__border-bottom:1px dotted #ccc;
	color:#666;
}
div.navt-wrap p a:hover {
	color:#333;
}

/*------------------------*/
/*- toolbar              -*/
/*------------------------*/

#navt-topbar {
	clear:both;
	padding: 8px 0;
	float: left;
	overflow: hidden;
}
#navt-topbar div.toolbar {
	position:relative;
	margin:8px 5px 0px 0px;
	padding:0 4px;
	background:#eee url(../images/toolbar.png) repeat-x;
	height: 110px; /* tool height */
	width: 235px;  /* tool width */
}
#navt-topbar div.updates {
	width:360px !important;
	height: auto;
}
#navt-topbar #list-updates {
	width: 100%;
	padding: 2px;
	background-color:#FFFFFF;
}
#navt-topbar #list-updates option.current {
	background-color:#FFFFFF;
}
div.navt-wrap div.group-wrapper #filter p, #navt-topbar div.toolbar p {
	color:#666;
	font-size:11px;
}
#navt-topbar div.toolbar p#add-controls {
	padding-top:10px;
	text-align:center;
}
#navt-topbar div.toolbar p#br-controls {
	padding-top:12px;
	text-align:center;
}
#option-help h3 #option-helper h3, #navt-topbar div.toolbar h3 {
	color: #666;
	text-align:center;
	padding:3px 0 8px;
}
#navt-topbar div.toolbar div.toolhelp img {
	width:21px;
}
#ASSETS div.toolhelp a#help-assets, #navt-topbar div.toolbar div.toolhelp a {
	background:transparent url(../images/help.png) 0 0 no-repeat;
	height:21px;
	width:21px;
	position:absolute;
	right:1px;
	top:3px;
	z-index:10;
}
#ASSETS div.toolhelp a#help-assets:hover, #navt-topbar div.toolbar div.toolhelp a:hover {
	background-position:-21px 0;
}
div.navt-wrap p.errormsg {
	font-size:0.95em;
	padding-bottom:15px;
	color: brown;
}
#navt-topbar div.toolbar div.errormsg {
	color: brown;
	padding:5px 0pt 0pt;
}
#navt-topbar div.toolbar #style-controls, #navt-topbar div.toolbar #rs-controls {
	padding-top:0;
	text-align:left;
}
div.navt-wrap .item-option-wrapper {
	position:relative;
}
div.navt-wrap .item-option-wrapper p.errormsg {
	border: 1px solid red;
	background: url(../images/overlay.png) no-repeat;
	clear:both;
	padding: 3px 0;
	text-align: center;
	color: #333;
	font-size:1.1em;
}
div.navt-wrap .item-option-wrapper p.errormsg.ok {
	border: 1px solid #ccc;
}
#navt-footer {
	border-top:1px solid #ccc;
	clear:both;
	height:40px;
	padding-top:10px;
	margin:20px auto;
	position: relative;
}
#navt-footer a:hover {
	border-bottom:1px dotted #ccc;
}

#navt-footer a {
    color: #666;
}


/*------------------------*/
/*- assets               -*/
/*------------------------*/

#ASSETS,
#navt #container #ASSETS .sub-wrapper .asset-wrapper {
    width: 422px;
    }

#ASSETS {
	background: url(../images/toolbar.png) repeat-x;
	padding: 0 0 4px;
	clear: both;
	margin-right: 5px;
	position: relative; /* must be relative */
}

#ASSETS div.asset-type {
	float: left;
	position: relative;
	width: 190px;
	padding:5px 5px 0pt 8px;
	z-index: 0;
	}

#ASSETS select {
	background-color:#fff;
	border:1px solid #aaa;
	padding:2px 3px;
	width:100%; /* common select option width */
	height: auto;
}
#ASSETS option.asset.alt, #ASSETS option.asset {
	padding:2px 2px 2px 4px;
}
#ASSETS #asset-page option.asset.alt {
	background: url(../images/select_bk.png) repeat-x 0 0;
}
#ASSETS #asset-cat option.asset.alt {
	background: url(../images/select_bk.png) repeat-x 0 -25px;
}
#ASSETS #asset-user option.asset.alt {
	background: url(../images/select_bk.png) repeat-x 0 -50px;
}
#ASSETS #asset-other option.asset.alt {
	background: url(../images/select_bk.png) repeat-x 0 -75px;
}
#ASSETS h4 {
	color:#333;
	font-size:1em;
	font-weight:normal;
	line-height:normal;
	margin:8px;
	padding-left:20px;
}
#ASSETS h4.page-assets {
	background: transparent url(../images/page.gif) no-repeat;
}
#ASSETS h4.cat-assets {
	background: transparent url(../images/category.gif) no-repeat;
}
#ASSETS h4.usr-assets {
	background: transparent url(../images/user.gif) no-repeat;
}
#ASSETS h4.other-assets {
	background: transparent url(../images/link.gif) no-repeat;
	line-height: 1.3em;
}

/*------------------------*/
/*- unassigned assets    -*/
/*------------------------*/

#ASSETS fieldset#notassigned {
	clear:both;
	width: 380px;
	padding: 8px;
	margin: 10px auto;
	margin-bottom: 0 !important;
	border: 1px solid #ccc;
	color: #333;
	background-color:#FEFEFE;
	filter:alpha(opacity=30);
	-moz-opacity:.30;
	opacity:.30;
}
#ASSETS p {
	color: #666;
	padding: 8px 0;
	font-size: .85em;
	letter-spacing: 0;
}
#ASSETS div.item-wrapper div.asset-name p {
	font-size: 1.1em;
	padding: 0;
}
#ASSETS div.item-wrapper div.asset-disc, #ASSETS div.item-wrapper div.asset-hierarchy {
	display:none;
}
#ASSETS div.item-wrapper div.asset-remove {
	left: 3px !important;
}

/*------------------------*/
/*- sortables/droppables -*/
/*------------------------*/

div.navt-wrap div.group-wrapper {
	padding:0;
	width: 195px;
	margin: 0 10px 10px 0;
	float: left;
	overflow: visible;
	position: relative;
}
div.navt-wrap div.group-wrapper a {
    color: #333;
}
div.navt-wrap div.group-wrapper a.grprem, div.navt-wrap div.group-wrapper a.grplock,
div.navt-wrap div.group-wrapper a.grpopts {
	width:21px;
	height: 20px;
}
div.navt-wrap div.group-wrapper a.grpopts {
	position:absolute;
	top:2px;
	left:3px;
	z-index: 10;
	background: url(../images/gear.png) 0 0 no-repeat;
}
div.navt-wrap div.group-wrapper a.grprem {
	position:absolute;
	top:2px;
	left:24px;
	z-index: 10;
	background: url(../images/opt_trash.png) 0 0 no-repeat;
}
div.navt-wrap div.group-wrapper a.grprem:hover {
	background-position: -21px 0px;
}
.noicon {
	background: none !important;
}
div.navt-wrap div.group-wrapper a.grpopts:hover {
	background-position: -21px 0px;
}
div.navt-wrap div.group-wrapper a.grplock {
	position:absolute;
	top:2px;
	right:3px;
	z-index: 10;
}
div.navt-wrap div.group-wrapper a.grplock {
	background: url(../images/unlock.png) 0 0 no-repeat;
}
div.navt-wrap div.group-wrapper a.grplock:hover {
	background: url(../images/unlock.png) -21px 0px no-repeat;
}
div.navt-wrap div.group-wrapper a.grplock.locked {
	background: url(../images/lock.png) 0 0 no-repeat;
}
div.navt-wrap div.group-wrapper a.grplock.locked:hover {
	background: url(../images/lock.png) -21px 0px no-repeat;
}
div.navt-wrap div.group-wrapper h3 {
	background:url(../images/toolbar.png) top left repeat-x;
	background-color:#eee;
	color: #333;
	text-align:center;
	padding:4px 0pt 15px;
}
div.navt-wrap div.group-wrapper.private h3 {
	background:url(../images/private_group.png) top left repeat-x;
}
div.navt-wrap div.group-wrapper.locked h3 {
	background:url(../images/locked_group.png) top left repeat-x;
	color: #666;
}

/*------------------------*/
/*- group menu           -*/
/*------------------------*/

div.navt-wrap div.group-wrapper div.group-menu {
	background: url(../images/menu-bk.png);
	color:#888;
	margin: 0;
	padding: 0;
}
div.navt-wrap div.group-wrapper div.group-menu ul {
	margin: 0;
	padding: 0;
	margin-left: 4px;
}
div.navt-wrap div.group-wrapper div.group-menu ul ul {
	margin: 0;
	padding: 0;
}
div.navt-wrap div.group-wrapper div.group-menu ul ul li {
	position: relative;
}
div.navt-wrap div.group-wrapper div.group-menu ul ul li a.gdelete-link {
	background: url(../images/bullet_delete.png) no-repeat 0 -16px;
	color: #990000;
	line-height: 1.5em;
	margin-left: 8px;
	padding: 2px 2px 2px 15px;
	font-size: .85em;
	border: 1px solid #eee;
}
div.navt-wrap div.group-wrapper div.group-menu ul ul li a.gdelete-link:hover {
	color: red;
}
div.navt-wrap div.group-wrapper div.group-menu ul li {
	margin: 0;
	padding: 3px 0 2px 0;
}
div.navt-wrap div.group-wrapper div.group-menu ul li a {
	background: url(../images/bullet_green.png) no-repeat center left;
	font-size: .85em;
	color: #888;
	padding-left: 15px;
}
div.navt-wrap ul li input.menu-input {
	margin: 0;
	padding: 2px 0;
	padding-left:3px;
}
div.navt-wrap ul li a.menu-input-link {
	margin-left:2px;
	position: absolute;
	top: 5px;
	background: url(../images/right.gif) no-repeat 0 0 !important;
	height: 15px;
}
div.navt-wrap ul li a.menu-input-link:hover {
	background-position: 0 -17px;
}
div.navt-wrap ul.selectoptions li div {
	font-size:11px;
	padding: 0 3px 10px 15px;
	color: white;
}

/*------------------------*/
/*- item options         -*/
/*------------------------*/

div.navt-wrap div.item-wrapper {
}

div.navt-wrap div.asset-options p.helpitem-button {
	position:absolute;
	left: 0;
	padding: 3px 2px;
	z-index:10;
}
div.navt-wrap div.asset-options p.helpitem-button a {
	text-decoration: none;
	border: none;
}
div.navt-wrap div.asset-options p.helpitem-button a.ibtn-help img {
	background: transparent url(../images/itemhelp.png) no-repeat top left;
	width:16px;
	height:16px;
}
div.navt-wrap div.asset-options p.helpitem-button a.ibtn-help:hover img {
	background-position: 0px -16px;
}
#dialog #target div.bwrapper a div.canbutton,
#dialog #target div.bwrapper a div.okbutton {
    text-align: center;
    background: transparent url(../images/canbutton.png) no-repeat 0 0;
    width: 80px;
    height: 34px;
    float:left;
    margin-top: 10px;
    color: #333;
}
#dialog #target div.bwrapper a div.okbutton {
    background: transparent url(../images/okbutton.png) no-repeat 0 0;
    margin-left: 150px;
}
#dialog #target div.bwrapper a div.canbutton p,
#dialog #target div.bwrapper a div.okbutton p {
    padding-top: 8px;
}
#dialog #target div.bwrapper a:hover div.okbutton,
#dialog #target div.bwrapper a:hover div.canbutton {
    background-position: 0 -35px;
}
div.navt-wrap div.item-option-wrapper p.okcan-button {
	float: right;
	padding: 3px 2px;
}
div.navt-wrap div.item-option-wrapper p.okcan-button a {
	text-decoration: none;
	border: none;
}
div.navt-wrap div.item-option-wrapper p.okcan-button a.ibtn-ok img {
	background: transparent url(../images/accept.png) no-repeat top left;
	width:16px;
	height:16px;
}
div.navt-wrap div.item-option-wrapper p.okcan-button a.ibtn-ok:hover img {
	background-position: 0px -16px;
}
div.navt-wrap div.item-option-wrapper p.okcan-button a.ibtn-can img {
	background: transparent url(../images/cancel.png) no-repeat top left;
	width:16px;
	height:16px;
}
div.navt-wrap div.item-option-wrapper p.okcan-button a.ibtn-can:hover img {
	background-position: 0px -16px;
}
div.navt-wrap li.navitem div.item-wrapper div.asset-disc.disconnected a img.disc-button,
div.navt-wrap li.navitem div.item-wrapper div.asset-remove a img.remove-button,
div.navt-wrap li.navitem div.item-wrapper div.asset-disc a img.disc-button {
    background-color: #ccc;
	width: 16px;
	height: 16px;
}
div.navt-wrap li.navitem div.item-wrapper div.asset-remove a img.remove-button {
	background: url(../images/delete.png) no-repeat 0 0;
}
div.navt-wrap li.navitem div.item-wrapper div.asset-remove a img.remove-button {
	background: url(../images/delete.png) no-repeat 0 0;
}
div.navt-wrap li.navitem div.item-wrapper div.asset-disc a img.disc-button {
	background: url(../images/connect.png) no-repeat 0 0;
}
div.navt-wrap li.navitem div.item-wrapper div.asset-remove a:hover img.remove-button {
	background-position: 0px -16px;
}
div.navt-wrap li.navitem div.item-wrapper div.asset-disc.disconnected a:hover img.disc-button,
div.navt-wrap li.navitem div.item-wrapper div.asset-disc a:hover img.disc-button,
div.navt-wrap li.navitem div.item-wrapper div.asset-disc a:hover img.remove-button {
	background-position: 0px -16px;
}
div.navt-wrap li.navitem div.item-wrapper ul li.img_avatar {
	text-align: center;
}
div.navt-wrap div.asset-options p.more-close-button {
	position:absolute;
	right: 0px;
	top:17px;
	padding: 3px 2px;
	z-index:15;
}
div.navt-wrap div.asset-options p.more-open-button {
	position:absolute;
	left: 20px;
	padding: 3px 2px;
	z-index:10;
}
div.navt-wrap div.item-more-option-wrapper p.more-close-button a.ibtn-more-close img {
	background: transparent url(../images/up.png) no-repeat top left;
	width:16px;
	height:16px;
}
div.navt-wrap div.item-more-option-wrapper p.more-close-button a.ibtn-more-close:hover img {
	background-position: 0px -16px;
}
div.navt-wrap div.item-option-wrapper p.more-open-button a.ibtn-more-open img {
	background: transparent url(../images/down.png) no-repeat top left;
	width:16px;
	height:16px;
}
div.navt-wrap div.item-option-wrapper p.more-open-button a.ibtn-more-open:hover img,
div.navt-wrap div.item-option-wrapper p.more-close-button a.ibtn-more-close:hover img {
	background-position: 0px -16px;
}
div.navt-wrap li.navitem div.item-wrapper ul li.img_avatar img {
	width: 32px;
	height: 32px;
	padding: 3px;
	border: 1px solid #666;
	margin-right: 4px;
	margin-top: 4px;
	float:right;
}
div.dropgroup {
	background: transparent;
}

textarea.tbox,
div.navt-wrap div.item-more-option-wrapper textarea.codeblock,
div.navt-wrap div.item-option-wrapper textarea.codeblock {
    background-color: #fefefe;
    border: 1px solid #ccc;
    font-size: 8pt;
    font-family: courier, serif !important;
}

/* more options */
div.navt-wrap div.item-more-option-wrapper {
    display:none;
    padding-top: 8px;
    padding-bottom: 8px;
}

/*-------------------------*/
/*- drag/sort placeholder -*/
/*-------------------------*/

.sort-guide {
	font-size:.90em;
	width:173px;
	margin-right: 4px;
	background: transparent;
	border: 1px dashed #888;
	filter:alpha(opacity=40);
	-moz-opacity:.40;
	opacity:.40;
}
.sort-guide div * {
	display:none;
}

/*------------------------*/
/*- 'Busy' graphics      -*/
/*------------------------*/

div.group-wrapper div.group-spinner { /* each nav group */
    width: 16px;
	height: 16px;
	position:absolute;
	top:4px;
	left:4px;
	z-index: 10;
}
div.item-wrapper div.item-spinner { /* each navitem */
    width: 16px;
	height: 16px;
	position:absolute;
	top:1px;
	right:3px;
	z-index: 10;
}
#option-helper div.option-spinner { /* group helper box */
    width: 16px;
	height: 16px;
	left:5px;
	position:absolute;
	top:4px;
	z-index:10;
}
.waiting {
	background: url(../images/busy.gif) no-repeat;
	width: 16px;
	height: 16px;
}
#style-spinner, #add-spinner { /* add group controls */
    height:16px;
    position:absolute;
    right:8px;
    top:57px;
    width:16px;
    z-index:10;
}
#style-spinner {
	left:106px;
}

/*------------------------*/
/* - asset items         -*/
/*------------------------*/

div.asset-remove {
	position:absolute;
	bottom:1px;
	left:22px;
	z-index: 10;
	width: 16px;
	height: 16px;
}
div.asset-disc {
	bottom:1px;
	position:absolute;
	left:3px;
	z-index:10;
	width: 16px;
	height: 16px;
}
div.navt-wrap ul.assets, div.navt-wrap ul.sortgroup {
	border: 1px solid #ccc;
	border-top: none;
	color:#666;
	overflow:visible;
	margin:2px auto;
	padding:2px;
	padding-top: 0;
	position:static;
	width: 190px;
}
div.navt-wrap .sub-wrapper {
	padding: 0;
	margin: 0px 10px 0 0;
	position:relative;
}
div.navt-wrap .sub-wrapper ul.sortgroup {
	border:none;
}
div.navt-wrap ul li.group-spacer, div.navt-wrap ul li.navitem {
	font-family:Verdana, Arial, helvetica, serif;
	font-size:10px;
	position:relative;
	width: 190px;
	height: 35px;
	margin:4px 0;
	padding:0;
}
div.navt-wrap ul li.group-spacer {
	background: transparent !important;
	margin: 0;
	height: 0 !important;
	font-size: 0 !important;
	line-height: .1em !important;
}
div.item-wrapper div.asset-icon, div.item-wrapper div.asset-name {
	position:absolute;
	left:0;
	top:0;
	z-index: 10;
}
div.item-wrapper div.asset-icon {
	width: 20px;
	height: 17px;
	position:relative;
}
div.item-wrapper div.asset-name {
	left:22px;
	top:4px;
}
div.item-wrapper div.asset-name p {
	color: #000;
	letter-spacing: 0;
	padding: 0;
	margin: 0;
	font-size: 1.1em;
}

/*------------------------*/
/*- item options         -*/
/*------------------------*/

div.item-wrapper {
}
div.item-wrapper div.label {
	font-size: 1.1em;
}
div.item-wrapper div.asset-options {
	background: transparent url(../images/overlay.png) repeat-x center -35px;
	position: absolute;
	top: 35px;
	left: 0;
	padding: 0 3px;
	z-index: 10;
}

li.openbox div.item-wrapper div.asset-options {
    z-index: 50;
}

li.disconnected div.item-wrapper div.asset-options {
	background-color: #ccc !important;
}
div.item-wrapper input[type="text"] {
	padding: 2px 1px;
	border: 1px solid #ccc;
}
select.divider-type, select.anchor-type {
	width:95%;
	background-color: #fff;
	padding: 2px 1px;
	margin-bottom: 4px;
	border: 1px solid #ccc;
}
div.item-wrapper p {
	padding: 5px 0px 0px;
	margin: 0;
	font-size: 1.1em;
	letter-spacing: 0;
}
#option-helper p.label, div.item-wrapper p.label {
	display:inline;
}
div.item-wrapper p.item-title {
    background-color: transparent;
	padding-bottom: 5px;
	padding-top: 3px;
}
div.item-wrapper a.alias-anchor {
	font-size: 1.1em;
	white-space: nowrap;
}
div.item-wrapper a.alias-anchor:hover {
	text-decoration: underline;
}
div.navt-wrap div.cs0 li.navitem {
	background-color:#D4DBB0;
}
div.navt-wrap ul.sortgroup li.navitem.disconnected {
	background-color: #ccc !important;
}

/*------------------------*/
/*- icons/backgrounds    -*/
/*------------------------*/

div.navt-wrap div.cs1 li.navitem {
	background-color: #99CCCC;
	position: relative;
}
div.navt-wrap div.cs1 div.item-wrapper {
	color: #000;
}
div.navt-wrap div.cs2 li.navitem {
	background-color: #FFCC99;
}
div.navt-wrap div.cs2 div.item-wrapper {
	color: #000;
}
div.navt-wrap div.cs3 li.navitem {
	background-color: #99CC66;
}
div.navt-wrap div.cs3 div.item-wrapper {
	color: #000;
}
div.navt-wrap div.cs4 li.navitem {
	background-color: #CC99FF;
}
div.navt-wrap div.cs4 div.item-wrapper {
	color: #000;
}
div.navt-wrap div.cs5 li.navitem {
	background-color: #FF9999;
}
div.navt-wrap div.cs5 div.item-wrapper {
	color: #000;
}
div.navt-wrap div.cs6 li.navitem {
	background-color: #CC9933;
}
div.navt-wrap div.cs6 div.item-wrapper {
	color: #000;
}
div.navt-wrap img.i-codeblock {
	background:url(../images/code.gif) no-repeat;
}
div.navt-wrap img.i-draftpage {
	background:url(../images/draft.gif) no-repeat;
}
div.navt-wrap img.i-draftpage.private {
	background-position: 0px -16px;
}
div.navt-wrap img.i-page {
	background:url(../images/page.gif) no-repeat;
}
div.navt-wrap img.i-page.private {
	background-position: 0px -16px;
}
div.navt-wrap img.i-category {
	background:url(../images/category.gif) no-repeat;
}
div.navt-wrap img.i-category.private {
	background-position: 0px -16px;
}
div.navt-wrap img.i-link {
	background:url(../images/link.gif) no-repeat;
}
div.navt-wrap img.i-link.private {
	background-position: 0px -16px;
}
div.navt-wrap img.i-divider {
	background:url(../images/divider.gif) no-repeat;
}
div.navt-wrap img.i-divider.private {
	background-position: 0px -16px;
}
div.navt-wrap img.i-elink {
	background:url(../images/elink.gif) no-repeat;
}
div.navt-wrap img.i-elink.private {
	background-position: 0px -16px;
}
div.navt-wrap img.i-user {
	background:url(../images/user.gif) no-repeat;
}
div.navt-wrap img.i-user.private {
	background-position: 0px -16px;
}
div.navt-wrap img.i-home {
	background:url(../images/home.gif) no-repeat;
}
div.navt-wrap img.i-home.private {
	background-position: 0px -16px;
}
div.navt-wrap img.i-admin {
	background:url(../images/admin.gif) no-repeat;
}
div.navt-wrap img.i-admin.private {
	background-position: 0px -16px;
}
div.navt-wrap li.asset img.icon, div.navt-wrap li.navitem img.icon {
	cursor: move;
	background-color:transparent;
	height:17px;
	width: 20px;
	margin:2px;
}
div.navt-wrap ul li.navitem {
	background: transparent url(../images/overlay.png) no-repeat top left;
	position: relative;
}
div.navt-wrap div.locked img.icon {
	cursor: default;
}
div.navt-wrap li.navitem.incomplete {
	background: #ccc !important;
}
div.navt-wrap li.navitem.level-0 {
	margin-left: 0;
	width: 190px;
}
.disabled {
	color: #888 !important;
}
.blue {
	color: blue;
}
input[type="text"].disabled {
	background-color: #eee !important;
}
div.navt-wrap .err {
	border: 1px solid red !important;
}
.sort-guide.level-1,
div.navt-wrap ul.sortgroup li.navitem.level-1 {
	margin-left: 10px;
	width:180px;
}
.sort-guide.level-2,
div.navt-wrap ul.sortgroup li.navitem.level-2 {
	margin-left: 20px;
	width:170px;
}
.sort-guide.level-3,
div.navt-wrap ul.sortgroup li.navitem.level-3 {
	margin-left: 30px;
	width:160px;
}
.sort-guide.level-4,
div.navt-wrap ul.sortgroup li.navitem.level-4 {
	margin-left: 40px;
	width:150px;
}
.sort-guide.level-5,
div.navt-wrap ul.sortgroup li.navitem.level-5 {
	margin-left: 50px;
	width:140px;
}

/*------------------------*/
/*- options helper       -*/
/*------------------------*/

#window-mask {
	position: fixed; /* IE6 can't do this */
	top: 0px;
	left: 0px;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0;
	filter: alpha(opacity = 0);
	display:none;
}
#option-outer-wrapper {
    background: #fefefe url(../images/optback.png) repeat-x;
	width: 614px;
	position: fixed; /* IE6 can't do this */
	display:none;
	z-index: 200;
	top: 10px;
	left: 0;
	margin: 0;
	padding: 0;
	border: 2px solid #666;
}
div.optheader {
	margin: 0 auto;
	padding: 0;
	height: 50px;
	text-align:center;
	position:relative;
}
#option-wrapper {
	background-color: transparent;
	position:relative;
	margin: 0 auto;
	padding: 0;
	color: #333;
}
#option-helper {
	position:relative;
	margin:0px auto;
	padding:0;
}
#option-help h3, #option-helper h3 {
	padding: 5px;
}
#option-help h3.pagehdr, #option-helper h3.pagehdr {
	text-align: center;
}
#option-helper #page-options, #option-helper #post-options, #option-helper #cat-options {
	margin-top: 8px;
}
#option-help p.show-hide, #option-helper p.show-hide {
	margin: 0;
	margin-left: 5px;
	__padding-bottom: 4px;
}
#option-help fieldset, #option-helper fieldset {
    background-color: #fefefe;
	border: 1px solid #0033ff;
}
#option-help fieldset legend, #option-helper fieldset legend {
	color: brown;
	margin: 0 0 0 5px;
	font-size: 1em;
}
#option-help fieldset select, #option-helper fieldset select {
	padding: 3px;
	margin:5px;
	background-color: #efefef;
	border: 1px solid #ccc;
	width: 25%;
	color: #0033ff;
}
#option-helper fieldset select#pages-ids, #option-helper fieldset select#posts-ids, #option-helper fieldset select#cats-ids {
    width: 98%;
}
.cdisabled {
	color: #666 !important;
}
#option-helper fieldset {
    background-color: #fefefe;
	border: 1px solid #aaa;
	margin:3px;
    padding:5px;
}
#option-helper div.helpbox,
#option-help div.closeoptionhelp,
#option-helper div.closeoptionhelp,
#option-helper div.closebox {
    height:21px;
	width:21px;
	position:absolute;
	right:8px;
	top:2px;
	z-index:10;
}
#option-helper div.helpbox {
    right: 30px;
}
#option-helper div.helpbox a img, #option-help div.closeoptionhelp a img,
#option-helper div.closeoptionhelp a img, #option-helper div.closebox a img {
    background: url(../images/close.png) no-repeat;
    height: 21px;
	width: 21px;
}
#option-help div.helpbox a img, #option-helper div.helpbox a img {
	background: url(../images/help.png) no-repeat;
	height: 21px;
	width: 21px;
}
#option-help div.closeoptionhelp a:hover img, #option-help div.helpbox a:hover img,
#option-helper div.closebox a:hover img, #option-helper div.closeoptionhelp a:hover img,
#option-helper div.helpbox a:hover img {
	background-position: -21px 0px;
}
#option-helper input {
	padding: 0;
	margin: 0;
}
#option-helper input[type="text"] {
	background-color:#efefef;
	border:1px solid #ccc;
	font-size:1em;
	padding:1px;
	color: #333;
	margin-right: 8px;
}
div.navt-wrap p.cblk {
    position: relative;
}
div.navt-wrap p a div.exdiv {
    background-color:#CCCCCC;
    height:16px;
    width:16px;
}
div.navt-wrap p a.cb-narrow,
div.navt-wrap p a.cb-wide {
    position: absolute;
    left: 90%;
    top: 0;
    z-index:50;
}
div.navt-wrap p a.cb-narrow div.exdiv  {
    background: url(../images/grow.gif) no-repeat top left;
}
div.navt-wrap p a.cb-wide div.exdiv {
    background: url(../images/shrink.gif) no-repeat top left;
}
div.navt-wrap p a.cb-narrow:hover div.exdiv ,
div.navt-wrap p a.cb-wide:hover div.exdiv {
    background-position: 0 -16px;
}
div.navt-wrap textarea.blk-wide {
    width: 500px;
    z-index: 200;
}

/*------------------------*/
/* - delete prompter    - */
/*------------------------*/

#option-helper div.prompt-wrapper {
	padding: 10px 10px 0 10px;
}
#option-helper div.prompt-wrapper ul li {
	display: inline;
	padding: 8px 4px;
}
#option-helper div.prompt-wrapper input[type="button"] {
	background: url(../images/toolbar.png) repeat-x;
	border:1px solid #CCCCCC;
	height:2em;
	width:8em;
	margin-bottom:10px;
}

/*------------------------*/
/*- tabs                 -*/
/*------------------------*/

#option-helper ul.boxtabs {
	padding: 0;
	margin: 0;
}
#option-helper ul.boxtabs li.boxtab {
	float: left;
	display:block;
	padding: 0px 2px 0 1px;
	width: 20%;
}
#option-helper ul.boxtabs li.boxtab h3 {
	text-align: center;
}
#option-helper ul.boxtabs li.boxtab.firsttab {
	padding-left: 15px;
}
#option-helper #settingstab, #option-helper #stylestab,
#option-helper #displaytab, #option-helper #optionstab {
	border-top: 1px solid #ccc;
}
#option-helper #stylestab p, #option-helper #optionstab p {
	margin: 8px 4px;
	color: #333;
	font-size: 1em;
}
#option-helper #optionstab div.rename-errormsg {
	color:red;
    font-size:1em;;
    left:15px;;
    padding-bottom:15px;
    position:absolute;
    bottom: 2px;
    z-index:10;
}
#option-helper ul.boxtabs li.boxtab a h3 {
	background: #eee url('../images/toolbar.png') repeat-x;
	padding: 0 !important;
	line-height: 1.8em;
}
#option-helper ul.boxtabs li.boxtab a h3.dormant {
	background: #eee url(../images/tabdormant.png) repeat-x;
}
#option-helper ul.boxtabs li.boxtab a:hover h3.dormant {
	background: url(../images/toolbar.png) repeat-x;
	color: /* #333; */ #ddd;
}
#option-helper div.groupname {
    background-color: #fefefe;
	margin-top: 8px;
}
div.option-buttons {
	position: relative;
	padding:8px 0px 15px 0pt;
	text-align: center;
}
form#option-form #sbar-panel {
    float:left;
    padding: 8px 8x 0 0;
    height: 275px;
}
form#option-form #sbar-panel ul li {
    padding-left: 3px;
}
form#option-form #sbar-panel fieldset {
    margin-top: 0px;
}
form#option-form {
    background-color: #fefefe;
	padding: 0 10px;
}
form#option-form #other-options ul {
	margin: 0;
	padding: 5px 0;
}
form#option-form #other-options li {
	float: left;
	padding: 3px;
	margin-bottom: 5px;
}
form#option-form ul li {
    background-color: #fefefe;
	padding: 2px;
}
form#option-form ul li.indent {
	margin-left: 8px;
}
div.option-buttons a.bttn {
	margin-right: 10px;
}
form#option-form #settingstab table#style-table td {
	padding: 2px;
}
form#option-form #settingstab table#style-table td input[type='text'] {
	background: transparent;
	border:1px solid #CCCCCC;
	padding:2px;
	width: 190px;
}
form#option-form #settingstab table#style-table td select {
	background:transparent none repeat scroll 0%;
	border:1px solid #CCCCCC;
	padding:2px;
	width: 190px;
}
form#option-form #settingstab table#style-table th {
	width: 200px;
	font-weight: normal;
}
form#option-form #settingstab table#style-table {
	margin: 0 auto;
}

div.lc a.up, div.lc a.dn {
	background: transparent url(../images/left.png) repeat-x 0 0;
	position:absolute;
	width: 16px;
	height: 16px;
	right:19px;
	bottom:1px;
	z-index:10;
}
div.lc a.up {
	background: transparent url(../images/right.png) repeat-x 0 0;
	right:2px;
	z-index:10;
}
div.lc a.up:hover, div.lc a.dn:hover {
	background-position:0 -16px;
}
div.option-buttons a.bttn, div.navt-wrap a.bttn {
	background:#888 url(../images/button-normal.png) repeat-x 0 0;
	border:1px solid #cc9;
	color:#666;
	font-size:11px;
	position:relative;
}

div.navt-wrap a.warn {
	background:#888 url(../images/button-warn.png) repeat-x 0 0;
}
div.option-buttons a.bttn:hover, div.navt-wrap a.bttn:hover {
	background-position:0 -10px;
}
div.navt-wrap a#grp-create, div.navt-wrap a#style-create, div.navt-wrap a#do-restore {
	bottom:0;
	position:absolute;
	right:0;
	z-index:10;
}
div.navt-wrap a#do-styles, div.navt-wrap a#do-backup {
	bottom:0;
	left:0;
	position:absolute;
	z-index:10;
}
div.navt-wrap a#do-reset {
	line-height:3.25em;
}
div.option-buttons a, div.navt-wrap a#grp-create, div.navt-wrap a#style-create,
div.navt-wrap a#do-styles, div.navt-wrap a#do-backup, div.navt-wrap a#do-restore,
div.navt-wrap a#do-reset {
	padding:4px 10px;
}
div.navt-wrap input[type="text"] {
	background-color:#fff;
	border:1px solid #ccc;
	color:#333;
	padding:3px;
	margin-top: 0px;
	margin-bottom: 5px;
}
div.navt-wrap input#new-group-name {
	margin-top: 5px;
}
div.navt-wrap label {
	color:#333;
	font-size:11px;
	letter-spacing:0;
	padding:4px 0 0 4px;
}
.highlight {
	color: #333;
}
.selects,
div.navt-wrap div.group-wrapper #filter select, div.navt-wrap select#css-style,
div.navt-wrap select#default-group, div.navt-wrap select#css-group #selector-action {
	background-color:#fefefe;
	border:1px solid #ccc;
	color:#666;
	width:95%;
	padding:2px;
	margin-top: 5px;
}
div.navt-wrap div.group-wrapper #filter select {
	margin: 8px 0 0 0;
	width:95%;
}
#selector-action {
    width:30% !important;
    margin:0  !important;
}
.center {
	text-align:center;
	margin: 0 auto;
}
div.navt-wrap .info {
	color:#666;
	font-size:11px;
	letter-spacing:0;
	margin-bottom:8px;
}
#navt-footer div.badge {
	background: url(../images/navt-powered.gif) no-repeat;
	width: 85px;
	height: 15px;
	margin: 10px auto;
}
#footer * {
	background: transparent;
}


/*------------------------*/
/*- help window          -*/
/*------------------------*/

#modalOverlay {
  background-color:#000;
  cursor:wait;
}

#modalContainer {
  height:500px;
  width:750px;
  left: 250px;
  top:3%;
  background-color:#fff;
  border:3px solid #000;
}

#modalContainer a.modalCloseImg {
  background:url(../images/x.png) no-repeat;
  width:25px;
  height:29px;
  display:inline;
  z-index:3200;
  position:absolute;
  top:-14px;
  right:-18px;
  cursor:pointer;
}

#dialog {
    width: 100%;
    height: 100%;
    background-color: #fefefe;
    color: #333;
    display:none;
}

#wintitle {
    background-color: #000;
    color: #fff;
    padding: 0;
    margin: 0;
    text-align: center;
}

#wintitle h3 {
    font-size: 1.1em;
    padding: 8px;
}

#target {
    padding: 10px;
}

#dialog {
    position:relative;
}
#target {
    font-size: .90em;
}
#target p {
	margin-bottom:5px;
	margin-left:2px;
	margin-right:2px;
	margin-top:2px;
	padding-bottom:0pt;
	padding-left:0pt;
	padding-right:0pt;
	padding-top:0pt;

}
#target a.definition:hover {
	text-decoration:underline;
}
#target h4, #target h3 {
	color:#000;
	font-size:1.1em;
	padding:0;
	text-align:left;
}
#target h4 {
	font-size:1em;
}
#target div.n-arrow {
	position:relative;
	width:600px;
}
#target .highlight {
	color:#06F;
}
#target #group-toolbar {
	border:none;
	position:absolute;
	right:8px;
	top:8px;
	z-index:10;
}
#target #item-toolbar {
	border:none;
	float:left;
	padding-right:25px;
}
#target ol li {
	padding:2px 0;
}
#target .right {
	float:right;
	padding-left:5px;
	padding-top:5px;
}
#target .left {
	float:left;
	padding-right:5px;
	padding-top:5px;
}
#target ol li ul li {
	padding: 0;
	padding-left:20px;
}
#target ol {
	margin:0;
	padding-top:0;
}
#target h3, #target h3 {
	margin:0;
	padding:5px 0;
	text-align:left;
}
#target #pgb-rap {
    position: absolute;
    top: -16px;
    right: 12px;
    z-index:325;
    width:225px;
}
#target a div.pgbutton {
    background:url(../images/pagebutton.gif) no-repeat 0 0;
    height:32px;
    width: 100px;
    text-align: center;
    padding: 0 3px 0 0;
    margin-top: 15px;
    float: right;
    overflow:hidden;
}
#target a:hover div.pgbutton {
	background-position:0 -32px;
}
#target ul li {
	line-height:1.5em;
	list-style-image:none;
	list-style-position:inside;
	list-style-type:disc;
	padding:1px 0 1px 15px;
}
#target div.pgbutton p {
    margin-top: 8px;
}
#target a.definition, #target h3, #target h4 {
	color:blue;
}
#target  ul {
	padding-left: 0px;
	margin: 0px;
}
#target div.hcontent {
    clear: both;
    padding: 5px;
}

div.sortby {
    font-size: .95em;
    color: #666;
}

div.sortby #cat_sortby_order,
div.sortby #page_sortby_order,
div.sortby #cat_sortby_title,
div.sortby #page_sortby_title,
div.sortby #user_sortby_title,
div.sortby #user_sortby_title {
    margin: 0 4px 0 8px;
}

/*------------------------*/
/*- misc                 -*/
/*------------------------*/

#target .left,
div.navt-wrap .left {
	float:left;
	overflow: hidden;
}

/*-----------------------------------*/
/* Various adjustments for languages */
/*-----------------------------------*/

/* slovak */
form.sk p.label,
form.sk-sk p.label {
    font-size: 1em;
}

div.asset-type.sk div.sortby,
div.asset-type.sk-sk div.sortby {
    color: #333;
    font-size: .7em;
}

div.asset-type.sk div.sortby input.rb,
div.asset-type.sk-sk div.sortby input.rb {
    clear: both;
}

/* German */
div.asset-type.de div.sortby,
div.asset-type.de-DE div.sortby {
    color: #333;
    font-size: .7em;
}

form.de p.label,
form.de-DE p.label {
    font-size: 1em;
}

/* Russian */
div.asset-type.ru div.sortby,
div.asset-type.ru-RU div.sortby {
    color: #333;
    font-size: .7em;
}

form.ru p.label,
form.ru-RU p.label {
    font-size: 1em;
}
