/**
 * NAVT Word Press Plugin
 * Copyright (c) 2006-2008 Greg A. Bellucci/Atalaya Studio
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software
 * and associated documentation files (the "Software"), to deal in the Software without restriction,
 * including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense,
 * and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so,
 * subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial
 * portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
 * LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
 * IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 * WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
 * SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 *
 * @package NAVT Word Press Plugin
 * @author Greg A. Bellucci <greg[AT]gbellucci[DOT]us
 * @copyright Copyright &copy; 2006-2008 Greg A. Bellucci
 * @license http://www.opensource.org/licenses/mit-license.php The MIT License
 * @since .96
 *
 * -----------------------------------------------------------------------------
 * $Id: navtIe6.css 81144 2008-12-19 15:39:14Z gbellucci $:
 * $Date: 2008-12-19 15:39:14 +0000 (Fri, 19 Dec 2008) $:
 * $Revision: 81144 $:
 * -----------------------------------------------------------------------------
 */

body {
	position: relative;
}
* html div.navt-wrap #IEdiv .navt-wrap {
	width: 950px;
	w\idth: 950px;
}
div.navt-wrap #IEdiv #ASSETS ul li.navitem {
	overflow: hidden;
}
div.navt-wrap #IEdiv .left {
	display:inline; /* use inline instead of float: left */
}
div.IEtoolbar #navt-topbar #new-group-name {
	background-color: #fefefe; /* requires a background color */
	border: 1px solid #ccc;
}
div.IEdiv ul li.navitem div.item-option-wrapper input.disabled[type="text"] {
	background-color: #fefefe; /* requires a background color */
	border: 1px solid #888;
}
div.IEdiv ul li.navitem div.item-option-wrapper p, div.IEdiv ul li.navitem div.item-option-wrapper input {
	padding: 2px;
}
div.navt-wrap #IEdiv ul li.group-spacer, div.navt-wrap #IEdiv ul li.navitem div.item-wrapper {
	background-image: none;
	position: relative;
	height: 35px;
}
div.navt-wrap #IEdiv ul li.group-spacer {
	line-height: .1em !important;
	padding: 0 !important;
	margin: 0;
	height: 0 !important;
}
div.navt-wrap #IEdiv .item-title {
	background-color: #fefefe; /* requires a background color */
}

div.item-more-option-wrapper {
    background-color: #efefef; /* requires a background color */
}
div.navt-wrap #IEdiv #list-updates {
	color: #000;
}
div.navt-wrap #IEdiv div.asset-disc, div.navt-wrap #IEdiv div.asset-remove {
	top:18px;
}
/*----------------------*/
/*- Backgrounds/images -*/
/*----------------------*/

/* IE 6 does not support png format */
div.navt-wrap #IEdiv li.navitem div.item-wrapper div.asset-disc a img.disc-button {
	background: url(../images/connect.gif) no-repeat 0 0;
}
div.navt-wrap #IEdiv li.navitem div.item-wrapper div.asset-remove a img.remove-button {
	background: url(../images/delete.gif) no-repeat 0 0;
}
div.navt-wrap #IEdiv li.navitem div.item-wrapper div.asset-remove a img.remove-button {
	background: url(../images/delete.gif) no-repeat 0 0;
}
div.navt-wrap #IEdiv div.lc a.up, div.navt-wrap #IEdiv div.lc a.dn {
	background: transparent url(../images/left.gif) repeat-x 0 0;
}
div.navt-wrap #IEdiv div.lc a.up {
	background: transparent url(../images/right.gif) repeat-x 0 0;
}
div.navt-wrap #IEdiv div.item-wrapper {
}
div.navt-wrap #IEdiv div.cs1 li.navitem {
	background: transparent url(../images/hblue.gif) repeat-x 0 0;
}
div.navt-wrap #IEdiv div.cs2 li.navitem {
	background: transparent url(../images/horan.gif) repeat-x 0 0;
}
div.navt-wrap #IEdiv div.cs3 li.navitem {
	background: transparent url(../images/hgree.gif) repeat-x 0 0;
}
div.navt-wrap #IEdiv div.cs4 li.navitem {
	background: transparent url(../images/hpurp.gif) repeat-x 0 0;
}
div.navt-wrap #IEdiv div.cs5 .navitem {
	background: transparent url(../images/hpink.gif) repeat-x 0 0;
}
div.navt-wrap #IEdiv div.cs6 li.navitem {
	background: transparent url(../images/hbrow.gif) repeat-x 0 0;
}

div.navt-wrap #IEdiv div.cs1 li.navitem.disconnected,
div.navt-wrap #IEdiv div.cs2 li.navitem.disconnected,
div.navt-wrap #IEdiv div.cs3 li.navitem.disconnected,
div.navt-wrap #IEdiv div.cs4 li.navitem.disconnected,
div.navt-wrap #IEdiv div.cs5 li.navitem.disconnected,
div.navt-wrap #IEdiv div.cs6 li.navitem.disconnected {
    background: transparent url(../images/hgrey.gif) repeat-x 0 0;
}

/*------------------*/
/*- Level Movement -*/
/*------------------*/

div.navt-wrap #IEdiv div#container div.group-wrapper div.dropgroup ul.sortgroup li.navitem.level-1 {
	margin-left: 10px;
}
div.navt-wrap #IEdiv div#container div.group-wrapper div.dropgroup ul.sortgroup li.navitem.level-2 {
	margin-left: 20px;
}
div.navt-wrap #IEdiv div#container div.group-wrapper div.dropgroup ul.sortgroup li.navitem.level-3 {
	margin-left: 30px;
}
div.navt-wrap #IEdiv div#container div.group-wrapper div.dropgroup ul.sortgroup li.navitem.level-4 {
	margin-left: 40px;
}
div.navt-wrap #IEdiv div#container div.group-wrapper div.dropgroup ul.sortgroup li.navitem.level-5 {
	margin-left: 50px;
}
/*-----------------*/
/*- Window Mask   -*/
/*-----------------*/

/* IE 6 does not support fixed positioning */
div#window-mask {
	position: absolute;
	z-index: 200;
	height: 1280px;
}
div#option-outer-wrapper {
	position: absolute;
	z-index: 250;
}
/*-----------------*/
/*- Group Options -*/
/*-----------------*/

form#option-form {
	margin-bottom:10px;
	padding: 5px;
}
form#option-form #optionstab ul {
    margin: 0;
	margin-bottom:5px;
}
form#option-form select {
	margin-bottom:5px;
	padding: 3px;
}
form#option-form #post-options fieldset, form#option-form #page-options fieldset {
	padding-left: 8px;
	margin-bottom: 10px;
}
form#option-form ul {
	font-size: 1em;
}
form#option-form ul li {
	padding: 2px;
}
form#option-form div p.label {
	line-height: 140%;
}

/* --------------------------------*/
/* - checkboxes and radio buttons -*/
/* --------------------------------*/

#option-helper input.rb, #option-helper input.cbox {
	background-color:#fff;
	border: none;
}
/*- Save and Save Close Buttons -*/
div.option-buttons {
	clear:both;
	margin: 5px 0;
	padding:20px 0px 15px 0pt;
}
div.option-buttons #saveclose, div.option-buttons #saveonly {
	margin: 10px 8px;
	padding: 5px;
	font-size: 1em;
}

/*---------*/
/*- Items -*/
/*---------*/

li.navitem div.item-wrapper div.asset-options div.options div.item-option-wrapper p.label {
	padding: 0;
	margin: 0;
}
.tbox, .#option-helper input {
	background-color:#efefef;
	border:1px solid #ccc;
	font-size:1.1em;
	padding:3px 5px;
	color: #333;
}
form input.tbox {
	background-color:#fff;
	font-size:1.1em;
	padding:3px 5px;
	color: #333;
}
li.openbox div.asset-options {
	padding: 0;
}
#target ol li {
	margin: 5px 8px 8px 15px;
}
#modalContainer a.modalCloseImg {
  background:url(../images/x.gif) no-repeat;
}
#target a div.pgbutton {
    display:block;
    float:none;
}

#wpcontent select {
    height: 6em;
}
