/**
 * NAVT Word Press Plugin
 * Copyright (c) 2006-2008 Greg A. Bellucci/Atalaya Studio
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software
 * and associated documentation files (the "Software"), to deal in the Software without restriction,
 * including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense,
 * and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so,
 * subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial
 * portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
 * LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
 * IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 * WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
 * SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 *
 * @package NAVT Word Press Plugin
 * @author Greg A. Bellucci <greg[AT]gbellucci[DOT]us
 * @copyright Copyright &copy; 2006-2008 Greg A. Bellucci
 * @license http://www.opensource.org/licenses/mit-license.php The MIT License
 * @since .96
 * -----------------------------------------------------------------------------
 * $Id: restore.css 81144 2008-12-19 15:39:14Z gbellucci $:
 * $Date: 2008-12-19 15:39:14 +0000 (Fri, 19 Dec 2008) $:
 * $Revision: 81144 $:
 * -----------------------------------------------------------------------------
 */
@charset "utf-8";

/* CSS Document */
p {
	line-height: normal;
}
div.completemsg p {
	color: #666;
	font-size: 1.3em;
}
div.wrap {
	font-family: "Trebuchet MS", Arial, Helvetica;
	color: #333;
}
.center {
	text-align: center;
}
span.uline {
	text-decoration: underline;
}
p.instruct {
	color: #666;
	font-size: 1.1em;
}
p.padleft {
	line-height: normal;
	padding: 5px 0 0 15px;
	margin: 0 !important;
}
p.explain {
	color: #2F53FF;
	padding: 0 0 10px 25px;
	line-height: normal;
	margin: 0 !important;
}
p.warn {
    padding-top: 10px;
	font-size: 1.2em;
	color: #BF001A;
}
div.progbar {
	background: url(../images/bar-bg.gif) no-repeat;
	height: 60px;
	width: 514px;
	margin: auto;
}
div.bitem {
	padding-top: 10px;
	padding-left: 7px;
	text-align: left;
}
span.pbox {
	background-color: #FFFFFF;
	position: absolute;
	left: 70%;
	font-family: "Trebuchet MS", Arial, Helvetica;
	font-size: 18px;
	font-weight: bold;
	color: #999;
	text-align: center;
}
span.digit {
    color: blue;
}
p.info {
    font-size: 1.2em;
}
#wpcontent {
    padding-bottom: 0px;
}
#footer {
    margin: 0 0 10px 0;
}
#wpwrap {
    padding-bottom: 20px;
}
.wrap fieldset {
    margin-bottom: 35px;
    border: 1px solid #ccc;
}
hr {
    border:none;
    border-top: 1px solid #ccc;
}
form#navt_restore h3 {
    font-weight: bold;
    padding: 10px 0;
    color: #000;
}
h4 {
    margin:15px 0pt 0pt;
    padding: 0;
}