/*

This is an example file of the Post-Page-Associator style sheet. You can copy
this file into your theme directory and customize it until it fits your needs.

If this file exists in your theme directory it will be included automaticlly
by the plugin.

*/



/* The container with the associated posts */
.associated-posts {
}


/* The container with ONE associated post */
.associated-posts .associated-post {
}


/* The header element with the title of the post */
.associated-posts .associated-post .post-title {
}


/* The link element inside the header with the title of the post */
.associated-posts .associated-post .post-title a {
}


/* The element which contains the post content. (Only if you set up 'show the whole post content.') */
.associated-posts .associated-post .post-content {
}


/* The clearing element. You can use it if you want. */
.associated-posts .clear {
  clear: both;
}

