/*--------------------------------------------------------------
Hello, this is the BuddyPress Default rtl stylesheet.
Right to left styles. This will transform the theme to read from
right to left for languages that support this method.

----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Structural
	1.1 - Content
	1.2 - Header
	1.3 - Footer
	1.4 - Sidebar
2.0 - Non-structural
	2.1 - Text
	2.2 - Headers
	2.3 - Lists
3.0 - Navigation
	3.1 - Pagination
4.0 - WordPress
	4.1 - Alignments
	4.2 - Comments
	4.3 - Gallery
	4.4 - Images
	4.5 - Posts
5.0 - BuddyPress
	5.1 - Activity
		5.1.1 - Activity Listing
		5.1.2 - Activity Comments
	5.2 - Admin Bar
	5.3 - Ajax Loading
	5.4 - Directories - Members, Groups, Blogs, Forums
	5.5 - Error / Success Messages
	5.6 - Forms
	5.7 - Topics and Tables - Forums and General
	5.8 - Headers, Lists and Tabs - Activity, Groups, Blogs, Forums
	5.9 - Private Messaging Threads
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Structure
--------------------------------------------------------------*/
body {
	direction: rtl;
	unicode-bidi: embed;
}
body {
	background: #eaeaea url( ../images/background.gif ) top right repeat-x;
}


/*--------------------------------------------------------------
1.1 - Content
--------------------------------------------------------------*/
div#container {
	border-left: 1px solid #e0e0e0;
	border-right: 0;
}
div#content {
	float: right;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 0;
}
div#content .padder {
	margin-left: 225px;
	margin-right: 0;
	border-left: 1px solid #e4e4e4;
	border-right: 0;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-topleft: 0;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 0;
}
div#content .left-menu {
	float: right;
}
div#content .main-column {
	margin-right: 190px;
	margin-left: 0;
}


/*--------------------------------------------------------------
1.2 - Header
--------------------------------------------------------------*/
#header #search-bar {
	left: 0;
	right: auto;
	text-align: left;
}
#header #search-bar input[type=text] {
	margin-left: 4px;
	margin-right: 0;
}
#header #search-bar input[type=submit] {
	margin-right: 4px;
	margin-left: 0;
}
#header h1 {
	float: right;
	left: auto;
	right: 20px;
}


/*--------------------------------------------------------------
1.3 - Footer
--------------------------------------------------------------*/
#footer-widget-area div.widget-area > ul {
	float: right;
	margin-left: 19px;
	margin-right: 0;
}
#footer-widget-area ul.item-list li img.avatar {
	margin-right: 15px; /* border is 4px */
	margin-left: 0;
}


/*--------------------------------------------------------------
1.4 - Sidebar
--------------------------------------------------------------*/
div#sidebar {
	float: right;
	margin-right: -226px;
	margin-left: 0;
	border-right: 1px solid #e4e4e4;
	border-left: 0;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
}
div#sidebar div#sidebar-me img.avatar {
	float: right;
	margin: 0 0 15px 10px;
}
div#sidebar ul#bp-nav {
	clear: right;
}
#footer-widget-area h3.widgettitle,
div#sidebar h3.widgettitle {
	margin: 25px -19px 10px -20px;
	clear: right;
}
#footer-widget-area ul.item-list img.avatar,
div#sidebar ul.item-list img.avatar {
	margin-left: 10px;
	margin-right: 0;
}
#footer-widget-area div.item-options,
div#sidebar div.item-options {
	margin: -10px -19px 0 -20px;
}
#footer-widget-area div.item-meta,
#footer-widget-area div.item-content,
div#sidebar div.item-meta,
div#sidebar div.item-content {
	margin-right: 38px;
	margin-left: 0;
}


/*--------------------------------------------------------------
2.0 - Non-structural
--------------------------------------------------------------*/
p.postmetadata {
	clear: right;
}


/*--------------------------------------------------------------
2.1 - Text
--------------------------------------------------------------*/
code {
	font-family: "Monaco", courier, sans-serif;
}
blockquote {
	font-family: sans-serif;
}
table th {
	text-align: right;
}
div.author-box,
div.comment-avatar-box {
	float: right;
	margin: 0 0 15px 15px;
	font-family: sans-serif;
}
div.post-content {
	margin-right: 105px;
	margin-left: 0;
}
p.date,
p.postmetadata,
div.comment-meta,
div.comment-options {
	font-family: sans-serif;
}


/*--------------------------------------------------------------
2.2 - Headers
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.3 - Lists
--------------------------------------------------------------*/
div.page ul,
div.page ol,
div.page dl,
div.post ul,
div.post ol,
div.post dl {
	margin: 0 1.5em 18px 0;
}
dl {
	margin-right: 0;
}


/*--------------------------------------------------------------
3.0 - Navigation
--------------------------------------------------------------*/
#navigation {
	text-align: left;
}
#nav {
	margin: 40px 0 0 20px;
}
#nav li {
	margin-left: auto;
	margin-right: 5px;
}
#nav li a {
	text-align: right;
}
#nav li li {
	margin-left: auto;
	margin-right: 0;
}
#nav ul,
#nav .sfhover ul ul,
#nav :hover ul ul {
	left: auto;
	right: -9999px;
}
#nav .sfhover ul,
#nav :hover ul {
	left: auto;
	right: 0;
}
#nav .sfhover ul .sfhover > ul,
#nav :hover ul :hover > ul {
	left: auto;
	right: 125px;
}
.navigation,
.paged-navigation,
.comment-navigation {
	font-family: sans-serif;
}


/*--------------------------------------------------------------
3.1 - Pagination
--------------------------------------------------------------*/
div.pagination .pag-count {
	float: right;
}
div.pagination .pagination-links {
	float: left;
}


/*--------------------------------------------------------------
4.0 - WordPress
--------------------------------------------------------------*/
/*--------------------------------------------------------------
4.1 - Alignments
--------------------------------------------------------------*/
.alignright {
	float: left;
}
.alignleft {
	float: right;
}
.clear {
	clear: right;
}
img.avatar {
	float: right;
}
.accessibly-hidden {
	left: auto;
	right: -999em;
}


/*--------------------------------------------------------------
4.2 - Comments
--------------------------------------------------------------*/
.comments {
	float: left;
}
ol.commentlist li.comment {
	clear: right;
}
.commentlist ul.children {
	margin: 15px 70px 15px 0;
}
.commentlist ul.children ul {
	margin: 0 25px 0 0;
	padding-left: 0;
}
ol.commentlist #respond {
	clear: right;
	margin-left: auto;
	margin-right: 70px;
}
.commentlist ul.children #respond {
	margin-left: 20px;
	margin-right: 35px;
}
ol.commentlist div.comment-avatar-box {
	float: right;
	margin: 15px 0 0 15px;
}
.commentlist ul.children div.comment-avatar-box {
	float: right;
	margin: 0 0 0 10px;
}
#comments ol.commentlist ol {
	margin: 0 2.5em 18px 0;
}
#reply-title small {
	float: left;
}
#reply-title small a {
	margin-right: auto;
	margin-left: 0;
}
#respond .comment-avatar-box {
	float: right;
	margin: 0 0 0 15px;
}
.acomment-options {
	float: right;
	margin-right: 40px;
	margin-left: auto;
}
.comment-options .comment-reply-link,
.comment-options .comment-edit-link {
	margin-left: 5px;
	margin-right: auto;
}


/*--------------------------------------------------------------
4.3 - Gallery
--------------------------------------------------------------*/
dd.wp-caption p.wp-caption-text,
.wp-caption p.wp-caption-text {
	padding: 0 0 5px 4px;
}


/*--------------------------------------------------------------
4.4 - Images
--------------------------------------------------------------*/
/*--------------------------------------------------------------
4.5 - Posts
--------------------------------------------------------------*/
.page .tags,
.post .tags {
	float: right;
}


/*--------------------------------------------------------------
5.0 - BuddyPress
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 - Activity
--------------------------------------------------------------*/
form#whats-new-form h5 {
	margin-right: 76px;
	margin-left: 0;
}
form#whats-new-form #whats-new-avatar {
	float: right;
}
form#whats-new-form #whats-new-content {
	margin-right: 54px;
	padding-right: 22px;
}
form#whats-new-form #whats-new-submit {
	float: left;
}


/*--------------------------------------------------------------
5.1.1 - Activity Listing
--------------------------------------------------------------*/
.activity-header {
	margin-left: 20px;
	margin-right: auto;
}
.activity-list .activity-avatar {
	float: right;
}
.activity-list li.mini .activity-avatar img.avatar,
.activity-list li.mini .activity-avatar img.FB_profile_pic {
	margin-right: 30px;
	margin-left: 0;
}
body.activity-permalink .activity-list li .activity-header > p {
	margin-left: auto;
	margin-right: -35px;
	padding: 5px 35px 0 0;
}
.activity-list li.mini .activity-content p {
	float: right;
}
.activity-list li.mini .activity-meta {
	left: 0;
	right: auto;
}
body.activity-permalink .activity-list li.mini .activity-meta {
	left: 15px;
	right: auto;
}
.activity-list li.mini .activity-comments {
	clear: right;
}
.activity-list li .activity-inreplyto {
	margin-right: 5px;
	margin-left: 0;
	padding-right: 25px;
	padding-left: 0;
	background-position: 100% 0;
}
.activity-list .activity-content {
	margin-right: 70px;
	margin-left: 0;
}
.activity-list li.new_forum_post .activity-content .activity-inner,
.activity-list li.new_forum_topic .activity-content .activity-inner {
	border-left: none;
	margin-left: 0;
	padding-left: 0;
	border-right: 2px solid #EAEAEA;
	margin-right: 5px;
	padding-right: 10px;
}
body.activity-permalink .activity-list li .activity-content {
	margin-right: 185px;
	margin-left: 0;
}
body.activity-permalink .activity-list li .activity-content > p {
	background-position: top right;
	margin-right: -35px;
	margin-left: 0;
	padding: 5px 38px 0 0;
}
.activity-list .activity-content > p > a:first-child,
span.highlight,
.activity-list .activity-content > .comment-header > a:first-child {
	margin-left: 3px;
	margin-right: 0;
}
.activity-list .activity-content img.thumbnail {
	float: right;
	margin: 0 0 5px 10px;
}
.activity-list li.load-more {
	border-left: 1px solid #ddd;
	border-right: 0;
}
a.bp-secondary-action,
span.highlight {
	margin-left: 5px;
	margin-right: auto;
}
.activity-list .activity-content .activity-inner,
.activity-list .activity-content blockquote {
	margin-left: 10px;
	margin-right: 0;
}


/*--------------------------------------------------------------
5.1.2 - Activity Comments
--------------------------------------------------------------*/
div.activity-comments {
	margin: 0 70px 0 0;
}
body.activity-permalink div.activity-comments {
	margin-right: 185px;
	margin-left: 0;
}
div.activity-comments ul {
	clear: right;
}
div.activity-comments > ul {
	padding: 0 10px 0 0;
}
div.activity-comments ul li > ul {
	margin-left: 0;
	margin-right: 30px;
	padding-left: 0;
	padding-right: 10px;
}
div.activity-comments div.acomment-avatar img {
	float: right;
	margin-left: 10px;
	margin-right: 0;
}
div.activity-comments div.acomment-content {
	margin-left: 0;
	margin-right: 40px;
}
div.activity-comments form.ac-form {
	margin: 10px 33px 10px 0;
	border-left: 1px solid #ddd;
	border-right: 0;
}
div.activity-comments li form.ac-form {
	margin-left: 15px;
	margin-right: 0;
}
div.activity-comments form.root {
	margin-right: 0;
}
div.activity-comments form.loading {
	background-position: 88% 95%;
}
div.activity-comments form div.ac-reply-avatar {
	float: right;
}
div.activity-comments form div.ac-reply-content {
	margin-right: 50px;
	margin-left: 0;
	padding-right: 15px;
	padding-left: 0;
}
body.activity-permalink div.activity-comments > ul {
	padding: 0 15px 0 10px;
}


/*--------------------------------------------------------------
5.2 - Admin Bar
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.3 - Ajax Loading
--------------------------------------------------------------*/
a.loading {
	background-position: 5% 50% !important;
	padding-left: 25px !important;
	padding-right: 0 !important;
}


/*--------------------------------------------------------------
5.4 - Directories - Members, Groups, Blogs, Forums
--------------------------------------------------------------*/
div.dir-search {
	float: left;
}


/*--------------------------------------------------------------
5.5 - Error / Success Messages
--------------------------------------------------------------*/
span.activity,
div#message p {
	border-left: 1px solid #FFE8C4;
	border-right: 0;
}


/*--------------------------------------------------------------
5.6 - Forms
--------------------------------------------------------------*/
.standard-form#signup_form div.submit {
	float: left;
}
.standard-form#signup_form div.signup-avatar {
	margin-left: 15px;
	margin-right: 0;
}
.standard-form div.submit input {
	margin-left: 15px;
	margin-right: 0;
}
.standard-form div.radio ul {
	margin: 10px 38px 15px 0;
}
.standard-form #basic-details-section,
.standard-form #blog-details-section,
.standard-form #profile-details-section {
	float: right;
}
.standard-form #profile-details-section {
	float: left;
}
.standard-form #blog-details-section {
	clear: right;
}
a.button,
input[type=submit],
input[type=button],
ul.button-nav li a,
div.generic-button a {
	background-position: right top;
}
div.accept, div.reject {
	float: right;
	margin-left: 0;
	margin-right: 10px;
}
ul.button-nav li {
	float: right;
	margin: 0 0 10px 10px;
}


/*--------------------------------------------------------------
5.7 - Topics and Tables - Forums and General
--------------------------------------------------------------*/
table tr td.label {
	border-left: 1px solid #eaeaea;
	border-right: 0;
}
table.forum tr.closed td.td-title {
	padding-right: 35px;
	padding-left: 0;
	background-position: 5% 50%;
}
table.forum tr > td:first-child,
table.forum tr > th:first-child {
	padding-right: 15px;
	padding-left: 0;
}
table.forum tr > td:last-child,
table.forum tr > th:last-child {
	padding-left: 15px;
	padding-right: 0;
}
table.forum tr th#th-title,
table.forum tr th#th-poster,
table.forum tr th#th-group,
table.forum td.td-poster,
table.forum td.td-group,
table.forum td.td-title {
	text-align: right;
}
table.forum td img.avatar {
	margin-left: 5px;
	margin-right: 0;
}
ul#topic-post-list li div.post-content {
	margin-right: 54px;
	margin-left: 0;
}
div.admin-links {
	left: 25px;
	right: auto
}
div#topic-meta div.admin-links {
	left: 0;
	right: auto;
}


/*--------------------------------------------------------------
5.8 - Headers, Lists and Tabs - Activity, Groups, Blogs, Forums
--------------------------------------------------------------*/
div#item-header img.avatar {
	float: right;
	margin: 0 0 25px 15px;
}
div#item-header span.activity {
	margin: 0 4px 5px 0;
}
div#item-header div#item-actions {
	float: left;
	margin: 0 15px 15px 0;
	text-align: left;
}
div#item-header ul li {
	float: left;
}
div#item-header div.generic-button,
div#item-header a.button {
	float: right;
	margin: 10px 0 0 10px;
}
ul.item-list li img.avatar {
	float: right;
	margin: 0 0 0 10px;
}
ul.item-list li div.item-desc {
	margin: 10px 64px 0 0;
}
ul.item-list li div.action {
	left: 0;
	right: auto;
	text-align: left;
}
div.item-list-tabs {
	clear: right;
}
div.item-list-tabs ul li {
	float: right;
	margin: 5px 5px 0 0;
}
div.item-list-tabs ul li:first-child {
	margin-left: 0;
	margin-right: 20px;
}
div.item-list-tabs ul li.last {
	float: left;
	margin: 7px 0 0 20px;
}
ul li.loading a {
	background-position: 8% 50%;
	padding-left: 30px !important;
	padding-right: 0 !important;
}
div#item-nav ul li.loading a {
	background-position: 12% 50%;
}
div.item-list-tabs ul li.feed a {
	background-position: right center;
	padding-right: 20px;
	padding-left: 0;
}


/*--------------------------------------------------------------
5.9 - Private Messaging Threads
--------------------------------------------------------------*/
div.messages-options-nav {
	text-align: left;
}
div#message-thread img.avatar {
	float: right;
	margin: 0 0 0 10px;
}
div#message-thread strong span.activity {
	margin: 4px 10px 0 0;
}
div#message-thread div.message-content {
	margin-right: 45px;
	margin-left: 0;
}
div#message-thread div.message-options {
	text-align: left;
}