.wp_carousel_tabs {
	margin:20px 0 0 0;
	border:1px solid #dfdfdf;
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background:#dfdfdf url(../../../../wp-admin/images/gray-grad.png) repeat-x scroll left top;
}

.wp_carousel_tabs ul { }

.wp_carousel_tabs ul li {
	padding:10px 20px;
	display:block;
	float:left;
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

.wp_carousel_tabs ul li.right, form .right { float:right; }

.wp_carousel_tabs .padding { position:relative; top:5px; left:0px; }

.wp_carousel_tabs ul li.ui-tabs-selected { background:#999; }

.wp_carousel_tabs ul li.ui-tabs-selected a {
	color:#FFF;
	text-decoration:none;
}

.wp_carousel_tabs .ui-tabs-panel {
	padding:5px;
	background:#FFF;
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

#content_posts, #content_pages, #content_categories, #show_in_loop_div, #posts_set_number, #posts_set_order { }

.wp_carousel_tabs textarea {
	width:100%;
	height:100%;
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

a.button-delete {
	background:url(../img/red-gradient.png) top left repeat-x;
	border:1px solid #FF0000;
	color:#FFF;
}

a.button-delete:active {
	background:url(../img/red-gradient.png) bottom left repeat-x;
	border:1px solid #FF0000;
	color:#FFF;
}

a.button-delete:hover {
	border:1px solid #7C0000;
	color:#FFF;
}

.img-left { float:left; }

.adapt-other-img-content { padding:5px; position:relative; left:7px; }

#items_in_carousel, #will_be_deleted {
	width:29%;
	margin-left:71%;
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background:#636363 url(../../../../wp-admin/images/fav.png) repeat-x scroll left top;
}

#items_addable_carousel {
	width:69%;
	float:left;
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background:#dfdfdf url(../../../../wp-admin/images/gray-grad.png) repeat-x scroll left top;
}

#items_addable_carousel h3 {
	margin:0;
	padding:10px;
}

#items_in_carousel h3, #will_be_deleted h3 {
	margin:0;
	padding:7px;
	font-style:normal;
	font-size:15px;
	color:#FFF;
}

hr.fixer { background:#f9f9f9; height:1px; border:none; margin:0; padding:0; }

.items_padder {
	margin:1px;
	padding:5px;
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background:#f1f1f1;
}

#items_addable_carousel .items_padder { background:#FFF; }

.wp_carousel_ui-state-highlight {
	margin:10px 0;
	height:50px;
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px dashed #dfdfdf;
	background:#f9f9f9;
}

#items_addable_carousel  .item, #items_addable_carousel .wp_carousel_ui-state-highlight {
	margin-left:1%;
	width:48%;
	float:left;
}

.item {
	margin:10px 0;
	border:1px solid #dfdfdf;
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background:#dfdfdf url(../../../../wp-admin/images/gray-grad.png) repeat-x scroll left top;
}

.item h4 {
	margin:0;
	padding:10px;
	color:#000;
}

.item_content {
	padding:5px;
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background:#FFF;
}

.item_content .adapt-other-img-content { margin-right:5px; }

.item:hover .right { display:block; }

.item .right { display:none; }

#items_in_carousel h3.desc_title {
	display:inline;
	border:1px solid #dfdfdf;
	padding:2px 5px;
	-moz-border-radius:4px 4px 0 0;
	-khtml-border-radius:4px;
	-khtml-border-bottom-left:0;
	-khtml-border-bottom-right:0;
	-webkit-border-radius:4px;
	-webkit-border-bottom-left-radius:0;
	-webkit-border-bottom-right-radius:0;
	border-radius:4px;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	background:#dfdfdf;
	color:#666;
	font-size:10px;
}

.item_description {
	border:1px solid #dfdfdf;
	padding:2px;
	-moz-border-radius:0 4px 4px 4px;
	-khtml-border-radius:4px;
	-khtml-border-top-left:0;
	-webkit-border-radius:4px;
	-webkit-border-top-left-radius:0;
	border-radius:4px;
	border-top-left-radius:0;
}

.items_actions { margin: 0 0 5px 0; }

.loop_info_container { margin:5px 0; }

.items_actions .item_description { padding:5px; }

.right { float: right; }

dt {
	width:49%;
	float:left;
}

dd {
	margin-left:50%;
	width:49%;
}

dd input, dd select { width:75%; }

.clear_dl {
	clear:right;
	width:100%;
	height:30px;
}

.wp_carousel_delete_carousel_item { color:#d54e21; }

.wp_carousel_delete_carousel_item:hover {
	background:#d54e21;
	color:#FFF;
}

hr.wp_carousel_admin_separator {
	border:none;
	background:none;
	height:15px;
}

.right_message {
	float:right;
	width:75%;
	display:block;
}

#wp_carousel_ajax_loader {
	width:40px;
	height:40px;
	position:fixed;
	bottom:0px;
	left:0px;
	z-index:0;
}

#wp_carousel_ajax_loader div {
	width:40px;
	height:40px;
	background:url(../img/ajax-loader-bg.png) top right no-repeat;
	display:block;
}

#wp_carousel_ajax_loader div img { padding:5px 5px 3px 3px; }

.changes_saved {
	background:#B2F200;
	border-color:#90C200;
}

.survey {
	background:#549DC5;
	border-color:#1D3C6F;
	color:#FFF;
}

.survey a { color:#CCC; }

.wp_carousel_help_separator {
	height:1px;
	border:none;
	background:#DFDFDF;
}

#carousel_id { display:none; }

.wp_carousel_available_theme { padding:20px; }

.wp_carousel_available_theme.center { padding-top:0px; }

.wp_carousel_available_theme .screenshot {
	padding:1px;
	border:1px solid #DDD;
	display:block;
}

#availablethemes { border-top:1px solid #DDD; }

#availablethemes td { 
	border-top:1px solid #DDD;
	border-bottom:1px solid #FFF;
}
