/* Profile field group main admin page */
div#icon-buddypress {
	background: url( ../../../bp-core/images/icons32.png ) no-repeat -4px 0px;
}

#tabs-bottom {
	background: #DFDFDF url(../../../../../wp-admin/images/gray-grad.png) repeat-x scroll 0% 0%;
	height: 32px;
	border: 1px solid #ccc;
	-moz-border-radius: 0 0 6px 6px;
	-khtml-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

#tabs {
	position: relative;
	}
	p.nofields {
		margin-top: 20px;
	}

	/* Field group tabs */
	ul#field-group-tabs {
		float: left;
		padding: 0 0 0 15px;
		display: none;
	}
		ul#field-group-tabs li {
			float: left;
			margin-bottom: -1px;
			background-color: transparent;
			margin-right: 8px;
		}
		ul#field-group-tabs li.ui-state-hover {
			background-color: #fafafa;
		}
		ul#field-group-tabs li.ui-state-hover a.ui-tab {
			border-color: #bbb #bbb #ccc #bbb;
			color: #888;
		}
		ul#field-group-tabs li.ui-state-acceptable a.ui-tab {
			border-color: #5a5 #5a5 #ccc #5a5;
			color: #8a8;
			background-image: url(../images/plus.gif);
			background-color: #efe;
		}
			ul#field-group-tabs li.ui-tabs-selected.ui-state-acceptable a.ui-tab {
				background-color: #ECECEC;
				background-image: url(../images/cross.gif);
			}
		ul#field-group-tabs li.drop-candidate a.ui-tab {
			background-color: #ffc;
			border-color: #aa5 #aa5 #ccc #aa5;
			color: #aa8;
		}
		ul#field-group-tabs li a.ui-tab {
			display: block;
			margin-top: 3px;
			padding: 5px 10px 5px 28px;
			border: 1px solid #ccc;
			border-bottom: none;
			-moz-border-radius: 6px 6px 0 0;
			-khtml-border-radius: 6px 6px 0 0;
			-webkit-border-radius: 6px 6px 0 0;
			border-radius: 6px 6px 0 0;
			text-decoration: none;
			background: #F4F4F4 url(../images/move-x.gif) 7px 55% no-repeat;
			color: #888;
		}

		/* Selected tab */
		ul#field-group-tabs li.ui-tabs-selected a.ui-tab {
			background-color: #ECECEC;
			margin-top: -1px;
			padding: 7px 10px 7px 28px;
			border: 1px solid #ccc;
			border-bottom: 1px solid transparent;
			color: #000;
			font-weight: bold;
		}

	/* Toolbar */
	.tab-toolbar {
		background: #ddd url(../../../../../wp-admin/images/gray-grad.png) repeat-x scroll 0% 0%;
		border-width: 1px 1px 0px;
		-moz-border-radius: 6px 6px 0 0;
		-khtml-border-radius: 6px 6px 0 0;
		-webkit-border-radius: 6px 6px 0 0;
		border-radius: 6px 6px 0 0;
		margin: -20px -21px 20px -21px;
		clear: left;
		padding: 10px;
		border: 1px solid #ccc;
	}

	.tab-toolbar a.button {
		padding: 5px 10px;
	}

	.tab-toolbar a.deletion {
		color: #f00;
		border-bottom: 1px solid #f00;
		font-size: 11px;
		text-decoration: none;
		padding: 0 2px;
		margin-top: -2px;
	}

	div.tab-wrapper {
		background-color: #f9f9f9;
		clear: left;
		padding: 20px;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		-moz-border-radius: 6px 6px 0 0;
		-khtml-border-radius: 6px 6px 0 0;
		-webkit-border-radius: 6px 6px 0 0;
		border-radius: 6px 6px 0 0;
	}

	.tab-wrapper fieldset {
		position: relative;
		cursor: default !important;
		background: inherit;
		}
		.tab-wrapper fieldset legend {
			padding-bottom: 15px;
			font-weight: bold;
		}
	.tab-wrapper .xprofile-field {
		position: relative;
	}
	.tab-wrapper fieldset fieldset {
		position: relative;
		border: 1px solid #ddd;
		-moz-border-radius: 6px;
		-khtml-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 5px;
		margin: 10px 0 0 0;
		cursor: move !important;
		background: #fcfcfc url(../../../../../wp-admin/images/gray-grad.png) repeat-x scroll 0% 0%;
	}
	.tab-wrapper fieldset fieldset legend {
		position: absolute !important;
		top: 0;
		left: 0;
		width: 80%;
		padding: 30px;
	}
	.tab-wrapper fieldset fieldset legend span {
		position: absolute;
		top: 6px;
		left: 30px;
		font-weight: bold;
		width: 100%;
	}
		.field-group fieldset:hover {
			background-color: #fafafa;
			border-color: #ccc;
		}
		fieldset div.field-wrapper {
			padding-left: 30px;
			padding: 40px 10px 10px 10px;
			background: url(../images/move.gif) 6px 6px no-repeat transparent;
		}
	fieldset.radio div div,
	fieldset.checkbox div {
		float: left;
	}
	fieldset.radio div div label,
	fieldset.checkbox div label {
		margin-right: 20px;
	}

	fieldset.clear-value {
		margin-left: 10px;
	}
	.field-group div.actions {
		position: absolute;
		right: 10px;
		top: 6px;
	}
	.field-group fieldset:hover div.actions {
		display: block;
	}
	.field-group fieldset.ui-sortable-placeholder {
		border: 1px dashed #999;
		background-color: #eee;
		visibility: visible !important;
	}

	ul.forTab {
		list-style: none;
		padding: 0;
		margin: 0 0 0 1em;
	}
		ul.forTab li {
			margin: 0 0 1em 0;
		}

			ul.forTab li label {
				display: block;
			}

			ul.forTab li input {
				font-size: 1.4em;
			}

	p.success { background: green;}
	p.err {
		border-top: 2px solid red;
		border-bottom: 2px solid red;
		color: red;
		padding: 5px 0;
		width: 40%;
	}

	span.desc, span.signup-description {
		display: block;
		font-size: 11px;
		color: #555;
	}

	select.multi-select {
		width:90%;
		height:10em !important;
	}

ul.multi-checkbox {
	margin: 0 5px 0 0px;
	padding: .5em .9em;
	height: 10em;
	overflow: auto;
	list-style: none;
	border: solid 1px #ccc;
	width: 90%;
}

ul.multi-checkbox li {
	padding: 0;
	margin: 0;
}

div.options-box {
	margin-left: 20px !important;
	margin-right: 10px !important;
	border-left: 4px solid #EAF3FA;
	padding-left: 15px;
}

th a {
	background: #fff;
	padding: 2px 5px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	top: -2px;
}

textarea#description {
	border: 1px solid #ddd;
	width: 85%;
}